[2021-12-07 00:26] rpetit3 commented on #255
Not a problem.

I think at 32 cores, your will probably be looking at a month or so to process 10k S. aureus genomes

[2021-12-07 00:50] sepidehalamouti commented on #255
Thank you Robert. I will update(/hopefully not bothering) you, after trying the new version

[2021-12-07 03:12] rpetit3 commented on #255
No worries, please let me know if there's anything I can do to help on my end

[2021-12-07 11:17] Najmabms commented on #253
Hi, Sorry for the delay. I was unable to enter the server for a while and check the files.
I tried applying this tip that appeared at the end of the error.

Tip: you can replicate the issue by changing to the process work dir and entering the command bash

and after doing do the files (.command.err, .command.log, .command.out)  disappeared and the followings were created:
SRX7032022-genome-size.tx

[2021-12-07 11:22] Najmabms commented on #253
This is what I get during the run:
If something looks wrong, now's your chance to back out (CTRL+C 3 times).
Sleeping for 5 seconds...
executor >  local (21)
executor >  local (22)
[b3/b15679] process > gather_fastqs (SRX7032024)        [100%] 5 of 5 ✔
executor >  local (22)
[b3/b15679] process > gather_fastqs (SRX7032024)        [100%] 5 of 5 ✔
executor >  local (24)
[b3/b15679] process > gather_

[2021-12-08 03:43] rpetit3 commented on #253
This is actually very useful. These two processes only call two programs: fastqc and fastq-scan.

What does the content of `original_summary/qc_original_summary.versions`  look like. I think that will be helpful.

[2021-12-08 04:16] rpetit3 commented on #246
Hi @safinaARK

I've released a new version of Bactopia (https://github.com/bactopia/bactopia/releases/tag/v2.0.0). This may suit you a little better.

Cheers,
Robert

[2021-12-08 11:16] shlomobl commented on #193
Hi all,
I'm having a similar error so I thought to post in the same thread.
I'm having this error after upgrading to bactopia 2.0 (previous version passed this stage fine)...

Error executing process > 'BACTOPIA:MINMER_QUERY (CAF75362 - genbank-k31)'

Caused by:
  **Index 2 out of bounds for length 2**

Source block:
  dataset_basename = dataset.getSimpleName()
  dataset_info = dataset_basename.sp

[2021-12-08 11:17] shlomobl commented on #193
I can see a ".getSimpleName" there. Could be the same issue?

[2021-12-08 13:38] Najmabms commented on #253
this is the content of the file:

Timestamp
2021-11-30T12:13:26+04:00
# FastQC Version
Error: Could not find or load main class uk.ac.babraham.FastQC.FastQCApplication
Caused by: java.lang.ClassNotFoundException: uk.ac.babraham.FastQC.FastQCApplication

[2021-12-09 16:13] llk578496 opened #259 "[question] Tutorial for having Nanopore reads only"
Hi @rpetit3 ,

Thank you so much for upgrading `Bactopia` to v2 which included supports for only Nanopore reads! We have been waiting for a very long time!

May I know is there a tutorial part in the `Bactopia` documentation which will include the analysis for only Nanopore reads? (e.g. `bactopia prepare` for Nanopore only reads)

Thank you very much!

[2021-12-09 16:18] rpetit3 commented on #259
Totally! I'll put this on my list for updating the docs

[2021-12-09 16:19] llk578496 commented on #259
Thank you so much!

[2021-12-09 22:18] sepidehalamouti commented on #255
Hi Robert,
I'm have updated to  v2.0.0 and rebuilding the database using the new version. Now, I see an error related to failing to make the gather-samples directory.

/data/home/salamouti/anaconda3/envs/bactopia/bin/bactopia --accession SRX4563634 --use_ena --datasets /data/home/salamouti/bactopia/datasets/ --species "Staphylococcus aureus" --coverage 100 --genome_size median --cpus 4 --outdir /d

[2021-12-09 22:27] rpetit3 commented on #255
Looks like your environments didn't finish building. You can try running with `--force`

[2021-12-09 22:39] sepidehalamouti commented on #255
Thank you Robert,
I'm running the command with the --force but it's taking again too long. And I think it had tried the force automatically in the first trial here is the complete error message (sorry it's too long):

/data/home/salamouti/anaconda3/envs/bactopia/bin/bactopia --accession SRX4563634 --use_ena --datasets /data/home/salamouti/bactopia/datasets/ --species "Staphylococcus aureus" --cove

[2021-12-09 22:44] rpetit3 commented on #255
What does your base Conda environment look like? I'm wondering if some thing there might causing conflicts

[code]

[2021-12-09 22:47] sepidehalamouti commented on #255
(base) 998 salamouti:~$ conda env export
name: base
channels:
  - anaconda
  - dranew
  - bioconda
  - r
  - conda-forge
  - defaults
dependencies:
  - _ipyw_jlab_nb_ext_conf=0.1.0=py37_0
  - _libgcc_mutex=0.1=main
  - _r-mutex=1.0.1=anacondar_1
  - alabaster=0.7.12=py37_0
  - anaconda=2019.10=py37_0
  - anaconda-client=1.7.2=py37_0
  - anaconda-navigator=2.0.4=py37_0
  - anaconda-project=0.8.3=py

[2021-12-09 22:47] sepidehalamouti commented on #255
(bactopia) 1000 salamouti:~$ conda env export
name: bactopia
channels:
  - bioconda
  - r
  - conda-forge
  - defaults
dependencies:
  - _libgcc_mutex=0.1=conda_forge
  - _openmp_mutex=4.5=1_llvm
  - appdirs=1.4.4=pyh9f0ad1d_0
  - ariba=2.14.6=py37hfa133b6_0
  - bactopia=2.0.0=hdfd78af_0
  - bcftools=1.14=h88f3f91_0
  - beautifulsoup4=4.10.0=pyha770c72_0
  - biopython=1.79=py37h5e8e339_1
  - blas=

[2021-12-09 22:52] rpetit3 commented on #255
I bet that's the issue. Looks like there's a lot in the base env that is causing the issue.

Take a look at this for example base env: https://github.com/bactopia/bactopia/issues/244#issuecomment-930744186

[2021-12-09 23:23] sepidehalamouti commented on #255
Thank you Robert. I will look into the #244 issues and try to resolve the base env

[2021-12-09 23:24] rpetit3 commented on #255
I'll stay tuned, let me know if I can help in anyway

[2021-12-10 20:50] sepidehalamouti commented on #255
Thank you Robert,
I looked into docker installation option but unfortunately that is not on option for CentOS6 system. Basically, our OS doesn't accept any container option.
Instead I uninstalled bactopia (originally, had updated to V2). Did a fresh install deactivating from the base environment. But still get the following error:

**bash -c 'mamba env create -f /data/home/salamouti/anaconda3/envs

[2021-12-10 21:08] rpetit3 commented on #255
I think you will need to clean up your `base` environment or completely remove your conda install and reinstall it.

What I think is happening is, at the moment all the programs installed in your `base` are affecting downstream environments.

[2021-12-10 21:09] sepidehalamouti commented on #255
Yes, that's what it seems happening. I'll completely remove my conda install and will update you after

Many thanks,

[2021-12-10 21:34] rpetit3 commented on #255
@sepidehalamouti sending as many helpful vibes as I can your way! Fingers crossed, hopefully this will let you get moving!

[2021-12-10 23:03] sepidehalamouti commented on #255
Thank you Robert for all the kind and supportive vibes. Before, I reinstall conda, can you please let me know if for Bactopia a higher version of glibc required?  "glibc >=2.17,<3.0.a0 needed by kaleido-core-0.2.1-h3644ca4_0". Because if that is the case then glibc 2.12 is the limitation of our current CentOS 6

[2021-12-13 20:54] rpetit3 commented on #255
I'm unsure, I found these for kaleido and glib.
[code]

[2021-12-14 00:35] sepidehalamouti commented on #255
Hi Robert,
In this case since we are not certain, I have the option for setting up another temporary server to establish the Bactopia. Can you please suggest what is the preferred linux distribution as well as the number of cores, memories and space to deal with 1,000-2,000 bacterial genomes on average ( or maximum 10,000 genomes)

[2021-12-14 03:07] brross60 opened #260 "[bug] Failed to launch the Java virtual machine"
Trying to run the pangenome tool and can't seem to get it to work. Help would be amazing !!!!

Code:
bactopia --wf pangenome --bactopia /xxx/scratch/WGS/Illumina.Reads/bactopia --use-roary --include genomes.txt --traits traits.csv
Error:
Failed to launch the Java virtual machine
NOTE: Nextflow is trying to use the Java VM defined by the following environment variables:
 JAVA_CMD: xxxx/.conda/envs/

[2021-12-14 03:29] rpetit3 commented on #260
Hi @brross60

Let's see if we can get this figured out! What kind of system are you running this on? (local, cluster cloud?)

[2021-12-14 12:43] brross60 commented on #260
I am on a cluster. I am guessing it's an issue with the conda environment but not sure how to address a java issue. this is what i get for java -version
openjdk version "10.0.2" 2018-07-17
OpenJDK Runtime Environment Zulu10.3+5 (build 10.0.2+13)
OpenJDK 64-Bit Server VM Zulu10.3+5 (build 10.0.2+13, mixed mode)

[2021-12-14 14:32] rpetit3 commented on #260
Do you by chance have access to docker or Singularity on you cluster? And do you know the scheduler (e.g slurm, sge, etc...)?

[2021-12-16 13:22] haruosuz opened #261 "How to run bactopia tools pirate v2.0.0 with local assemblies"
I run bactopia tools pirate - 1.6.5 with local assemblies (*.fna of completed genomes) using:
[code]

I would be grateful if you could provide the corresponding command to run bactopia tools pirate v2.0.0 with local assemblies.

I installed Bactopia v2 using:
[code]

[2021-12-16 18:43] rpetit3 commented on #261
Great idea @haruosuz , thank you very much. I'll work on getting this added to the docs

[2021-12-17 01:52] kusandeep opened #262 "running GTDB on V2.0[question]"
Hi @rpetit3,

I am wondering if we can run GTDB on bactopia 2.0, if so could you provide me an examples..?
Alternatively, I was thinking to have older version 1.7.X and run GTDB on that. If so any suggestion how can I create a separate conda env for bactopia 1.7..

conda create -n bactopia -c conda-forge -c bioconda bactopia-1.7...?

Thanks,
Sandeep

[2021-12-17 02:09] rpetit3 commented on #262
Hi @kusandeep !

How soon do you need this? I think I have most things set up for it to be in v2, so I can get it added back.

[2021-12-17 02:41] kusandeep commented on #262
I would say the earlier the better. But you are already doing a great job and I don't want to put more pressure..

[2021-12-17 04:45] rpetit3 commented on #262
Good news! I think I have a working subworkflow for GTDB.

Want me create a temporary conda install for you to test it out?

[2021-12-17 05:18] rpetit3 commented on #262
I might need you on this one, the system I have ran out of memory.

[code]

[2021-12-18 15:27] minhtrung1997 opened #263 "[bug]GATHER_SAMPLE BUILD PROBLEM"
**Description**
When I use bactopia , I encounter an err of building gather _sample .2.0.x.

**Steps to Reproduce**
Steps to reproduce the behavior:
`$bactopia-build.py '/home/kt/anaconda3/envs/bactopia/share/bactopia-2.0.x/conda/linux/'  gather_assembles --verbose 2>&1| tee -a bactopia_error.log`

which I trace back error
2021-12-18 10:13:59:root:STDERR -
# >>>>>>>>>>>>>>>>>>>>>> ERROR REPORT <<<

[2021-12-19 01:52] rpetit3 commented on #263
Hi @minhtrung1997

Let's see if we can get this figured out! This looks similar to https://github.com/bactopia/bactopia/issues/255. What does your `base` environment look like?

Also, can you by chance use docker or singularity?

[2021-12-19 03:05] sepidehalamouti commented on #255
Hi Robert,
I installed bactopia on a new Ubuntu system and fresh Conda and still getting error on "gather_sample".

bactopia --use_ena --accession SRX4563634 --datasets datasets/ --species "Staphylococcus aureus" --coverage 100 --genome_size median --outdir ena-single-sample --cpus $(getconf _NPROCESSORS_ONLN)
2021-12-18 21:15:26:root:INFO - Found /home/ubuntu/anaconda3/envs/bactopia/share/bactopi

[2021-12-19 03:28] sepidehalamouti commented on #263
Hi Robert,
I installed bactopia on a new Ubuntu system and fresh Conda and still getting error on **gather_sample** and **unfinished build on the prefix path**.

bactopia --use_ena --accession SRX4563634 --datasets datasets/ --species "Staphylococcus aureus" --coverage 100 --genome_size median --outdir ena-single-sample --cpus $(getconf _NPROCESSORS_ONLN)
2021-12-18 21:15:26:root:INFO - Found /hom

[2021-12-19 05:34] rpetit3 commented on #255
Hmmm, by chance can you install singularity on this system? That might be the best route to take.

Otherwise, I've only tested using Miniconda3 (https://docs.conda.io/en/latest/miniconda.html). I might need to do some testing using Anaconda, to see if I can replicate this issue.

[2021-12-19 06:23] sepidehalamouti commented on #255
I have tried Docker and getting the following error (I'm not familiar with Docker and don't even if my command is right...). As you recommended, I'll try installing singularity

**(base) root@0301b159eeff:/# bactopia build /opt/conda/envs/bactopia/share/bactopia-2.0.x/conda/linux/ /opt/conda/envs/bactopia/share/bactopia-2.0.x/conda/envs/**
2021-12-19 04:01:17:root:ERROR - Unable to find Conda *.ym

[2021-12-19 07:06] rpetit3 commented on #255
To use docker you would just add `-profile docker` to the end of your normal bactopia command

[code]

[2021-12-19 08:38] sepidehalamouti commented on #255
Hi Robert,
To follow the command above, I tried to build the database first but seeing the following error for Bio module

**ubuntu@bactopia1:~$ docker run -i -t e7364a9fb06d**
(base) root@48e8d31b809f:/# bactopia datasets -profile docker
Traceback (most recent call last):
  File "/opt/conda/envs/bactopia/bin/bactopia-datasets.py", line 116, in <module>
    from Bio import SeqIO
**ModuleNotFoundEr

[2021-12-19 19:46] rpetit3 commented on #255
In this case to use docker, do everything like you were before but add `-profile docker` to the bactopia command. No need to use `docker run`

[2021-12-20 00:15] kusandeep commented on #262
seems I am having the same issue and it taking ages.
In   1-1/2 hr run it still at
`(/dataset/SK_PMI/itmp/conda-envs/test-bactopia-gtdb) kumars@grabfopp03:/dataset/SK_PMI/itmp$ bactopia -wf  gtdb --bactopia /bifo/itmp/WenL/bactopia_out/run1/ --gtdb /dataset/datacache/scratch/bactopia/gtdbtk/ --outdir /bifo/itmp/SK_PMI/bactopia_out/wenl/ --cpus 16
2021-12-20 11:53:53:root:INFO - Found /dataset/SK_P

[2021-12-20 00:19] rpetit3 commented on #262
Should be `--wf gtdb` (two `--`)

[2021-12-20 00:23] kusandeep commented on #262
oppsss..

new error now..
`WARN: Found unexpected parameters:
* --cpus: 16
- Ignore this warning: params.schema_ignore_params = "cpus"

Unknown method invocation `contains` on Integer type -- Did you mean?
  toString
`

[2021-12-20 00:33] kusandeep commented on #262
update.

`bactopia --wf  gtdb --bactopia /bifo/itmp/WenL/bactopia_out/run1/ --gtdb /dataset/datacache/scratch/bactopia/gtdbtk/ --outdir /bifo/itmp/SK_PMI/bactopia_out/wenl/ --max_cpus 16
N E X T F L O W  ~  version 21.10.0
Launching `/dataset/SK_PMI/itmp/conda-envs/test-bactopia-gtdb/share/bactopia-2.0.x/main.nf` [sleepy_northcutt] - revision: 81a0ab6755
Unknown method invocation `contains` on Int

[2021-12-20 00:38] rpetit3 commented on #262
Does it work fine without `--max_cpus` ?

[2021-12-20 00:39] kusandeep commented on #262
naa I tried that too. same error.

[2021-12-20 00:53] rpetit3 commented on #262
Fixed it. https://github.com/bactopia/bactopia/commit/fc2f93b306f355fe905c10371a06e4e9908bad92

I'm rebuilding on my personal channel

[2021-12-20 00:57] rpetit3 commented on #262
Ok rebuilt, might need to force update it. Otherwise You can edit this file
[code]

To delete line 17
[code]

[2021-12-20 02:49] kusandeep commented on #262
Ok Shall I delete
"default": 10,  ? in line 17 or how do I update the whole env?

[2021-12-20 02:52] rpetit3 commented on #262
Deleting the line might be easier, but I think for update you would

[code]

[2021-12-20 03:17] kusandeep commented on #262
It seems to be running now but from the last 15 min it trying to create env!!

`[-        ] process > BACTOPIATOOLS:GTDB:CLASSIFY               -
[-        ] process > BACTOPIATOOLS:CUSTOM_DUMPSOFTWAREVERSIONS -
Creating env using mamba: bioconda::gtdbtk=1.7.0 [cache /dataset/SK_PMI/itmp/conda-envs/test-bactopia-gtdb/share/bactopia-2.0.x/conda/envs/env-a1f743fa86e8334b3d87cd1168031a85]`

I'll keep

[2021-12-20 03:19] rpetit3 commented on #262
Can you by chance use docker or Singularity?

[2021-12-20 03:21] kusandeep commented on #262
Let me check with @afmcc

[2021-12-20 03:43] kusandeep commented on #262
Definitely an issue here as it seems to be stuck on this step.

[2021-12-20 03:44] kusandeep commented on #262
and it's failed now
`   Launch Dir       : /bifo/itmp/SK_PMI

[-        ] process > BACTOPIATOOLS:GTDB:CLASSIFY               -
[-        ] process > BACTOPIATOOLS:GTDB:CLASSIFY               -
[-        ] process > BACTOPIATOOLS:CUSTOM_DUMPSOFTWAREVERSIONS -
Error executing process > 'BACTOPIATOOLS:GTDB:CLASSIFY (C6007)'

Caused by:
  Failed to create Conda environment
  command: mamba create -c

[2021-12-20 03:46] kusandeep commented on #262
I do not have mamba installed yet as I am using conda instead,.. Not sure if that's a part of the problem..?

[2021-12-20 08:01] shlomobl opened #264 "[question] FastANI workflow not including samples"
Hi,

I wish to use fastani to compare among ~200 genomes (refs. already included). I am getting the following error...

-------------

Including 234 samples for analysis
CNS51053 does not appear to be a Bactopia sample, skipping...
CVL31423 does not appear to be a Bactopia sample, skipping...
CVL32883 does not appear to be a Bactopia sample, skipping...
Found 231 samples to process

--------------

[2021-12-20 16:05] rpetit3 commented on #264
Yep, that's weird! Let me look into this today.

[2021-12-20 21:17] rpetit3 commented on #264
Slightly embarrassing, but it didn't work because the logic to launch the fastani subworkflow was missing! It'll be fixed in the next version. Want me to make a temporary conda install with this change?

https://github.com/bactopia/bactopia/blob/master/workflows/bactopia-tools.nf#L143-L145

[2021-12-20 22:31] sepidehalamouti commented on #255
Thanks Robert,
Following your suggestion I took the following steps, which resolved the "gathering samples" error. I see one failed attempt related to the "Assembly QC" and a warning for Graphviz.
[ena_single_log.txt](https://github.com/bactopia/bactopia/files/7748260/ena_single_log.txt)

removed Anaconda
installed Miniconda
conda create -n bactopia -c conda-forge -c bioconda bactopia
conda init
c

[2021-12-20 23:48] sepidehalamouti commented on #255
Here is the run summary for ena-multiple-sample
[ena_multiple_log.txt](https://github.com/bactopia/bactopia/files/7748559/ena_multiple_log.txt)
[ena_multiple_nexflow_log.txt](https://github.com/bactopia/bactopia/files/7748560/ena_multiple_nexflow_log.txt)

bactopia --accessions ena-accessions.txt --datasets datasets/ --species 'Staphylococcus aureus' --coverage 100 --genome_size median --outdir en

[2021-12-21 03:18] minhtrung1997 commented on #263
any way, I run in docker and it solves the issue. Thank you very much.

[2021-12-21 04:28] rpetit3 commented on #263
Great glad its working for you! Going to close this for now

[2021-12-21 04:28] #263 closed

[2021-12-21 04:31] rpetit3 commented on #255
Looks like you're moving now!

[2021-12-21 06:40] shlomobl commented on #264
Hi,
If that's not a lot of trouble :-)

On Mon, Dec 20, 2021 at 11:17 PM Robert A. Petit III <
***@***.***> wrote:

--
*Dr. Shlomo Blum, DVM PhD*

*KSVM Bacteriology and Mycology Lecturer*
*Head of Dept. of Bacteriology and Mycology*
*Kimron Veterinary Institute*
*POB 12*
*Bet Dagan, 50250*
*Israel*
*Tel.: +972-3-9681680*
*Mob.: +972-50-6241862*

[2021-12-21 07:14] rpetit3 commented on #264
I think you should be able to do it now!

[code]

Name `temp-bactopia` what ever you like. I made a github action to update this so it's easy to update as needed.

[2021-12-21 07:26] rpetit3 commented on #262
Ok I've updated the bactopia build on `-c rpetit3` to use conda as the default. Let's see if that does it

[code]

[2021-12-21 14:41] brross60 commented on #260
Figure it out. The computing core changed our anaconda3 default version. I got to start working.

[2021-12-21 15:37] brross60 opened #265 "WARN: The operator `first` is useless when applied to a value channel which returns a single value by definition"
Started getting this error last night. Previously I had gotten it to work without the --species. @rpetit3 can you help?

Input (note I change personal IDs to xxx in the paths):
module load anaconda3/2020.11
module load python/2.7.16
conda activate bactopia
bactopia --wf pangenome --bactopia /storage/home/xxx/scratch/WGS/Illumina.Reads/bactopia/xxx --include xxx_genomes.txt --species "Mycobacteroid

[2021-12-21 15:39] rpetit3 commented on #265
Going to look into this shortly. Will update soon. Thank you for posting!

[2021-12-21 17:06] rpetit3 commented on #265
Good news, think I fixed this one: https://github.com/bactopia/bactopia/commit/2fb59142747dec471282d7ddb3ddc35dfa0557be

It'll be in the next version, in the meantime if you want to test it out I've pushed this fix to my personal conda channel

[code]

[2021-12-21 17:06] rpetit3 commented on #260
Great! going to close this for now please feel free to reopen

[2021-12-21 17:06] #260 closed

[2021-12-21 19:50] rpetit3 commented on #255
Going to close this for now, please free to reopen.

[2021-12-21 19:50] #255 closed

[2021-12-21 20:29] brross60 commented on #265
Got it, thank you.  It made it through grabbing the NCBI genomes but it failed to do Prokka because it could not find the command. Prokka is in the pkg folder in the environment but when I tried to call it, it is not found. I reinstalled Prokka 1.14.6 but get the same error.

Example of the output while it ran and what was at the bottom of the report.
executor >  local (5)
[78/87bc9b] process > BA

[2021-12-21 20:39] rpetit3 commented on #265
Hmmm, do you by chance have access to Docker or Singularity?

[2021-12-21 21:41] brross60 commented on #265
I suspect you are right and it's the conda environment. We have anaconda hosted on the servers. I completely deleted conda and reinstalled it but that didn't seem to help.  I have tried the singularity but I found out I don't have permission to path singularities can be run from. I'll keep trying to get it to work.

singularity pull library://rpetit3/bactopia/bactopia
INFO:    Using cached image
W

[2021-12-21 21:57] rpetit3 commented on #265
You can run bactopia as normal through conda, just add a `-profile singularity`

[code]

Also, by chance are running this on a cluster with a scheduler (e.g. SLURM, SGE, etc...)?

[2021-12-21 23:42] sepidehalamouti commented on #255
Thank you Robert.

[2021-12-22 14:38] brross60 commented on #265
I'll try that now. Our cluster uses a Moab scheduler.

[2021-12-22 17:25] rpetit3 commented on #265
No problem! Keep me posted.

Looks like Nextflow has experimental support for MOAB: https://www.nextflow.io/docs/latest/executor.html#moab We could potentially create a config to queue the jobs for you

[2021-12-23 19:47] callaband opened #266 "Use -resume but switch from hybrid Unicycler to paired-end if assembly failed? [question]"
I have two batches of E.coli strains (individual colony isolates, illumina sequencing) that are very large (~1500 and ~1900 samples) and I want to use Unicycler hybrid assembly first, but if it fails, then I want to do just paired end assembly. Long term evolution study - some of them become pretty weird compared to original. Is there a way to do that with -resume or do I need to start a separate

[2021-12-23 20:17] rpetit3 commented on #266
Hi @callaband!

Hmmm, at the moment you are correct there is not a fallback if Unicycler fails, and you would have to rerun with `-resume`. Just to clarify though, these sequences have both Illumina and Nanopore sequencing? (I'm assuming yes, and only asking since only Illumina sequencing was mentioned).

If you think this is a feature you'd like to have (hybrid with Unicycler, if fails assemble o

[2021-12-28 06:53] alarawms opened #267 "[bug] Erro from Bio.Alphabet while building the datasets"
**Description**
While building the datasets I get an error

**Steps to Reproduce**
Steps to reproduce the behavior:
[code]

**Expected Behavior**
"Bio.Alphabet has been removed from Biopython. In many cases, the alphabet can simply be ignored and removed from scripts. In a few cases, you may need to specify the ``molecule_type`` as an annotation on a SeqRecord for your script to work correctly. Pl

[2021-12-28 16:57] rpetit3 commented on #267
Hmmm, I'm wondering if this is related to Ariba.

What does your bactopia conda environment look like?

[2021-12-29 07:40] callaband commented on #266
Hi @rpetit3,

 I think I would want that feature added.  Yes, I have Nanopore sequencing for the parent strain in this evolution experiment and would much prefer hybrid assembly if possible for the subsequent isolates which should in theory be pretty much the same. However, if it fails at hybrid assembly, then it is okay to go to just paired reads based on what is present. Could there be some kind

[2021-12-29 08:33] callaband opened #268 "gather_samples does not exist with previou[bug]"
**Description**
Just updated my bactopia (conda update bactopia) from 1.7.0 to 2.0.0 and now I get an error at the start of the run (gather samples) - 'Conda prefix path does not exist or it's not a directory: /home/user/miniconda3/envs/bactopia/share/bactopia-2.0.x/conda/envs/gather_samples-2.0.x'

When I look into it, that is true, it looks like the new path should be '/home/user/miniconda3/envs

[2021-12-29 15:22] rpetit3 commented on #268
Hi @callaband! Are you running this on a cluster?

[2021-12-29 19:01] callaband commented on #268
Yes

[2021-12-29 20:24] rpetit3 commented on #268
Can you use singularity or docker on your cluster?

I'm wondering if when the job is run on a worker node it no longer has access to `/home/user/miniconda3/envs/bactopia/share/bactopia-2.0.x/conda/envs/gather_samples-2.0.x`

[2021-12-30 04:35] callaband commented on #268
It doesn't look like it - "docker --version" and "singularity version" results in "command not found". I am not an administrator, so it seems like I will not be able to easily add them. If using that would solve the issue, I can talk to my administrator next week about adding them and/or installing bactopia centrally as a conda module.

Perhaps, the only directories I see in /home/user/miniconda3/

[2021-12-30 13:25] Jamesped commented on #268
Similar issue for me. Bactopia worked well in 1.7.0 but always failed in the steps of 'ASSEMBLE_GENOME' and 'ARIBA_ANALYSIS' in 2.0.0.
I worked in the conda environment in a macOSX machine.

Error executing process > 'BACTOPIA:ASSEMBLE_GENOME (SRX)'

Caused by:
  Process `BACTOPIA:ASSEMBLE_GENOME (SRX)` terminated with an error exit status (127)

[2022-01-01 19:27] marwa38 opened #269 "Does bactopia analyzes bacteriophages?"
Hello
Does bactopia analyzes bacteriophages? as I want to reproduce this study: https://www.ncbi.nlm.nih.gov/pmc/articles/PMC4429339/
Thanks
Marwa

[2022-01-02 08:16] rpetit3 opened #270 "Bactopia 2.0.0 not working as expected on macOSX"
Similar issue for me. Bactopia worked well in 1.7.0 but always failed in the steps of 'ASSEMBLE_GENOME' and 'ARIBA_ANALYSIS' in 2.0.0.
I worked in the conda environment in a macOSX machine.

Error executing process > 'BACTOPIA:ASSEMBLE_GENOME (SRX)'

Caused by:
  Process `BACTOPIA:ASSEMBLE_GENOME (SRX)` terminated with an error exit status (127)

_Originally posted by @Jamesped in https://github.c

[2022-01-02 08:18] rpetit3 commented on #270
Hi @Jamesped,

I created a new issue here. I can try to help out, but unfortunately I don't have a reliable Mac system to test with. Can you by chance share anything from the logs that might be helpful?

Thanks!

[2022-01-02 08:21] rpetit3 commented on #268
@callaband

_It doesn't look like it - "docker --version" and "singularity version" results in "command not found". I am not an administrator, so it seems like I will not be able to easily add them. If using that would solve the issue, I can talk to my administrator next week about adding them and/or installing bactopia centrally as a conda module._

I think on clusters Singularity or Docker shoul

[2022-01-02 08:22] rpetit3 commented on #269
Hi @marwa38

I've never actually tried! I don't think it'll hurt to give it a go. Let me know, if there's anything I can help with!

Robert

[2022-01-02 08:23] rpetit3 commented on #266
I'll work on getting this feature added to bactopia. Thank you very much for the feedback!

[2022-01-03 08:21] haruosuz commented on #159
I noticed that the documentation "pirate - Bactopia" (https://bactopia.github.io/bactopia-tools/pirate/) has changed a lot. Is there an archive of the documentation for the Bactopia version 1.X.X?

[2022-01-03 18:16] rpetit3 commented on #267
I've submitted a few PRs (https://github.com/bioconda/bioconda-recipes/pull/32258 and https://github.com/sanger-pathogens/ariba/pull/319) to hopefully fix this.

Related issues on Ariba are here https://github.com/sanger-pathogens/ariba/issues/317 https://github.com/sanger-pathogens/ariba/issues/307

[2022-01-03 21:00] callaband commented on #268
So I guess I'm working on a grid, not a cluster. System admin says docker/singularity are not appropriate for our set-up.

I have access to /home/user/miniconda3/envs/bactopia/share/bactopia-2.0.x/conda/. I do not have access to /home/user/miniconda3/envs/bactopia/share/bactopia-2.0.x/conda/envs/ - the envs folder does not exist (linux and mac sub-directories exist within the conda directory).

I

[2022-01-03 21:21] rpetit3 commented on #268
Is there anything in `--nfconfig /home/user/path/config_bactopia_pbs.txt` that might affect things?

[2022-01-03 22:53] callaband commented on #268
Maybe the conda path? But it looks accurate. This is what it contains:
`process {
   executor = 'pbs'
   queue = 'med8gb'
   clusterOptions = '-l nodes=1:ppn=8,mem=8gb,walltime=4:00:00'
   conda = '/home/user/miniconda3/envs/bactopia'

   withLabel: assemble_genome {
   queue = 'longmem'
   clusterOptions = '-l nodes=1:ppn=12,mem=50gb,walltime=24:00:00'
   }
}`

[2022-01-03 22:59] rpetit3 commented on #268
I know the issue! Its because `--nfconfig` was used, so it skips the auto build step.

You will need run `bactopia build --default`, then I think its should build everything for you.

[2022-01-05 01:09] callaband commented on #268
Yes, that's it - Thank you so much!

[2022-01-05 01:37] rpetit3 commented on #268
Great glad you are moving again! I'm going to be revamping the `bactopia build` process in the near future.

Going to close this for now, please feel free to reopen, and if you ever have any feedback or suggestions please share!

[2022-01-05 01:37] #268 closed

[2022-01-05 02:05] rpetit3 commented on #265
@brross60 let me know if I can help with anything

[2022-01-05 07:56] alarawms commented on #267
solved. now. I don't know what changed, but I pulled the recent changed version.

[2022-01-05 07:56] #267 closed

[2022-01-05 14:16] rpetit3 commented on #267
Great! I patched the bioconda install for Ariba. Glad it worked for you!

[2022-01-06 06:44] chuanfaliu commented on #193
@shlomobl I have the same problem. I changed line 31 from `getSimpleName` to `getBaseName` in `bactopia/share/bactopia-2.0.x/modules/local/bactopia/minmer_query/main.nf`, but it didn't work.

[2022-01-06 06:55] chuanfaliu opened #271 "Error, Caused by: Index 2 out of bounds for length 2 [question]"
Hi all,
I'm having a similar error so I thought to post in the same thread.
I'm having this error after upgrading to bactopia 2.0 (previous version passed this stage fine)...

[code]
_Originally posted by @shlomobl in https://github.com/bactopia/bactopia/issues/193#issuecomment-988722391_

I have the same problem. I changed line 31 from `getSimpleName` to `getBaseName` in `bactopia/share/bactopia-

[2022-01-06 07:19] rpetit3 commented on #271
@chuanfaliu did you by chance rerun bactopia datasets in v2?

The names of the minmer databases changed in v2

[2022-01-06 07:52] #253 closed

[2022-01-06 07:53] rpetit3 commented on #264
Hi @shlomobl

This should now be fixed in v2.0.1 (https://github.com/bactopia/bactopia/releases/tag/v2.0.1).

If not please feel free to reopen!
Robert

[2022-01-06 07:53] #264 closed

[2022-01-06 07:53] rpetit3 commented on #262
Hi @kusandeep

GTDB is now available in v2.0.1 (https://github.com/bactopia/bactopia/releases/tag/v2.0.1), going to close for now. Please feel free to reopen

Robert

[2022-01-06 07:53] #262 closed

[2022-01-06 08:32] chuanfaliu commented on #271
Thank you for your reply. I notice my careless. I will rerun `bactopia datasets` again.

[2022-01-06 08:34] rpetit3 commented on #271
No problem! Let me know if that works for you

[2022-01-06 23:04] Kvass-Toto opened #272 "bakta input directory error"
**Description**
While using the same directory syntax for different tools, bakta throws an error saying it cannot find the post-assembly inputs. Other tools don't throw an error for the exact same directory and everything runs fine.

**Steps to Reproduce**
Steps to reproduce the behavior:
[code]

**Expected Behavior**
Inside the ./data_1 folder are the output folders (Sample_1, Sample_2, ect.) con

[2022-01-06 23:09] rpetit3 commented on #272
Definitely a bug, it's not reporting `--bakta_db` as missing.  Try using `--bakta_db` which should point to a Bakta db.

I'll get the usage fixed in the meantime

[2022-01-06 23:21] Kvass-Toto commented on #272
I tried this:

bactopia --wf bakta_db --bactopia ./data_1

and got:

bakta_db is not an available workflow or Bactopia Tool.

[2022-01-06 23:33] rpetit3 commented on #272
Try this: `bactopia --wf bakta --bactopia ./data_1 --bakta_db <PATH TO BAKTADB>`

[2022-01-08 01:37] chuanfaliu commented on #271
Bingo! The problem have been solved . Thank you very much.

[2022-01-08 01:38] rpetit3 commented on #271
Awesome! Glad its working for you. Going to close this for now, please feel free to reopen

[2022-01-08 01:38] #271 closed

[2022-01-08 03:56] Jamesped commented on #270
I got the same errors when going back to v1.7.1.  I decided to rebuild the datasets with `bactopia datasets' and it came out with this error message:

2022-01-08 11:51:36:root:INFO - Setting up Ariba datasets
2022-01-08 11:51:36:root:INFO - Setting up vfdb_core Ariba dataset
External command failed with exit code 1!

Command:
bash -c 'ariba prepareref -f ./datasets/ariba/vfdb_core.fa -m ./datasets

[2022-01-08 04:06] rpetit3 commented on #270
That's related to `tbb` take a look at this: https://github.com/bactopia/bactopia/issues/200#issuecomment-791398759

[2022-01-10 22:55] Jamesped commented on #270
Hi @rpetit3

I did not find too much useful information in the logs as follows. This pipeline helps a lot in my projects. Thank you for developing it and I am hopeful it can be working again. Thanks.

[03/87f12c] process > BACTOPIA:GATHER_SAMPLES (L09)                 [100%] 1 of 1 ✔
[0c/c85616] process > BACTOPIA:QC_READS (L09)                       [100%] 1 of 1 ✔
[f1/a097f8] process > BACTOPIA:

[2022-01-10 22:56] rpetit3 commented on #270
There should be some `stderr` files in `/Users/james/Desktop/raw/work/bactopia/f1/a097f82bbc703af6115daf80d8f2b0` that might have some useful info in there

[2022-01-11 21:59] rpetit3 commented on #222
@simone-pignotti in v2.0.1 I've added Merlin (https://github.com/bactopia/bactopia/blob/master/subworkflows/local/merlin/main.nf) which is a good example of an optional workflow for species specific tool selection. I think you might be able to use this as an example to implement custom workflows.

How it works is, if a user provides `--ask_merlin`, Bactopia will execute the Merlin. Merlin will the

[2022-01-11 21:59] #222 closed

[2022-01-11 22:01] rpetit3 commented on #238
@Shiyiru323 `checkm` has been given me some issues related to memory consumptoin. As of v2.0.1 it is now optional and requires the `--run_checkm` parameter to run.

I think this issue has been resolved, but incase not please feel free to reopen.

[2022-01-11 22:01] #238 closed

[2022-01-11 22:02] rpetit3 commented on #269
@marwa38 I'm going to go ahead and close this, please feel free to reopen!

[2022-01-11 22:02] #269 closed

[2022-01-11 22:03] rpetit3 commented on #265
@brross60 I'm going to go ahead and close this issue, please feel free to reopen! Cheers!

[2022-01-11 22:03] #265 closed

[2022-01-11 22:06] rpetit3 commented on #236
@kusandeep I'm going to go ahead and close this. I am planning in a future version to add a subworkflow for BLAST (e.g. `bactopia --wf blastn`) to allow this sort of thing.

[2022-01-11 22:06] #236 closed

[2022-01-11 22:07] rpetit3 commented on #236
Ah! Forgot to mention, please feel free to reopen! cheers

[2022-01-11 22:07] rpetit3 commented on #224
I've started adding Terra support via: https://github.com/bactopia/bactopia-wdl

[2022-01-11 22:08] #177 closed

[2022-01-12 08:48] Jamesped commented on #270
I found two error files respectively related to 'ASSEMBLE_GENOME' and 'ARIBA_ANALYSIS' in the working directory. I am not sure if they were helpful.

In the assembly-scan.stderr.txt file, it showed
/Users/jameschen/Desktop/bacto/work/bactopia/1c/fa49319372c2665c11d0a073199ebd/.command.sh: line 36: assembly-scan: command not found

In the ariba.stderr.txt file, it showed

ERROR: I tried to get the

[2022-01-12 15:10] rpetit3 commented on #270
That's related to `tbb` take a look at this: #200 (comment)

I think you'll want to do this
[code]

[2022-01-21 06:58] rpetit3 commented on #272
Hi @Kvass-Toto,

Did the above comment help you out?

[2022-01-24 09:55] mtruglio opened #273 "[bug] species not available from pubMLST.org"
**Description**
Hi, for some reason when trying to add Cutibacterium acnes to the datasets, by running:

bactopia datasets --ariba "vfdb_core,card" --species "Cutibacterium acnes" --include_genus --limit 100 --cpus 40

Everything goes well, except I get "Cutibacterium acnes is not available from pubMLST.org, skipping". Which is actually not true, see https://pubmlst.org/organisms/cutibacterium-acn

[2022-01-24 15:07] hamid89 commented on #247
the issue is still there..... Running: amrfinder -u
Software directory: '/home/hamid/miniconda3/envs/bakcharak/bin/'
Software version: 3.10.5
Running: /home/hamid/miniconda3/envs/bakcharak/bin/amrfinder_update -d /home/hamid/miniconda3/envs/bakcharak/share/amrfinderplus/data
Looking up databases at https://ftp.ncbi.nlm.nih.gov/pathogen/Antimicrobial_resistance/AMRFinderPlus/database/
WARNING: '/ho

[2022-01-24 15:12] rpetit3 commented on #247
Hi @hamid89

What version of Bactopia are you using?

[2022-01-24 16:26] rpetit3 commented on #273
Looks like I need to update my list of available schemas. I'll get this updated in the next version

[2022-01-24 19:55] llk578496 opened #274 "[question] Nanopore only reads analysis skipped CALL_VARIANTS"
Hi @rpetit3

We just tried to analyze only the Nanaopore reads, but seems it skipped the `CALL_VARIANTS` part.

May I ask it is possible to include the `CALL_VARIANTS` analysis in the pipeline with ONT reads only?

[2022-01-24 19:58] rpetit3 commented on #274
Hi @llk578496 ,

Its definitely possible, I unfortunately have not had the time to test different ONT methods for variant calling.

Do you have any recommendations for calling variants with ONT reads?

Cheers,
Robert

[2022-01-25 05:54] llk578496 commented on #274
[Clair3](https://github.com/HKU-BAL/Clair3) and [Medaka](https://github.com/nanoporetech/medaka)+[Longshot](https://github.com/pjedge/longshot) might be good for haploid variant calling.

[2022-01-25 06:20] rpetit3 commented on #274
Great thank you! I'll test these out and update soon!

[2022-01-26 03:34] rpetit3 commented on #273
Hi @mtruglio

I looked into this. Seems like the issue is _Cutibacterium acnes_ is not available from http://pubmlst.org/data/dbases.xml

I'm going to look into the to see if there are alternate ways to programmatically retrieve the current schemas

Cheers

[2022-01-26 03:45] rpetit3 commented on #273
Looked more into this, looks like its still _Propionibacterium acnes_ in the dbases.xml. I've reached out to the pubMLST curator. Will hopefully have an update soon

[2022-01-26 03:45] rpetit3 commented on #273
Haha, just saw your edit! apologies

[2022-01-27 09:05] PHemarajata opened #275 "IndexError during MLST"
Hi! I was trying to process paired-end reads for a Vibrio cholerae isolate. I've already downloaded species-specific dataset and was able to start the workflow but ran into an error during MLST. I checked mlst-blast.stderr.txt and it contained error log below.
[code]
I was just wondering if I did anything wrong. I am not sure what information you would need in order to help me with this issue so p

[2022-01-27 09:10] PHemarajata opened #276 "Sample names in results were all "null" when using FOFN"
Hi! I created the following FOFN:

[code]
However, the workflow did not seem to recognize sample names in the FOFN and created all output files with "null" as sample names. I was wondering if you could kindly help point out what I did wrong. Thank you!

[2022-01-27 13:51] rpetit3 commented on #275
Hi @PHemarajata!

I think you found a fun schema. The error suggests one of the lines does not have the expected number of columns.

I'm going to look into this (https://pubmlst.org/bigsdb?db=pubmlst_vcholerae_seqdef&page=downloadProfiles&scheme_id=1) and update soon.

Cheers,
Robert

[2022-01-27 17:21] rpetit3 commented on #275
Found the issue! There's an extra column that wasn't accounted for `species`

[code]

I'm going fix this so that the extra columns don't cause issues in the future.

Thanks for finding this!

[2022-01-27 18:30] rpetit3 commented on #275
Alright, I've submitted a fix for this: https://github.com/bactopia/bactopia/commit/e0566286bb860e66f1b0da7f3245be2dd9c9005e

It'll be available in the next version

[2022-01-27 18:57] rpetit3 commented on #276
OK, this is now fix in https://github.com/bactopia/bactopia/commit/d9a4ba1dad7dae068742d181611c88517306ae46

It was super subtle, but sample column had a space after it (`sample ` instead of `sample`). To prevent this in the future, the columns will have whitespace removed at the start and end. Did you make this by had or use `bactopia prepare`? Either is fine, just curious if I need to fix someth

[2022-01-27 18:58] rpetit3 commented on #274
@llk578496 do you have a preference over Clair or Medaka+Longshot?

[2022-01-27 19:13] rpetit3 commented on #273
This has been updated on the pubmlst side, and will be fixed in the next version (fix here https://github.com/bactopia/bactopia/commit/e0566286bb860e66f1b0da7f3245be2dd9c9005e)

[2022-01-27 19:14] rpetit3 commented on #273
If you like to give these changes a try, I have a latest build on my personal anaconda channel.

[code]

[2022-01-27 19:35] mtruglio commented on #273
Thanks Robert, I'll test it asap and let you know!

Cheers

________________________________
From: Robert A. Petit III ***@***.***>
Sent: Thursday, January 27, 2022 8:14:17 PM
To: bactopia/bactopia ***@***.***>
Cc: mtruglio ***@***.***>; Mention ***@***.***>
Subject: Re: [bactopia/bactopia] [bug] species not available from pubMLST.org (Issue #273)

If you like to give these changes a try, I have a

[2022-01-28 04:34] llk578496 commented on #274
I prefer using Clair3 because it is easier.

[2022-01-28 09:24] PHemarajata commented on #276
Thank you! I decided to try the latest build but ran into this error.

[code]
I was wondering if this was because I didn't build new datasets within the test-bactopia environment. I just specified the datasets I already built for the latest stable release.

[2022-01-28 16:47] rpetit3 commented on #276
Haha catching me mid version! I've fixed this (https://github.com/bactopia/bactopia/commit/6b2827cd04f51fbe878c58d8f80d4a7579b62f72) and have rebuilt my dev install.

Thank you very much for finding this!

[2022-01-28 16:48] rpetit3 commented on #274
I was leaning that way as well, thank you for the feedback! I'll work on getting in the next version or two.

[2022-01-28 17:00] llk578496 commented on #274
[Call variants in non-diploid organisms (Haploid calling)](https://github.com/HKU-BAL/Clair3#call-variants-in-non-diploid-organisms-haploid-calling)
Hope this tutorial might help!

[2022-01-28 17:27] brross60 commented on #265
Follow up, for others out there. I kept having issues with java and could not use the docker on our server. It turned out that permissions and conda on the server were causing problems. I downloaded Bactopia on our labs in houses computer that has enhancements for analysis like bactopia and it worked!!!! Thank you @rpetit3 rpetit3 for all the help.

[2022-01-28 17:42] brross60 opened #277 "Summary doc for all genomes"
Is there a way to pull the basic stats for all genomes after assembly or annotation? I have ~60 genomes that I ran all at once and it is a lot to go in and out of each folder to pull assembly stats (length, contigs, GC%, etc).

[2022-01-28 18:15] rpetit3 commented on #277
Hi @brross60,

I'm hoping to bring that back in the next version. If you have any ideas or suggestions please feel free to share!

Robert

[2022-02-08 20:31] brross60 opened #278 "BACTOPIATOOLS:PANGENOME:SCOARY` declares 2 input channels but 3 were specified"
**Description**
SCOARY failing = BACTOPIATOOLS:PANGENOME:SCOARY` declares 2 input channels but 3 were specified.
Trait.csv has genome in column 1 and trait as 0 or 1 in column 2.

**Steps to Reproduce**
bactopia --wf pangenome --bactopia /home/xxx/Desktop/Bactopia/ --include /home/xxx/Desktop/Bactopia/geneomes.txt --condadir /home/xxx/Desktop/Bactopia/ --max_time 1000 --traits traits.csv
N E X T F

[2022-02-08 20:48] rpetit3 commented on #278
Great! I was expecting his to be broken, and was waiting for someone with a good example of a traits file to give it a go. (I've never actually used Scoary)

You should be able to use either PIRATE or Roary. Although an empty presence/absence.csv file is no good. I'm going to fix the Scoary part, then if you want to try Roary that would be helpful.

[2022-02-08 21:48] brross60 commented on #278
Oh cool lol. I already tried roary and got this error...

bactopia --wf pangenome --bactopia /home/xxx/Desktop/Bactopia/ --include /home/xxx/Desktop/Bactopia/Emory_geneomes.txt --condadir /home/xxx/Desktop/Bactopia/ --max_time 1000 --traits traits.csv --use_roary
N E X T F L O W  ~  version 21.10.6
Launching `/opt/anaconda/envs/bactopia/share/bactopia-2.0.x/main.nf` [prickly_gutenberg] - revision:

[2022-02-08 21:56] rpetit3 commented on #278
Cool, thank you for finding this.

I've fixed the PIRATE gene_presence_absence.csv outputs. I had the syntax wrong. I've also fixed Scoary.

Going to look into this Roary error now

[2022-02-09 04:49] PHemarajata commented on #276
Thank you! I think we are all good.

[2022-02-09 04:50] PHemarajata commented on #275
Thank you!

[2022-02-09 04:54] rpetit3 commented on #278
Ok think I got these fixed in https://github.com/bactopia/bactopia/commit/bc7eef4608512e43b7767c8bf0a9dcfca1767f14 it'll be in the next version.

If you like to give these changes a try now, I have a latest build on my personal anaconda channel.

[code]

[2022-02-09 04:55] rpetit3 commented on #276
Great, if you run into any other issues let me know! More importantly, after you play around more any feed back would be greatly appreciated!

[2022-02-09 20:54] brross60 commented on #278
Awesome, working on getting this downloaded but have administrative walls to get through. I'll let you know how it works.

[2022-02-10 17:33] rpetit3 opened #279 "How to run Bactopia to get minmers"
Hi Robert,
I've been running bactopia on some sra (multiple) samples to check out species identification .  I used the command with no --species option like:
[code]

When a sample doesn't meet the default genome size, the minmer subdirectory isn't generated, therefore no sampleID-mash-refseq-k21.txt and  sampleID-sourmash-genbank-k21.txt files (need those for the species name).  And I get the file

[2022-02-10 17:36] rpetit3 commented on #279
Also, I wonder if this might help you? https://bactopia.github.io/tutorial/#multiple-samples-fofn

[2022-02-10 17:51] tbazilegith commented on #279
Yeah,
The --datasets option is there in script, forgot to include it the issue
I  also I a script wherein I use the file of file name (fofn). I a have the same issue with a particular sample. It seems like there is a cutoff on the genome size (the allowed size is 1804066). I have 4 samples whose genome sizes scaled: 5065800 - 61139700. The thing is if choose min max I have to add --species option.

[2022-02-10 18:16] tbazilegith commented on #279
Thanks,
 I am going ahead and try with --max_genome_size.
the SRR11086695    Candidatus Udaeobacter  sp. Isolate AEW3 (think this name isn't definitive) - After a bactopia run, the file genome-size error displayds this estimated size 61,139,700. Thus cannot identify it

[2022-02-10 18:26] rpetit3 commented on #279
I think it might be worth looking into why the estimated genome size is 61Mbp (total reads, coverage etc...)

[2022-02-10 21:47] tbazilegith commented on #279
It worked!
Thanks a lot

[2022-02-10 21:54] rpetit3 commented on #279
great! going to go ahead and close this one

[2022-02-10 21:54] #279 closed

[2022-02-14 20:30] jellyvanderwoude commented on #270
Mac OSX and Conda. I just installed assembly-scan independently on Conda, not sure if that is the correct fix or it's something else?

[2022-02-14 20:44] rpetit3 commented on #270
Nope! You found a bug!

`assembly-scan` should be included here https://github.com/bactopia/bactopia/blob/master/bin/helpers/update-conda.sh#L50 Thank you for finding this, I unfortunately can test on OSX at the moment. I'll get this fixed and in the next version (hoping to release next version this week)

[2022-02-15 19:17] jellyvanderwoude opened #280 "mkdir: cannot create directory ‘species-specific/.DS_Store’: Not a directory"
Downloaded the newest version of Bactopia v2 on my computer and I'm setting up the datasets from scratch. When I create the general datasets, it runs fine. When I try to create the Pseudomonas aeruginosa specific datasets, I get this error:

I am deleting the .DS_Store file and proceeding, but I wanted to raise this issue in case it's a bug that needs to be fixed.

[2022-02-15 19:19] rpetit3 commented on #280
Oh this is interesting! Not sure why its trying to write to `.DS_Store`. Let me see if I can get my hands on a Mac and replicate this

[2022-02-15 19:40] rpetit3 commented on #280
Found it! https://github.com/bactopia/bactopia/blob/master/bin/bactopia/bactopia-datasets.py#L843

I'll add a fix to this to ignore folders starting with a `.`

[2022-02-16 06:37] rpetit3 opened #281 "[documentation] improving documentation"
#### Missing metadata on the following

- [x] ./pangenome/meta.yml
- [x] ./gtdb/meta.yml
- [x] ./clonalframeml/meta.yml
- [x] ./mashdist/meta.yml
- [x] ./merlin/meta.yml

#### Misc things
- [ ] Add ONT to tutorial
- [ ] Document difference between `conda`, `docker` and `singularity`

[2022-02-16 17:48] jellyvanderwoude commented on #277
I second this idea! I have 300 samples and it's difficult to go into each folder manually to parse out information. I would love MLST typing to also be included in such a "basic stats" folder. Also for batches of samples that are called against the same reference strain, if there's a way to combine the vcf/ snp calling outputs in some way (not sure if this is outside the scope of Bactopia) so that

[2022-02-17 15:20] brross60 commented on #278
Ok so Roary works now, Whoo hoo! Scoary still does not work because it cant find the traits file.

Error:
[-        ] process > BACTOPIATOOLS:PROKKA:PROKKA_MODULE                   -
[a3/1e7ac3] process > BACTOPIATOOLS:PANGENOME:PG_TOOL:ROARY_MODULE (roary) [100%] 1 of 1 ✔
[-        ] process > BACTOPIATOOLS:PANGENOME:SNPDISTS                     -
[-        ] process > BACTOPIATOOLS:PANGENOME:CLO

[2022-02-17 16:06] rpetit3 commented on #278
Thanks for the update, what was the command used at runtime?

[2022-02-17 16:56] brross60 commented on #278
[code]

The traits file it says it broken. Opened in a text editor its empty
here is the log contents:
0```
2/16/2022 05:19:50 PM    ==== Scoary started ====
02/16/2022 05:19:50 PM    Command: /home/xxx/Desktop/Bactopia/scoary/bin/scoary --p_value_cutoff 0.05 --correction I --start_col 15 --no-time --threads 4 --traits traits.csv --genes gene_presence_absence.csv
02/16/2022 05:19:50 PM    CRITICAL

[2022-02-18 17:25] rpetit3 commented on #278
Ok I'm going to look into this further to see if I can replicate

[2022-02-19 04:51] rpetit3 commented on #278
Hmmm, I wasn't able to reproduce on my end.

My traits file looks like this:

[code]

[2022-02-21 14:31] brross60 commented on #278
Woohoo I got it to work. I think the traits file got messed up in the transfer from mac to linux. Got some cool results too. Have roary + --species running now but as soon as it is done ill try pirate to see how the presence absence file comes out.

[2022-02-21 18:45] rpetit3 commented on #278
That's super exciting! Glad you were able to get it figured out.

I'm going to be releasing v2.0.2 today or tomorrow, which will include fixes to the bugs you found. Thank you so much for bringing it up here!

[2022-02-21 23:20] rpetit3 commented on #278
I've released v2.0.2 (https://github.com/bactopia/bactopia/releases/tag/v2.0.2) which includes this fix.

Going to go ahead and close this issue! Thanks again for all the help!

[2022-02-21 23:20] #278 closed

[2022-02-21 23:21] rpetit3 commented on #280
I've released v2.0.2 (https://github.com/bactopia/bactopia/releases/tag/v2.0.2) which should fix this, let me know if not!

Thanks for the help finding this! Going to close for now

[2022-02-21 23:21] #280 closed

[2022-02-21 23:23] rpetit3 commented on #277
Hello! I've released v2.0.2 (https://github.com/bactopia/bactopia/releases/tag/v2.0.2), in the next version I'm going to focus on being able to generate reports!

@jellyvanderwoude thanks for the kind words and motivation!

[2022-02-21 23:26] rpetit3 commented on #276
I've released v2.0.2 (https://github.com/bactopia/bactopia/releases/tag/v2.0.2) which includes a fix for this issue, but also many other changes! I'm going to go ahead and close this for now, please feel free to reopen!

If you have a moment, could you take a few minutes to fill out a [Bactopia Usage Survey](https://forms.gle/PTgUxEBwCsCdbQjr7)? It really helps me direct the direction of Bactopia'

[2022-02-21 23:26] #276 closed

[2022-02-21 23:26] rpetit3 commented on #275
Thank you for your help with this issue! I've released v2.0.2 (https://github.com/bactopia/bactopia/releases/tag/v2.0.2) which includes a fix for this issue, but also many other changes! I'm going to go ahead and close this for now, please feel free to reopen!

If you have a moment, could you take a few minutes to fill out a [Bactopia Usage Survey](https://forms.gle/PTgUxEBwCsCdbQjr7)? It really h

[2022-02-21 23:26] #275 closed

[2022-02-21 23:27] rpetit3 commented on #273
I've released v2.0.2 (https://github.com/bactopia/bactopia/releases/tag/v2.0.2) which includes a fix for this issue, but also many other changes! I'm going to go ahead and close this for now, please feel free to reopen!

If you have a moment, could you take a few minutes to fill out a [Bactopia Usage Survey](https://forms.gle/PTgUxEBwCsCdbQjr7)? It really helps me direct the direction of Bactopia'

[2022-02-21 23:27] #273 closed

[2022-02-21 23:27] rpetit3 commented on #272
I've released v2.0.2 (https://github.com/bactopia/bactopia/releases/tag/v2.0.2) which includes a fix for this issue, but also many other changes! I'm going to go ahead and close this for now, please feel free to reopen!

If you have a moment, could you take a few minutes to fill out a [Bactopia Usage Survey](https://forms.gle/PTgUxEBwCsCdbQjr7)? It really helps me direct the direction of Bactopia'

[2022-02-21 23:27] #272 closed

[2022-02-21 23:28] rpetit3 commented on #270
Happy to report this is now fixed! I've released v2.0.2 (https://github.com/bactopia/bactopia/releases/tag/v2.0.2) which includes a fix for this issue, but also many other changes! I'm going to go ahead and close this for now, please feel free to reopen!

If you have a moment, could you take a few minutes to fill out a [Bactopia Usage Survey](https://forms.gle/PTgUxEBwCsCdbQjr7)? It really helps m

[2022-02-21 23:28] #270 closed

[2022-02-21 23:29] rpetit3 commented on #279
If you have a moment, could you take a few minutes to fill out a [Bactopia Usage Survey](https://forms.gle/PTgUxEBwCsCdbQjr7)? It really helps me direct the direction of Bactopia's development! Thanks!

[2022-02-21 23:30] rpetit3 commented on #278
If you have a moment, could you take a few minutes to fill out a [Bactopia Usage Survey](https://forms.gle/PTgUxEBwCsCdbQjr7)? It really helps me direct the direction of Bactopia's development! Thanks!

[2022-02-22 19:56] tbazilegith opened #282 "Hi Robert,"

[2022-02-22 20:10] tbazilegith commented on #282
Hi Robert, I'm processing some metagenomic samples that were sequenced through ONT. Each time I run bactopia the only output file generated is sample-genome-size.txt and the run fails. Then I run bactopia on a single sample, same output (barcode01-genome-size.txt) and the run fails again. The genome size is 14594200 lower than the default max. Here is commands I used
 bactopia --sample barcode01 -

[2022-02-22 20:16] tbazilegith commented on #259
Hi Robert,
Is there any update regarding ONT reads?
 I'm processing some metagenomic samples that were sequenced through ONT. Each time I run bactopia the only output file generated is sample-genome-size.txt and the run fails. Then I run bactopia on a single sample, same output (barcode01-genome-size.txt) and the run fails again. The genome size is 14594200 lower than the default max. Here is comm

[2022-02-22 20:23] rpetit3 commented on #259
Next version I will be improving the documentation which will include better demos of nanopore data

[2022-02-22 20:24] brross60 commented on #278
Awesome, thanks again for you help!!!. Not a problem!

[2022-02-22 20:25] rpetit3 commented on #282
Hmmm, bactopia doesn't do so well with metagenomic reads. Is this a diverse meta genome?

Which step is it failing at?

[2022-02-23 16:43] llk578496 opened #283 "[bactopia-tool] Mobile Element Finder"
Tool Name: Mobile Element Finder

Tool Link: https://cge.cbs.dtu.dk/services/MobileElementFinder/

Available on [Bioconda](https://bioconda.github.io/)?  No

Available on [nf-core/modules](https://github.com/nf-core/modules)? No

[2022-02-23 16:50] llk578496 opened #284 "[bactopia-tool] pMLST"
Tool Name: pMLST

Tool Link: https://bitbucket.org/genomicepidemiology/pmlst/src/master/ & https://pubmlst.org/bigsdb?db=pubmlst_plasmid_seqdef

Available on [Bioconda](https://bioconda.github.io/)? No

Available on [nf-core/modules](https://github.com/nf-core/modules)? No

[2022-02-24 00:28] llk578496 opened #285 "[bug] Failed to build the pre-computed Genbank/Refseq minmer datasets"
**Description**
Failed to build the pre-computed Genbank/Refseq minmer datasets. External command failed with exit code 4!

**Steps to Reproduce**
Steps to reproduce the behavior:

[code]

**Expected Behavior**
It should builds datasets normally.

**Execution Environment**

- Bactopia Version: 2.0.2
- OS: Ubuntu
- Environment: conda

[2022-02-24 00:55] rpetit3 commented on #285
Can you verify https://gembox.cbcb.umd.edu/mash/refseq.genomes.k21s1000.msh is working for you?

[2022-02-24 01:03] llk578496 commented on #285
Yes, I could download it, but it said it needs 10 hours. I have been building the datasets normally before.

[2022-02-24 01:45] rpetit3 commented on #285
Ok downloaded in ~2min for me here on west coast of the US.

I wonder if it might be worthwhile to put this on a mirror somewhere

[2022-02-24 02:12] llk578496 commented on #285
Thanks a lot!
I will try to build the datasets later and will keep update here!

[2022-02-25 19:37] rpetit3 opened #286 "[bactopia-tool] mcroni for mobilized colistin resistance"
In order for a tool to be added to [Bactopia Tools](https://bactopia.github.io//bactopia-tools/#available-bactopia-tools), it must be available on  [Bioconda](https://bioconda.github.io/) and [nf-core/modules](https://github.com/nf-core/modules). __But!!__ Don't let that stop you from suggesting a tool! Time permitting and depending on the feasibility I can help you get a tool on Bioconda and/or n

[2022-02-25 19:40] rpetit3 commented on #284
@llk578496 by chance do you know how often pMLST databases are updated?

I'm going to work on getting this onto Bioconda

[2022-02-25 20:02] llk578496 commented on #284
@rpetit3 I think not then often and quite random.

https://pubmlst.org/bigsdb?db=pubmlst_plasmid_seqdef&page=status

You can see from this link for the status of plasmid typing database.

[2022-02-25 20:10] rpetit3 commented on #284
Thanks for this! I'll try to get some free time to get this added to bioconda, once there the rest should be easy

[2022-02-28 09:18] fabgenomics opened #287 "[feature] add custom reference genome to call variant"
**Related To**

- [x] Bactopia
- [ ] Bactopia Tools

**Is this something you would like to see added?**

Hi,
I would like to know if it's possible to add an option to set a custom reference genome for the variant calling step using snippy instead of the nearest reference ?
I saw the --disable_auto_variants option for the Nearest Neighbor Reference Genomes but I don't know how to provide mine.
Mayb

[2022-02-28 16:10] rpetit3 commented on #287
Hi @fabgenomics,

You can add your own reference after building datasets via this method: https://bactopia.github.io/datasets/#reference-genomes

During the `bactopia datasets` step you can use `--reference` to put the file in the right location.

Do you think it would be useful to also be able to give `--reference` when running the Bactopia pipeline?

Cheers,
Robert

[2022-03-01 04:00] llk578496 opened #288 "[question] Bactopia Tools - Kraken2 exits silently without completed process"
Hi @rpetit3 !
We just tried to use the `Kraken2` in `Bactopia Tools`, but it just exit silently without completed process.
May we know do we need to build a `Kraken2` formatted database first?

Thanks a lot!

[2022-03-01 04:02] rpetit3 commented on #288
Looking into this now.

You will need to build a kraken database first, I'd recommend checking these out https://benlangmead.github.io/aws-indexes/

[2022-03-01 04:27] rpetit3 commented on #288
Ok this is fixed: https://github.com/bactopia/bactopia/commit/edafa87905b56ce06a076986730a08430f4c4ba8

Looks like I forgot to add it to the `bactopia-tools` workflow. I've also made `--kraken2_db` a required argument

I'll get a dev build on my personal anaconda channel here so for you to try (there seems to currently be an issue with Github actions)

[2022-03-01 04:34] rpetit3 commented on #288
Seems to have fixed itself

[code]

This should let you keep moving along, let me know if not!

[2022-03-01 14:48] fabgenomics commented on #287
Hi Robert,

Thanks for your quick answer. I missed that parameter in the +100 parameters :)
Here is my command :
`bactopia datasets --species "Escherichia coli" --reference /home/XX/Documents/ref.gbk --force_optional`

Nothing goes to the optional/reference-genomes folder !

Then I putted it manually and it works.

For my point of view it could be a good parameter to add directly --reference in th

[2022-03-02 20:43] rpetit3 commented on #287
so! funny story.

Looks like I started the whole `bactopia datasets --species "XYZ" --reference YOUR_REFERENCE" but never actually completed it. So, that explains why it does work!

I'll work on getting this added to both `bactopia datasets` and `bactopia`

[2022-03-03 00:55] llk578496 opened #289 "[bactopia-tool] KmerFinder 3.2"
Tool Name: KmerFinder 3.2

Tool Link:
KmerFinder Software - https://bitbucket.org/genomicepidemiology/kmerfinder/src/master/
KmerFinder Database - https://bitbucket.org/genomicepidemiology/kmerfinder_db/src/master/
KmerFinder Webserver - https://cge.cbs.dtu.dk/services/KmerFinder/

Available on [Bioconda](https://bioconda.github.io/)?  no

Available on [nf-core/modules](https://github.com/nf-core/

[2022-03-03 18:43] tbazilegith commented on #282
The  run has only generated the file barcode01-genome-size.txt. The job scheduler indicated failed, but the error file is empty, which is likely a sign that ONT only reads are not supported.
Thanks,
TJ

[2022-03-03 19:29] rpetit3 commented on #282
ONT reads  from isolates are supported. Metagenomic reads on the other hand are not supported.

I would need a little more info from the error logs to help determine if the is a bactopia issue or metagenomic reads issue

[2022-03-03 19:44] rpetit3 commented on #282
Ah another thing to consider is you need to give `--ont` to tell Bactopia the input reads are from ONT

[code]

[2022-03-04 14:59] tbazilegith commented on #282
At the genome_size.txt, so the minmers directory was not generated  and...

[2022-03-04 15:50] tbazilegith commented on #282
Great! Adding the option --ont the commands has enabled the generation of the minmers folders.
Thanks Robert! I am actually working on the identification of isolates.
The error log file was always empty with the previous runs that have failed. I think it adding this (--ont) option in the tutorial would be a good idea. Thanks!

[2022-03-07 16:53] lifenske commented on #272
Hi, I'm trying to use bakta but it ended up in the message:

`WARN: Access to undefined parameter
backta_db -- Initialise it to a default value eg. params.backta_db = some_value`

`Cannot invoke method startsWith() on null object`

`backta_db` also looks like a typo, not sure what went wrong there.

My command was:

`bactopia --wf bakta --bactopia agalactiae/ --bakta_db datasets/bakta/db/`

Thank

[2022-03-07 17:17] rpetit3 opened #290 "[bug] typo in bakta subworkflow"
Hi, I'm trying to use bakta but it ended up in the message:

`WARN: Access to undefined parameter
backta_db -- Initialise it to a default value eg. params.backta_db = some_value`

`Cannot invoke method startsWith() on null object`

`backta_db` also looks like a typo, not sure what went wrong there.

My command was:

`bactopia --wf bakta --bactopia agalactiae/ --bakta_db datasets/bakta/db/`

Thank

[2022-03-07 17:19] rpetit3 commented on #290
Hi @ifenske-93

Thank you very much for catching this! I've fixed this typo, and its available on my dev-build.

[code]

This should let you keep moving along, let me know if not!

Cheers,
Robert

[2022-03-08 13:26] llk578496 opened #291 "[feature]"
**Related To**

- [ ] Bactopia Tools - mlst

**Is this something you would like to see added?**
Would be great to have `Clonal Complex` included.

[2022-03-09 08:32] habibdanesh opened #292 "Should we still use the Nextflow wrapper for AWS?"
Hi, I came across your blog "[Using AWS Batch to process 67,000 genomes with Bactopia](https://emergent.emory.edu/blog/posts/bactopia-aws-and-67000-genomes/)". Awesome speedup!

I'm trying to run Bactopia on AWS. My main objective is to be able to run Bactopia on a large number of genomes as quickly as possible. I have a few questions:

1) Should I still use [this script](https://gist.github.com/r

[2022-03-09 15:41] rpetit3 commented on #292
Hi @habibdanesh!

Great timing! I was planning to get the AWS config updated. So, the blog post was for v1 of Bactopia, and may or may not work with v2 of Bactopia. (Might not even need them!) I think I'll need to update the settings in AWS for bactopia. I've tried it on GCP, but haven't got the credits to get them updated on AWS.

I can see about trying some small datasets. But, would you like to

[2022-03-09 17:34] habibdanesh commented on #292
Fantastic! Yes, let's work on it. I'm all in!

I'm planning to run from an EC2 instance.

Thanks,
Habib

[2022-03-09 18:12] rpetit3 commented on #292
Ok here's what I have for `-profile aws`

[code]

I think you you will want to change `--aws_queue` to your AWS Batch queue name.

I think let's try just a single sample using something like:

[code]

[2022-03-09 19:22] jellyvanderwoude opened #293 "Pangenome, required parameters are missing"
--wf pangenome function in Bactopia 2.0.2 says required parameters are missing when they aren't

[2022-03-09 19:31] habibdanesh commented on #292
Ok first, I need to properly set up my AWS Batch. Is [Nextfow documentation](https://www.nextflow.io/docs/latest/awscloud.html#aws-batch) a good place to start?

[2022-03-09 19:32] rpetit3 commented on #293
Hi @jellyvanderwoude!

 I goofed on a parameter requirement (its the traits one). I've fixed it here: https://github.com/bactopia/bactopia/commit/e1d22cb8af07ebc52d64e5717bb882ba21be35f9

The fix is available on my dev-build, and will be in the next version.

[code]

This should let you keep moving along, let me know if not!

Cheers,
Robert

[2022-03-09 19:43] rpetit3 commented on #292
I think it should be, I used these, which might be easier to get through.

https://antunderwood.gitlab.io/bioinformant-blog/posts/running_nextflow_on_aws_batch/
https://t-neumann.github.io/pipelines/AWS-pipeline/

[2022-03-10 09:24] plasminogene opened #294 "Failed to download assembly_qc.yml --prefix ： External command failed with exit code 1!"
Hi，

I failed to download assembly_qc.yml --prefix ，error is posted below.

Thanks

Haitao
[code]

An unexpected error has occurred. Conda has prepared the above report.

[2022-03-10 16:36] rpetit3 commented on #294
Hi @plasminogene

Let's see if we can get this figured out! Can you see if this works?

[code]

[2022-03-10 16:59] plasminogene commented on #294
yes，it is  work.

[2022-03-10 17:00] jellyvanderwoude commented on #293
Thanks Robert! I moved ahead using Bactopia-dev and this was the output

(bactopia-dev) bio-24046:bactopia-folder2 jvanderwoude3$ bactopia --wf pangenome --bactopia /Volumes/JellyExternal/bactopia-folder2 --include include_jorth.txt
N E X T F L O W  ~  version 21.10.6
Launching `/Users/jvanderwoude3/miniconda3/envs/bactopia-dev/share/bactopia-2.0.x/main.nf` [reverent_bernard] - revision: 81a0ab675

[2022-03-10 17:11] plasminogene commented on #294
When I used the virtual machine to transfer Ubuntu from disk C to disk D, the bug disappeared.

[2022-03-10 17:16] rpetit3 commented on #293
Hmmm, for some reason it put you back to v2.0.0 of Bactopia. The issue is conda envs being built in parallel, which was fixed in v2.0.2.

Let's try this, but being explicit this time can force v2.0.2
[code]

It will ask if you want to overwrite the existing environment, you can say yes.

[2022-03-10 17:21] jellyvanderwoude commented on #293
Trying this code returns an error, hmm. Thanks for helping me chase this down!

[2022-03-10 17:23] rpetit3 commented on #294
That's great! Is that an OK solution for you?

Would you like me to try and figure out what might be happening?

[2022-03-10 17:30] rpetit3 commented on #293
Oh! The issue here is I don't have a dev build for Mac, just Linux.

We can manually fix this if you like

[2022-03-10 17:35] plasminogene commented on #294
At least there are no errors. The download speed is very slow.  I'm curious about what happened and what I'm going to do?

[2022-03-10 17:38] plasminogene commented on #294
Sorry,I find error.
(bactopia) prp27@ubuntu:~$ bactopia download --build_all
2022-03-10 08:51:45:root:INFO - Checking if environment pre-builds are needed, use --verbose to see full details.
2022-03-10 08:51:45:root:INFO - Found Conda environments in /home/prp27/anaconda3/envs/bactopia/share/bactopia-2.0.x/conda/envs, if a complete rebuild is needed please use --force_rebuild
2022-03-10 08:51:45:r

[2022-03-10 17:39] rpetit3 commented on #294
You might need to toss in a `--force_rebuild`

Another option, if available is to use Docker or Singularity.

[2022-03-10 17:43] jellyvanderwoude commented on #293
If it's not too much trouble, sure. Otherwise, I can wait for the update. Let me know what works for you.

[2022-03-10 18:01] plasminogene commented on #294
I find error when after used--force_rebuild.

I didn't find the command line of Docker or Singularity in the user manual（ https://bactopia.github.io/）. I need help.Thanks!

(bactopia) prp27@ubuntu:~$ bactopia download --build_all --force_rebuild
2022-03-10 09:46:04:root:INFO - Checking if environment pre-builds are needed, use --verbose to see full details.
2022-03-10 09:46:04:root:INFO - --force_

[2022-03-10 18:05] rpetit3 commented on #293
You will want to replace this file

[code]

With this file https://github.com/bactopia/bactopia/raw/master/lib/WorkflowBactopiaTools.groovy (right click save as)

Then you can use your original `bactopia` environment

[2022-03-10 18:18] rpetit3 commented on #294
If you have Docker or Singularity installed, you can run Bactopia with `-profile docker` or `-profile singularity`

Example
[code]

I'm working on improving the documentation to better highlight using Docker and Singulairty

[2022-03-10 18:29] plasminogene commented on #294
Thanks for your excellent work！！！

[2022-03-10 18:36] rpetit3 commented on #294
No problem, please let me know if you have any issues or feedback!

[2022-03-10 21:47] brross60 opened #295 "Spades-> Roary Pangenome Gunzip error"
**Description**
With spades assemblies i get an error about the gunzip function w/ roary. when i look in the work folder temp-gff  the files are symlinks. In the gff folder they are regular files.

**Steps to Reproduce**
spades assemblies-> roary pangenome

[code]

- Bactopia Version: 2.0.1
Ubuntu
- Environment: conda

[2022-03-10 21:48] rpetit3 commented on #295
If you don't mind checking, does the same happen with PIRATE?

[2022-03-10 22:05] brross60 commented on #295
So far it looks like pirate is OK with spades files. Right now its working but no errors.
If this looks wrong, now's your chance to back out (CTRL+C 3 times).
Sleeping for 5 seconds...
--------------------------------------------------------------------
executor >  local (1)
[-        ] process > BACTOPIATOOLS:PROKKA:PROKKA_MODULE                     -
[c9/1c817f] process > BACTOPIATOOLS:PANGENOME

[2022-03-10 22:12] rpetit3 commented on #295
Thank you! that's very helpful, I'm wondering if this has to do with the gzip version included with Roary.

Some of the biocontainers come with BusyBox xargs/gzip that behaves differently. I'll get a fix and dev build for you here shortly

[2022-03-10 22:13] rpetit3 commented on #295
Oh wait this is conda, let me see what's happening here

[2022-03-10 22:22] rpetit3 commented on #295
What's ` /home/xxx/Desktop/new_bac/work/96/2a5f72ad47ff99e44d03ff3050ff56/gff` look like?

[2022-03-11 13:14] brross60 commented on #295
Yep its conda.
Gffs look fine there. Their property type is below.
/home/xxx/Desktop/new_bac/work/96/2a5f72ad47ff99e44d03ff3050ff56/gff: gffs present and type is "MATLAB file (text/x-matlab)"
/home/xxx/Desktop/new_bac/work/96/2a5f72ad47ff99e44d03ff3050ff56/gff-tmp:all gffs present and type is "link to MATLAB file (text/x-matlab)"

[2022-03-14 10:48] plasminogene opened #296 "How to update bactopia"
Hi，

I  found several updates today ，such as ”add more documentation to meta YAMLs“，How to update bactopia 。

 I try ”bactopia update“，it did not work.

Thanks

Haitao

[2022-03-14 23:27] rpetit3 commented on #295
OK, I've tried to reproduce this on my end. So far I've been unsuccessful.

Going to try a few more things.

Do you by chance have access to docker or singularity?

[2022-03-14 23:29] rpetit3 commented on #296
Hi @plasminogene

The updates over the weekend were minor and mostly related to documentation. But I have a dev build with the latest changes that can be installed like so:

[code]

Cheers,
Robert

[2022-03-15 01:44] plasminogene commented on #296
Thanks for your excellent work!!!

[2022-03-15 04:16] rpetit3 commented on #296
No problem! Let me know if you have any feedback!

Going to close this, please feel free to reopen

Cheers

[2022-03-15 04:16] #296 closed

[2022-03-15 14:48] brross60 commented on #295
Weird. I am pulling from the docker.
 This is the command I am using:
bactopia --wf pangenome --bactopia /home/xxx/Desktop/new_bac/ --include /home/xxx/Desktop/new_bac/geneomes.txt --condadir /home/xxx/Desktop/new_bac/packages/ --outdir /home/xxx/Desktop/new_bac/spades_roary/ --use_roary True --traits traits.csv --max_time 1000 -profile docker

[2022-03-17 17:20] jellyvanderwoude commented on #293
Worked like a charm!

[2022-03-20 01:21] plasminogene opened #297 "[question] How to use --download_gtdb commands to build a database"
Hi，

 I tried the following command and reported an error.

Thanks

Haitao

(bactopia-dev) lh@ubuntu:~$ bactopia datasets --species "Mycoplasma gallisepticum" --include_genus  --skip_ariba  --skip_amr --keep_file  --download_gtdb

(bactopia-dev) lh@ubuntu:~$ bactopia datasets --species "Mycoplasma gallisepticum"  --skip_ariba  --skip_amr --keep_file  --download_gtdb

bactopia datasets: error: unre

[2022-03-21 15:08] rpetit3 commented on #297
Hi @plasminogene

You will give it when you execute the `gtdb` subworkflow. More details here: https://bactopia.github.io/bactopia-tools/gtdb/#gtdb-setup-parameters

But here's an example:

[code]

This will tell Bactopia to download the GTDB databases to the path given by `--gtdb`.

Let me know if this doesn't help!
Robert

[2022-03-21 23:11] plasminogene commented on #297
Yes ，thanks.  This command -"(bactopia) prp27@ubuntu:~$ bactopia --wf gtdb  --bactopia OUTDIR5   --gtdb NO.3-scaffolds.fasta     --download_gtdb" is worked.

[2022-03-22 14:26] marcelladane commented on #293
Hey, when is the new version that has this bug fixed going to be up? =)

[2022-03-22 14:50] marcelladane opened #298 "Pathway analysis added after pangenome analysis[feature]"
**Related To**
- [ ] Bactopia
- [X] Bactopia Tools

**Is this related to a problem?**
No, this is related to an improvement.

**Is this something you would like to see added?**
Yes, I would like to suggest the following. Create a plot that would take the genes present in the bacteria and run KEGG pathway annotation. Therefore we would have a plot showing the main pathways that changed in the datas

[2022-03-22 15:28] rpetit3 commented on #293
@marcelladane I was thinking it was about time to push a version update. I'll go ahead an get that process started, and get an update out today

[2022-03-22 17:06] marcelladane commented on #293
Thank you very much.  :)

On Tue, 22 Mar 2022, 16:28 Robert A. Petit III, ***@***.***>
wrote:

[2022-03-23 13:33] lfenske-93 opened #300 "[feature]"
**Related To**

- [ ] Bactopia
- [x] Bactopia Tools

I wish it had the option at the annotation step to choose whether to use `bakta` or `Prokka`.

Do you think this could be possible or are there tools that specifically process the output of Prokka?

[2022-03-23 13:37] rpetit3 commented on #300
I think that is a great idea and should be straight forward. The author of Bakta did a great job making sure Bakta produced similar (but with better annotations!) as Prokka.

I might not be able to get it in the next release, but will definitely be in the next one after

[2022-03-23 16:48] rpetit3 commented on #297
Hi @plasminogene

I think we are all good here, so I'm going to go ahead and close this issue.

Please feel free to reopen, and I really appreciate your feedback!
Robert

[2022-03-23 16:48] #297 closed

[2022-03-23 16:49] #294 closed

[2022-03-23 16:51] rpetit3 commented on #293
Hi @jellyvanderwoude  and @marcelladane

I've released v2.0.3 (https://github.com/bactopia/bactopia/releases/tag/v2.0.3) of Bactopia, which includes this fix. It should be available from Bioconda today or tomorrow.  I'm going to go ahead and close this, but please feel free to reopen.

Thank you so much for helping to find this bug! Your feedback has been super helpful!
Robert

[2022-03-23 16:51] #293 closed

[2022-03-23 16:51] rpetit3 commented on #290
fixed in https://github.com/bactopia/bactopia/releases/tag/v2.0.3

[2022-03-23 16:51] #290 closed

[2022-03-23 16:53] rpetit3 commented on #290
Apologies @lfenske-93! I thought this was an issue I made!

I've released v2.0.3, which includes a fix for this and should be available on Bioconda today or tomorrow.

Thank you very much for your help in finding this! I'll keep you posted on replacing Prokka with Bakta!

Cheers,
Robert

[2022-03-23 16:55] rpetit3 commented on #285
Hi @llk578496

I think we might be all set here. Hopefully it was just an intermittent connection issue!

Please feel free to reopen if the issue persists!
Robert

[2022-03-23 16:55] #285 closed

[2022-03-23 16:57] rpetit3 commented on #288
Hi @llk578496

I've released v2.0.3 (https://github.com/bactopia/bactopia/releases/tag/v2.0.3) which includes a fix for this.

I'm going to close for now, feel free to reopen!
Robert

[2022-03-23 16:57] #288 closed

[2022-03-23 17:01] rpetit3 commented on #292
@habibdanesh This might be of interest to you: https://seqera.io/blog/tower-batch-forge/

[2022-03-23 19:22] tbazilegith commented on #259
Hi Robert,
I have been trying the run bactopia on hydrid samples from illumina and minION
All the samples are in the directory fastqs_hybrid ( 2 SE samples , and the 2 corresponding paired samples, 6 files in total)
I used the following cammands:
bactopia prepare fastqs_hybrid/ > fastqs_hybrid.txt

bactopia --fastqs fastqs_hybrid.txt --hybrid --datasets my_directory/datasets/ --outdir ${today}bact

[2022-03-23 19:33] rpetit3 commented on #259
Tack on a `--long_reads` to the `bactopia prepare` command

[code]

Let me know how that works for you

[2022-03-23 19:35] rpetit3 commented on #259
Speaking of this, do you think you would ever have interest in running hybrid assemblies when the ONT reads are assembled then polished with Illumina?

[2022-03-23 19:44] tbazilegith commented on #259
Your point really makes sense. So, does bactopia allow that - polishing after the assembly? Indeed, my goal is the compare the results between hybrid and homogeneous assemblies. That's why I am investigating this.
Thanks

[2022-03-23 19:49] rpetit3 commented on #259
At the moment no, Bactopia only supports hybrid assembly via Unicycler (assemble with spades then polish with long reads).

However, I recent added support for the reverse (assemble with long reads, then polish with short reads) in Dragonflye (https://github.com/rpetit3/dragonflye/releases/tag/v1.0.9). I was planning to float this support up to Bactopia as well.

Was just curious on your end if it

[2022-03-23 20:02] tbazilegith commented on #259
I welcome, the recommendation. Part of work will be assembling a complete or near-complete genomes for the organisms I am working on. So, when we do hydrid, does polishing become unnecessary? Or are they two options we can choose from? I'm building experience...

Thanks!

[2022-03-23 20:11] rpetit3 commented on #259
In hybrid assemblies, you are either polishing with short reads or long reads. Polishing is also happening in standard assemblies as well. If you use Shovill or Dragonflye (Bactopia uses both), all assemblies are polished by default.

So yeah you would have two options for hybrid assembly:
1. assemble with short reads, polish with long reads
2. assemble with long reads. polish with short reads

I

[2022-03-23 20:32] tbazilegith commented on #259
Oh, yes! This kind of hybridization (long read first, polish with short reads) sounds interesting. We are getting more and more long reads to process. I appreciated you getting back so quickly.
Thanks a lot!

[2022-03-23 20:33] rpetit3 commented on #259
Awesome! I'll be in touch in a few days with an update, excited to see what conclusions to come too

[2022-03-24 14:25] lfenske-93 opened #301 "[bug] Error in the documentation"
In the documentation under `bactopia-tools -> gtdb`, the description and linking of eggNOG-mapper is listed under results instead of that of GTDB.

I think there was a copy and paste error. ;)

[2022-03-24 15:24] rpetit3 commented on #301
Ok should be fixed now! Thanks again again for letting me know

https://bactopia.github.io/bactopia-tools/gtdb/

[2022-03-24 15:24] #301 closed

[2022-03-24 17:16] tbazilegith commented on #259
Hi Robert,
When you run bactopia on one hydrid sample ( mysample.fastq and  mysample_1.fastq, mysample_2.fastq). How many output directories to expect?
- I imagine just one ( bactopia_output/mysample)
- But I would like to make sure I am right.
-Thanks,
TJ

[2022-03-24 18:45] rpetit3 commented on #259
Yeah just one should be right

[2022-03-24 19:31] tbazilegith commented on #259
In the documentation, I notice we can run bactopia on assembly files (.fasta). Is it a good idea to run bactopia with the assembly files(in the assembly sub-directory) generated by bactopia itself?
Thanks!

[2022-03-25 18:04] rpetit3 opened #302 "[bug] SRA accessions from Nanopore run as Illumina"
**Description**
`--accessions` needs to be updated to work with Nanopore. It currently only supports Illumina reads.

**Steps to Reproduce**
Steps to reproduce the behavior:
[code]

**Expected Behavior**
Run as Nanopore

**Execution Environment**

- Bactopia Version: 2.0.3
- OS: Debian
- Environment: docker

**Additional Information**

[2022-03-28 17:21] rpetit3 commented on #302
Fixed: https://github.com/bactopia/bactopia/commit/0148f1e7673d6e5dddbe7845068cca3208f8f41a

[2022-03-29 19:44] tbazilegith commented on #259
Hi Robert,
Is there any update about running bactopia on assembly files? I ran bactopia to process some local .fasta files, but had no output. The error log file is empty though.
Here is the command:
for s in $(cat samples.txt);do
    bactopia --sample ${s}  --assembly assemblies_zipped/${s}.fasta.gz --assembly_pattern *.fasta.gz --datasets /color/my_directory/datasets/ --outdir ${today}bactopia_o

[2022-03-30 02:28] rpetit3 opened #303 "Local assemblies not producing outputs"
Hi Robert,
Is there any update about running bactopia on assembly files? I ran bactopia to process some local .fasta files, but had no output. The error log file is empty though.
Here is the command:
[code]
Thanks!
TJ

_Originally posted by @tbazilegith in https://github.com/bactopia/bactopia/issues/259#issuecomment-1082305731_

[2022-03-30 02:39] rpetit3 commented on #303
Hi @tbazilegith,

Thought it might be best to create a new issue for this one. I'm looking into what you aren't getting outputs.

But I think its also worth pointing out you can use `bactopia prepare` with the `--assembly_pattern` parameter to create an FOFN to use with `--fastqs`.

More details available here: https://bactopia.github.io/usage-basic/#generating-a-fofn

Will update soon,
Robert

[2022-03-30 03:46] rpetit3 commented on #303
Could you by chance share one of your assemblies? I'm unable to reproduce on my end

[code]

[2022-03-30 15:26] tbazilegith commented on #303
I mean
bactopia prepare path_to_fasta/ --assembly_pattern > fastas.txt
bactopia --fastqs fastas.txt

[2022-03-30 15:55] tbazilegith commented on #303
I can share an assembly file. How do we do that?

[2022-03-30 16:07] tbazilegith commented on #303
[CFI20000592.fasta.gz](https://github.com/bactopia/bactopia/files/8382138/CFI20000592.fasta.gz)
I have attached the above file.
Thanks!,
TJ

[2022-03-30 16:23] rpetit3 commented on #303
Yeah, the `--fastqs` is a bit misleading and I need to rename it. Originally when it was made assemblies were not supported.

[2022-03-30 17:00] rpetit3 commented on #303
OK! I tried your assembly and it worked

[code]

[2022-03-30 17:27] tbazilegith commented on #303
My I see what your output directory(ries) look(s) like?

[2022-03-30 17:27] tbazilegith commented on #303
* May I see...

[2022-03-30 20:57] rpetit3 commented on #303
Here you go!

[code]

[2022-03-30 21:10] tbazilegith commented on #303
Hi Robert,
I gave these commands, there is still no output:
#Processing Muliple Samples
bactopia prepare assemblies-zipped/ --assembly_pattern *.fasta.gz > cfi_fastas.txt

bactopia --assembly cfi_fastas.txt --datasets /color/mydir/datasets/ --outdir bactopia_outputAssbl --cpus $SLURM_CPUS_PER_TASK --cleanup_workdir

Is there something extra or missing?

[2022-03-30 22:06] rpetit3 commented on #303
Is there a `.nextflow.log` file in that directory?

Also, you would use `--fastqs` with the file-of-filenames (I should really go ahead and rename it to `--fofn`)

[2022-03-31 12:20] tbazilegith commented on #303
No, there isn't a .nextflow.log file in the directory. Is it required? Normally, what does the output directory look like after processing an assembly? Does it look like the same (in terms of content) as the fastq output?
Thanks!

[2022-03-31 14:21] rpetit3 commented on #303
The `.nextflow.log` file is created when Nextflow executes, so that suggests to me Nextflow (e.g. Bactopia) is never starting.

Can you do me a favor and try just one assembly?

[code]

[2022-03-31 15:26] rpetit3 commented on #303
Great so we know its working, can you post a few lines from cfi_fastas.txt?

also this one should be:
[code]

It had an extra `--assembly` in it. Also if your using slurm, you might want to consider using `-profile slurm` then tweaking `--slurm_queue` and `--slurm_opts`

[2022-03-31 15:43] tbazilegith commented on #303
Another question about the long-read version of the sample CFI20000592 fastq.  (My 1st goal is to process it hybrid along with the short-read version but it triggered genome_size_error, thus I inspected it by running bactopia on it alone). When I run bactopia on it, the only output I have  is JBI20000592-genome-size.txt  logs  minmers  quality-control (1 file and 3 directories).
The normal output

[2022-03-31 16:19] tbazilegith commented on #303
Here is a few lines from cfi_fastas.txt
sample  runtype r1      r2      extra
CFI20000447.fasta.gz    assembly                        /color/my_dir/my_project/assemblies-zipped/CFI20000447.fasta.gz
CFI20000519.fasta.gz    assembly                        /color/my_dir/my_project/assemblies-zipped/CFI20000519.fasta.gz

[2022-03-31 16:38] tbazilegith commented on #303
Here is the command to process that ONT long-read sample:
bactopia --SE LRfastqs/JBI20000592.fastq.gz --sample JBI20000592 --ont --datasets /color/my_dir/datasets/ --outdir ${today}bactopia_output1Samp --max_genome_size 99950800 --max_cpus $SLURM_CPUS_PER_TASK --c\
leanup_workdir

[2022-03-31 16:49] rpetit3 commented on #303
Oh this is interesting, an estimated genome size of `999,491,700`  or 1GBp? That seems wrong, is it a metagenomic sample?

[2022-03-31 18:14] tbazilegith commented on #303
The genome size file indicates 99,941,700 when I run it with other samples. It's a bacterial sample.
- Its bactopia output
JBI20000592-genome-size.txt  logs  minmers  quality-control
-Here is the content of the txt file

99941700
JBI20000592-genome-size.txt (END)

Is the size out of range for bactopia to process?

[2022-03-31 18:20] rpetit3 commented on #303
I think you are going to want to look into that sample. 99MBp is way outside the largest know bacterial genome size is 16Mbp.

I'm wondering if it is either a eukaryote, metagenomic, or contaminated.

[2022-03-31 18:49] tbazilegith commented on #303
Possibly contaminated- we are investigating... I think it's an unknown bacterial species (which I'll confirm with the lab) we're trying to identify through genomic data.

[2022-03-31 18:51] rpetit3 commented on #303
Also is this a FASTQ file that is given the 99Mb prediction?

[2022-03-31 19:42] tbazilegith commented on #303
Right! JBI20000592.fastq.gz

[2022-03-31 19:50] rpetit3 commented on #303
If you have an idea of the genome size you can give it like `--genome_size 5000000`

This would bypass the estimate and let you get some results that might help figure out what's happening

[2022-04-01 11:05] shigdon opened #304 "[bug] Build Datasets vfdb_full error"
**Description**
Cannot complete Build Datasets for Bactopia v 2.0. Seems there is duplicate record in vfdb_full raising an error. I am unsure of the best solution to fix this other than leaving out vfdb_full. Any thoughts? Thanks in advance.

**Steps to Reproduce**
Steps to reproduce the behavior:
[code]

**Expected Behavior**
Complete build of datasets for use with Bactopia 2.0

**Execution Envir

[2022-04-01 14:07] rpetit3 commented on #304
Thank you for bringing that to my attention! Unfortunately, this is not something I can fix on my end. To get this fixed, we'd need to follow up with VFDB and/or developers of Ariba. I'm not sure how long it would take to hear back from VFDB, and Ariba is not actively supported.

I think you are correct leaving `vfdb_full` is going to be the quickest and easiest solution.

[2022-04-06 08:04] shigdon commented on #304
Thank you @rpetit3. I indeed proceeded with analyses leaving out `vfdb_full` for now and completed the WF without error.

[2022-04-06 13:15] rpetit3 commented on #304
Great! Glad you were abl;e to keep moving. I'm going to close this for now, please feel free to reopen.

Also, if you have some time to spare, please take a moment to fill out my Bactopia survey. Your feedback will help direct the future steps of Bactopia!

https://forms.gle/PTgUxEBwCsCdbQjr7

[2022-04-06 13:15] #304 closed

[2022-04-15 13:59] jamesgurneyGatech opened #307 "Dataset build running in to issues with nucmer"
**Description**
Building dataset, returning error

**Steps to Reproduce**
Using MacOXS M1 versions. Ran
[code]
produced error.
[code]

Full log of error

[code]

**Expected Behavior**
Make datasets!

**Execution Environment**

- Bactopia Version: latest from Honda
- OS: macOSX
- Environment: Conda

Askin for nucmer on terminal says
[code]

[2022-04-15 14:07] rpetit3 commented on #307
This is an issue with MUMmer. It hard codes the path to Perl to `/usr/local/bin/perl` instead of `/usr/bin/env perl`. Which causes its programs (e.g. nucmer) to completely ignore the Perl installed from Conda.

Here's a related issue: https://github.com/bactopia/bactopia/issues/214

There a few easy solutions.

1. If you have perl installed (e.g. `/usr/bin/perl`) create a symlink for `/usr/local/b

[2022-04-15 15:16] jamesgurneyGatech commented on #307
That seems to have gotten it, thanks!

[2022-04-15 15:17] rpetit3 commented on #307
Awesome! Keep me posted on how things work with M1.

Going to go ahead and close this, feel free to reopen!

[2022-04-15 15:17] #307 closed

[2022-04-20 15:47] rpetit3 commented on #300
Hi @lfenske-93

Apologies! I forgot to mention, this is now available in my dev build if you want to give it a try.

[code]

[2022-04-20 15:48] rpetit3 commented on #303
Hi @tbazilegith

Just checking to see if you were able to get going.

Cheers,
Robert

[2022-04-20 15:49] rpetit3 commented on #292
Hi @habibdanesh

Checking to see if you were able to get going on AWS.

Cheers,
Robert

[2022-04-20 19:38] tbazilegith commented on #303
Hi Robert,
I couldn't go any further with this sample JBI20000592.fastq.gz. It is an isolate we're seeking to identify. I have no idea about the genome size. I'm unable to generate assembly for it either by itself or hybrid. I tried to assemble it with both bactopia (SR-LR) and dragonflye (LR-SR). But its sequencing throughput is outstanding 2,994,408,369 pb, and longQC metrics look good. I tempor

[2022-04-26 05:11] lingbingzeng1985 opened #308 "How can I use the bactopia tools?"
Hi, I followed the script that you published on mSphere, like "bactopia tools summary --bactopia ~/KP_annotation/bactopia/ --prefix klebsiella". However, it errors like this:
WARN: Found unexpected parameters:
* --prefix: klebsiella
* --bactopia: /home/lingbing/study/KP_annotation/bactopia/
- Ignore this warning: params.schema_ignore_params = "prefix,bactopia"
- ERROR: Validation of pipeline param

[2022-04-26 13:44] lingbingzeng1985 commented on #308
Yes. It is cool. I followed the protocol of bactopia in your paper, and had a good result. But I cannot take the access to the tools. Could you provide any protocols of the tools? Thanks.

[2022-05-02 11:43] lfenske-93 commented on #300
Hi Robert,

I finally got around to trying it out, unfortunately, it doesn't seem to be working quite yet.

Tried with `--use_bakta` and `--bakta_db` and it seems to have recognized the commands as well, however `prokka` is still used for the annotation.

Did I use the commands wrong or is it stuck somewhere else?

Greetings,
Linda

[2022-05-03 15:41] rpetit3 commented on #300
I'll take a look and see what I goofed on, will update soon

[2022-05-04 18:21] rpetit3 commented on #300
OK! Looks like I goofed on the development conda build. Gave it another go, and looks like Bakta is working its annotation magic.

Let me know if you have any feedback. I'm kind of on the fence, as to whether `--use_bakta` and `--bakta_db` are redudant. I feel like if you provide `--bakta_db` then its safe to assume you want to annotate with Bakta.

[code]

[2022-05-05 08:09] oschwengers commented on #300
Hi @rpetit3 , thanks for all your efforts to add Bakta to Bactopia!

I don't know the semantics of Bactopia's other parameters, but how about just using `--bakta <db-path>`?

[2022-05-05 08:42] lfenske-93 commented on #300
Yes, that was exactly what I had thought. 😄
Or you can integrate the Bakta-database directly into the `datasets `and in any case just use the command `--bakta` either with or without database path.

[2022-05-05 15:06] rpetit3 commented on #300
@oschwengers its totally worth the effort! My process has turned into, run bactopia then run bakta to replace the prokka annotations. Haha so would great to run Bakta directly!

For including the bakta db build in `bactopia datasets`, @oschwengers is this the only thing I would need: https://github.com/oschwengers/bakta/blob/main/db-scripts/buid-db.sh ?

If not, I can add bakta as a dependency for

[2022-05-05 19:10] oschwengers commented on #300
@rpetit3 In theory, yes it's the only thing you need to execute to create the database - however this implies the analysis of almost 1 TB of public databases and requires >1,000 CPU hours on our HPC. :smile: This is my heavy duty DB creation script.

I 'd suggest to just execute `bakta_db download`. You can provide a path to where the DB should be stored so you have everything in the right place.

[2022-05-05 19:35] rpetit3 commented on #300
Will do, thank you for the feedback!

[2022-05-05 23:00] bradle01 opened #309 "Issue with output from snippy"
**Description**
I am running bactopia2.1.0 on a cluster, and everything is working except the variant call, it seems to try and call the variants a few times before giving up and generating an error

**Steps to Reproduce**
Steps to reproduce the behavior:
[code]
Caused by:
  Process `BACTOPIA:CALL_VARIANTS (UMWA3271 - refseq-genomes)` terminated with an error exit status (1)

Command executed:

[2022-05-05 23:55] rpetit3 commented on #309
Hi @bradle01,

Looks like the issue is here `NotADirectoryError: [Errno 20] Not a directory: '/dev/stdout'`

I can modify things so that it doesn't use `/dev/stdout` which I think should be fine. Let me know push a change to the dev branch.

Would you be interested in testing?

Cheers,
Robert

[2022-05-06 00:04] rpetit3 commented on #309
Ok! I think I fixed this. If you interested you can give my dev build a try:

[code]

[2022-05-06 00:06] rpetit3 commented on #292
Hi @habibdanesh

I'm going to go ahead and close this issue, please feel free to reopen.

Cheers,
Robert

[2022-05-06 00:06] #292 closed

[2022-05-06 00:07] rpetit3 commented on #303
Hi @tbazilegith

I think we might be about as close to a solution as we can get with this one. I'm going to go ahead and close this issue, please feel free to reopen.

Cheers,
Robert

[2022-05-06 00:07] #303 closed

[2022-05-06 00:07] rpetit3 commented on #308
Hi @lingbingzeng1985

I'm going to go ahead and close this issue, please feel free to reopen.

Cheers,
Robert

[2022-05-06 00:07] #308 closed

[2022-05-06 04:59] rpetit3 opened #310 "[feature] Move Ariba to Bactopia Tool"
**Related To**

- [x] Bactopia
- [x] Bactopia Tools

**Is this something you would like to see added?**
I want to move Ariba to Bactopia Tools.

In order to move it to a bactopia tool, somethings will need to be changed.

- [ ] `bactopia datasets` ariba build as a module
- [ ] `bactopia datasets` use pubmlst API to build MLST database
- [ ] create module for ariba

[2022-05-07 12:56] lingbingzeng1985 opened #311 "Cannot make a datasets"
Hello. I finished one project according to your advice. It is really cool. However, when I started the other project, I could not finish the datasets successfully. The Errors like this:
bactopia datasets --outdir bactopia_2.0/ --species "Escherichia coli" --include_genus --limit 100 --cpus 4
2022-05-07 14:54:32:root:INFO - Escherichia coli verified in ENA Taxonomy database
2022-05-07 14:54:32:root

[2022-05-07 22:27] bradle01 commented on #309
Your update seems to have solved the issue, I ran bactopia-dev on the same genomes and it produced the snippy output, thanks!

[2022-05-09 15:33] rpetit3 commented on #311
Hi @lingbingzeng1985

Try rerunning the command with `--verbose` to get more details on where it failed.

Thank you!

[2022-05-09 16:52] flashton2003 opened #312 "[feature] Update docs with details of how bactopia handles long read only data"
**Related To**

- [ ] Bactopia

**Is this related to a problem?**

It's not well documented how bactopia handles long read only data.

**Is this something you would like to see added?**

Yes please.

**Describe the solution you'd like**

Some information on how to run bactopia on long read only data and what bactopia does with the long read data.

[2022-05-09 17:29] rpetit3 commented on #312
Work in progress, but here are two starters

Process a single ONT sample - https://bactopia.github.io/usage-basic/#nanopore

Generate FOFN for ONT - https://bactopia.github.io/usage-basic/#nanopore_1

[2022-05-10 12:31] lfenske-93 opened #313 "[question] GTDB setup DB failed"
Hi, it's me again 😄

I just tried to run GTDB over some data, however, there are problems with the database.
I downloaded `release207` myself a few weeks ago as I was running GTDB manually and everything worked fine with that.

However, when I want to start Bactopia with this database version it ends with:
[code]

So I tried to download the appropriate version with` --download_gtdb`, but unfortuna

[2022-05-10 13:13] lfenske-93 opened #314 "[bug] bactopia prepare produces empty file"
Hi 😄

since I have a very large number of input files, I would like to have the FOFN created directly by Bactopia.

`bactopia prepare /vol/bakrep/data/Assemblies/ - "fa.gz"  > fastqs000.txt`

However, when I apply the command like this, I only get an empty file without any other error messages. 😅
Unfortunately I could not find the problem so far, even with other input folders I get the same result

[2022-05-10 14:01] rpetit3 commented on #314
Hi @lfenske-93 !

Maybe its just a typo above, but I think `--assembly_pattern` is missing.

What does this give you?
[code]

Here's an example:
[code]

If they are in different directories, you might have to use the `--recursive` parameter.

[code]

Let me know if this helps! And if you have any feedback on how to improve the prepare command let me know.

One thing that stands out to me is, it sh

[2022-05-11 11:07] lfenske-93 opened #315 "Error in documentation (cpus)"
Hi 😄

I have found an error in the documentation. Under Complete Usage the runtime parameters are listed. The command `--cpus` is mentioned, but it should be `--max_cpus`.
I just tried `--cpus `and was confused why it is not recognized as a parameter.
I'm also not quite sure if `-qs` works, as it doesn't show me on the parameters that differ from the pipeline default.

Greetings,
Linda

[2022-05-11 11:19] lfenske-93 commented on #314
Hi,

yeah, there was a typo in my comment, I tried with:
`bactopia prepare /vol/bakrep/data/Assemblies/ -a "fa.gz" > fastqs000.txt`

However, with the use of `--assembly_pattern` it actually worked.
I thought the correct parameter would have been `--assembly_ext` or `-a`, which was not perfect to understand in the usage. 😅
In any case, it would be handy if some kind of error message could be issue

[2022-05-11 11:47] llk578496 opened #316 "[bug] Failed to build datasets for 2 species with option --include_genus"
**Description**
We tried to build datasets for 2 species at one time with the option --include_genus, but it fails.

**Steps to Reproduce**
Steps to reproduce the behavior:
[code]

**Expected Behavior**
The Bactopia documentation also used 2 species for building the datasets.
`bactopia datasets --species "Haemophilus influenzae,Staphylococcus aureus" --include_genus`

**Execution Environment**

-

[2022-05-11 13:15] rpetit3 commented on #316
Hi @llk578496

I need to update the docs on this. `--include_genus` can only be used with a single species at a time.  But, I'm going  to see if my 2022-self can make what my 2019-self couldn't get to work.

Will update soon,
Robert

[2022-05-11 13:18] rpetit3 commented on #314
Will do! Thank you for the feedback.

I'm also going to revisit merging `--assembly_ext` and `--assembly_pattern`. I think it might be possible to drop them. I also get confused on which one to use as well.

[2022-05-11 14:34] llk578496 commented on #316
Hi @rpetit3 ,

Thank you.

Please don't give up!

`Bactopia` is one of the most amazing pipeline we have ever seen in the field of microbiology.

We will definitely wait for your update!

[2022-05-11 15:06] rpetit3 commented on #316
Thank you very much for your kind words!

Please keep providing feedback so we can keep making it better!

[2022-05-11 17:06] rpetit3 commented on #315
Okie doke! I've brought the complete usage docs to v2 https://bactopia.github.io/usage-complete/

There's still more I want to do on this page, but at least it now reflects parameter names in v2

[2022-05-11 17:25] rpetit3 commented on #316
Took a look at this, and it was a straight-forward change. I have a developement build on my personal conda channel, if you are interested in trying.

[code]

[2022-05-11 17:44] rpetit3 commented on #313
Could I maybe get your help on something.

This is what my gtdb database folder looks like:
[code]

What does yours look like? In releation to what ever you provided to `--gtdb`

[2022-05-11 21:31] rpetit3 commented on #314
Made some changes to `bactopia prepare`

`--fastq_pattern` and `--assembly_pattern` are no longer needed. Just `-f,--fastq_ext` and `-a,--assembly_ext`

I've also added , an error message if nothing is found:
[code]

Finally, I plan on adding example use cases to the docs website, but sometimes its nice to see it on the command line. So I added a parameters called `--examples`. Which will print a

[2022-05-12 03:53] creamerk opened #317 "Spades assembly failing, extra non-integer argument in "-k""
Hi, thanks for this fantastic tool!

I'm trying to assemble some bacterial genomes using spades and I've run into this error twice now where I think there's a bug in shovill calling spades.

**Steps to Reproduce**
My submitted bactopia job:
[code]

The job fails on the "`Process BACTOPIA:ASSEMBLE_GENOME (Sample055test) terminated with an error exit status (1)`"

I'm happy to provide in any of the

[2022-05-12 04:35] rpetit3 commented on #317
Hi @creamerk,

Looks like Nextflow doesn't like `--shovill_opts "--isolate"`, but it does like `--shovill_opt="--isolate"`. A heads up, as of Shovill v1.1.0, `--isolate` is used by default. So the `--shovill_opt="--isolate"` is redundant, but it is very nice to learn for these "opts" parameters a `=` is needed otherwise Nextflow interprets them.

Another thing you'll want to switch is `--cpus` to

[2022-05-12 07:49] creamerk commented on #317
Thanks so much for the super speedy reply-- great to know that "--isolate" is the default, I must have missed that!

To test this fix (which it also worked when I removed --shovill_opts altogether), I instead replaced --shovill_opts="--isolate"  with --shovill_opts="--careful" , the other option I'd like to toggle on (and toggle off --isolate). This didn't seem to work-- relevant error codes are c

[2022-05-12 09:57] lfenske-93 commented on #314
Yes, the examples are definitely very helpful! 😊
If I think of another example, I'll definitely let you know.

Is the sample name then also adapted directly? In the previous version, this always consists of the complete name with file extension.

But I'm also not sure yet if I understand what exactly ` --fastq_separator` does. 😅

[2022-05-12 10:14] lfenske-93 commented on #313
For me it currently looks like this, but this is already the release which is intended for V2.0.0.
But I just saw that currently V2.1.0 has already been released. 😆

[code]

Maybe it's just best to update directly to the new version instead of trying to load an old database version, unless `--download-gtdb` is generally broken. 🤷🏻‍♀️

Version V2.0.0 was in any case already much more memory efficie

[2022-05-12 13:19] rpetit3 commented on #313
Agreed, don't waste your time downloading another GTDB release. Haha I got to 98% yesterday before my internet went 💩

I'm planning to release Bactopia v2.1.0 in the next week or so. But if you use the dev build, it will have GTDB v2.0.0. This should also allow you to use your current GTDB download (r207).

Let me know if it doesn't work for you!

[2022-05-12 13:35] KarimAI7 opened #318 "Bactopia tools summary leads to: One or more required parameters are missing, please check and try again."
Hello, I created a .txt with all my .fastq files and analyzed them using:
`bactopia --fastqs R_fastqFOFN.txt --datasets /home/elliston/Documents/karim/bactopia/R_fastq_bactopia/datasets/
`
This ran well andoutputted a directory of directories with all the analyzed files individually.
Then I tried to run:
`bactopia tools summary --bactopia ~/bactopia --prefix Lpn` to get a summary report (I got thi

[2022-05-12 13:37] rpetit3 commented on #318
Hi @KarimAI7,

The `summary` tool was lost in version 2, and I'm slowly bringing it back. I have development build of Bactopia with it, if you are interested in trying it.

[code]

Let me know if this doesn't work for you!
Cheers,
Robert

[2022-05-12 13:46] KarimAI7 commented on #318
Will do, I tried skipping over this step and running:
`bactopia tools phyloflash --phyloflash /home/elliston/Documents/karim/bactopia/R_fastq_bactopia/datasets/16s/138 --bactopia ~/bactopia` (also from: https://journals.asm.org/doi/10.1128/mSystems.00190-20)
I got the same error:
`One or more required parameters are missing, please check and try again.

Required Parameters
  ### For Procesessing M

[2022-05-12 19:29] KarimAI7 commented on #318
Hello,
The Bactopia Tools link worked great! pangenome ran well.
I tried running the developer link you provided: `mamba install -n bactopia-dev -c rpetit3 -c conda-forge -c bioconda bactopia`
I got the following error `EnvironmentLocationNotFound: Not a conda environment: /home/elliston/miniconda3/envs/bactopia-dev
`

[2022-05-12 20:36] rpetit3 commented on #318
Glad it worked! The dev didn't work because I told you the wrong thing! You will need `create` instead of `install`

[code]

[2022-05-13 01:03] rpetit3 commented on #317
Looks like you are not going to be able to run spades with `--careful` because `--isolate` is hardcoded in Shovill: https://github.com/tseemann/shovill/blob/master/bin/shovill#L108

[2022-05-13 01:36] creamerk commented on #317
Ah, that makes sense-- especially since the Shovill spades assembly workflow is followed by bwa+samtools & pilon, which seems redundant to the `--careful` flag. Thanks for looking into that; I still get great assemblies-- I was only curious about testing it because my coverage wasn't as "high" as indicated best for `--isolate` mode in the Spades documentation, but it seems to work just fine.
Thank

[2022-05-13 01:36] #317 closed

[2022-05-13 02:09] creamerk commented on #314
Hi @rpetit3 -- related to this question of preparing & checking Fofns, has the  "--check_fastqs" been depreciated in v2.0.3? I was trying to run it (ie `bactopia --check_fastqs fofn.txt` and it was giving the error:
[code]
Thank you!

[2022-05-13 02:42] rpetit3 commented on #314
@creamerk It didn't make it into v2, and I need to update the docs to reflect that.

If you think its worthwhile I can get it added back.

One question I do have for both of you though. What are your thoughts on renaming `--fastqs` to something like `--samples` or `--fofn`?

I ask because when `--fastqs` was originally created, only FASTQs could be used as inputs. But now you can include FASTQs an

[2022-05-13 03:49] rpetit3 commented on #287
Hi @fabgenomics

Happy to report the follow parameters are now implemented in `bactopia datasets`

[code]

If you want to give it a go, its available in my dev build

[code]

Thanks for reporting this!
Robert

[2022-05-13 05:39] rpetit3 commented on #317
No problem, let me know if there's anything I can help with!

If you have any feedback, please feel free to complete my little survey: https://forms.gle/PTgUxEBwCsCdbQjr7

[2022-05-13 12:01] lfenske-93 commented on #313
One thing I was still thinking about (probably more of a different issue):

Would it be possible to integrate GTDB into the standard workflow and then annotate based on the GTDB classification?
In my case I have some assemblies, but they are not yet assigned to a genus/species/strain.
So my current workflow is to classify them with GTDB, then parse the gtdb-summary for genus and species and put th

[2022-05-13 13:31] rpetit3 opened #319 "Pick dataset based on taxonomic classifications"
One thing I was still thinking about (probably more of a different issue):

Would it be possible to integrate GTDB into the standard workflow and then annotate based on the GTDB classification?
In my case I have some assemblies, but they are not yet assigned to a genus/species/strain.
So my current workflow is to classify them with GTDB, then parse the gtdb-summary for genus and species and put th

[2022-05-13 13:41] rpetit3 commented on #313
Haha, I love the idea and its something that's been on my mind for a quite a while, so I created another issue for it: https://github.com/bactopia/bactopia/issues/319

As a band-aid, I can allow assemblies to be used in the GTDB Bactopia Tools (similar to how I do it in other Bactopia Tools). Although, this would only take away you manually doing it and would be more or less efficient. So I'll let

[2022-05-13 18:50] KarimAI7 commented on #318
It worked and I was able to activate the bactopia-dev environment using `conda activate bactopia-dev`
I then tried running `bactopia-summary --help` as stated but I got `bactopia-summary: command not found
`
How should I proceed?

[2022-05-13 19:01] rpetit3 commented on #318
Can you post the output of `conda env export` while in your bactopia dev environment?

[2022-05-16 08:49] lfenske-93 commented on #313
I'm definitely excited to see the idea come to fruition at some point.
I think for now I will continue to run GTDB manually and then continue with Bactopia, as I have done so far. 😄
I guess that's the easiest and I can see what the latest version of GTDB has to offer.

[2022-05-16 18:44] creamerk commented on #314
I agree, a `-samples` would make sense! And then as long as it's clear what the difference between `-sample` = name of a single sample and `-samples` = names and locations of multiple samples-- that would hopefully be clear!

@rpetit3 re: the `--check_fastqs` , I think it might be useful to have for large datasets (and to make sure if the `prepare` function was used-- I was running ~100 genomes so

[2022-05-16 21:36] rpetit3 commented on #314
Great feedback, I've learned towards `--samples` for about a year now. So let's go with that.

Thoughts on renaming `--sample` to `--sample_name`? Or leave it as is?

I'll work on getting `--check_samples` back in there

[2022-05-17 07:33] lfenske-93 commented on #314
I think the difference between `--samples` and `--sample` should be quickly understood.
However, I could imagine that at some point there would be confusion regarding  `--accession`.
So maybe `--sample_name` and `--accession_name`?

[2022-05-17 08:06] lingbingzeng1985 commented on #311
Sorry to take a long time to reply. Here is the --verbose results, the errors like this:
Traceback (most recent call last):
  File "/home/lingbing/anaconda3/envs/bactopia/lib/python3.9/site-packages/Bio/File.py", line 72, in as_handle
    with open(handleish, mode, **kwargs) as fp:
TypeError: expected str, bytes or os.PathLike object, not TextIOWrapper

During handling of the above exception, anot

[2022-05-17 08:06] lingbingzeng1985 commented on #311
2022-05-11 17:44:47:executor.process:DEBUG - Executing external command: bash -c 'ncbi-genome-download bacteria -A bactopia_2.0//species-specific/escherichia-coli/annotation/genomes/accessions.txt -l complete -o bactopia_2.0//species-specific/escherichia-coli/annotation/genomes -F genbank -r 80 -m bactopia_2.0//species-specific/escherichia-coli/annotation/ncbi-metadata.txt'
2022-05-11 17:44:47:exe

[2022-05-17 08:07] lingbingzeng1985 commented on #311
Hopefully, it is the problem of python. I remembered that I renewed the python edition, because I could not use the ISmapper tools.

[2022-05-17 18:27] rpetit3 commented on #314
@lfenske-93 that is a great point! I'm going to leave it at `--sample` to keep it similar to `--accession`.

Thank you very much for bringing that up, I completely over looked it

[2022-05-18 13:37] marcmtk opened #320 "Unicycler hybrid assembly not allocated intended resources"
Thank you for the massive undertaking of this package and all the contributed models to nf-core. I've learned a lot from poking around your source code :smile:

I'm trying hybrid assembly with bactopia for the first time.

My run restarted the assemble_genome process after 1h, but as far as i can tell from the conf/base.config file it is supposed to be allocated two hours and 32GB memory. https://

[2022-05-18 18:41] rpetit3 commented on #320
Hi @marcmtk

Nice catch! Looks like I failed to make this change between V1 and V2. I think a have a fix in place for you (https://github.com/bactopia/bactopia/commit/37e63e8e58386fba593f4b4dd888b30815cc7952)

It looks like you might already be using my dev build, if not here's details
[code]

Let me know if you spot anything else! Also, let me know if you have any feedback or things you'd like to

[2022-05-20 10:14] JordyCoolen opened #321 "[question] Can someone help me on --coverage and the discrepancy in output?"
Dear,

I have noticed that with setting --coverage 120 the quality_control results report 120 coverage on R1 and on R2,
however, the results of the assembly in the contigs indicate around cov=60.

Can someone help me how --coverage is calculating and limiting the coverage and what the natural and best coverage is to report.

Kind regards,

Jordy

[2022-05-21 03:19] rpetit3 commented on #321
Hi @JordyCoolen

Did you use SKESA or SPAdes for assembly? I'm guessing the the coverage for the contigs is the k-mer coverage which is expected to lower than the estimated coverage. Here's some info from SPAdes documentation: https://github.com/ablab/spades#contigs-and-scaffolds-format

`--coverage` is using the genome size to estimate the number of base pairs needed for 'X' coverage. Example bei

[2022-05-25 05:38] shlomobl opened #322 "[bug] --point_mut_all" is not a valid option"
Hi,

Need some help with the following error, please...

I am running some tens of S. aureus genomes. I started with assembled genomes.

The short error message:
[code]

Bellow is the full message. Thanks!

[code]

[2022-05-25 05:48] shlomobl opened #323 "[feature] Report"
Hi,

Is there already a way to wrap the results of different analysis into one report or file?

Preferably csv, but also a html or similar report for visualization would be great!

I mean per analysis, but as I write, I think the option of a report with multiple analysis would be also very nice to have (table of AMR, MLST, VGs etc.).

If not, does someone suggest a script to gather the results tog

[2022-05-25 06:00] shlomobl commented on #322
Could it be related to use of the "--amr_plus" option with assembled genomes as input?

I should've sent the command I used:

``bactopia --fastqs ../Saureus_FOFN.txt --datasets /media/shlomo/DATADRIVE0/bactopia/datasets/ --species "Staphylococcus aureus" --skip_fastq_check --skip_qc --compliant --centre TAU --amr_plus  --amr_organism Staphylococcus``

[2022-05-25 06:08] shlomobl opened #324 "[bactopia-tool] cgMSLT"
Hi,

It would be very nice if Bactopia could assign cgMLST typing from established cgMSLT schemes (PubMLST or else), either directly or by input of the scheme.

Thanks!

[2022-05-25 13:41] rpetit3 commented on #323
Hi @shlomobl

It's a work in progress, but take a look at this issue: https://github.com/bactopia/bactopia/issues/318

You can use `bactopia-summary` (only in my dev build at the moment) to get a table with some of these fields

Cheers,
Robert

[2022-05-25 16:28] shlomobl commented on #322
This is like installing a new env including the datasets? Or it updates the
current bactopia env in my computer?

On Wed, May 25, 2022, 16:40 Robert A. Petit III ***@***.***>
wrote:

[2022-05-25 16:41] rpetit3 commented on #322
It'll create a new environment for bactopia you can use. All the datasets will work fine.

Mostly just a way to help you move forward, until I push another version update

[2022-05-26 10:00] shlomobl commented on #322
Hi,
I installed the dev version.
Now it got stuck like this:

(bactopia-dev) ***@***.***:/media/shlomo/DATADRIVE3/Saureus_bats/bactopia_reads$
bactopia --fastqs ../Saureus_bats_reads_FOFN.txt --datasets
/media/shlomo/DATADRIVE0/bactopia/datasets/ --species 'Staphylococcus
aureus' --outdir ./OUTDIR --amr_plus --amr_organism Staphylococcus
2022-05-26 11:19:21:root:INFO - Checking if environment pre-

[2022-05-26 12:54] rpetit3 commented on #322
What sort of setup are you running this on? (laptop, desktop, server, cluster, cloud, etc...)

And do you by chance have access to Docker or Singularity?

[2022-05-26 13:13] shlomobl commented on #322
Hi,
Desktop running Ubuntu 20 only.
Never used Docker or Sing.
Best,
Shlomo

On Thu, May 26, 2022, 15:55 Robert A. Petit III ***@***.***>
wrote:

[2022-05-26 13:41] rpetit3 commented on #322
That's super helpful to know! And I agree it should not take hours to build these environments. Should be ~20-40 minutes, depending on internet connection.

Do you mind trying again and running with `--verbose`? This might give us something to work with

[2022-05-26 15:57] shlomobl commented on #322
It did install... but got stuck when running on the very first step.

On Thu, May 26, 2022, 16:41 Robert A. Petit III ***@***.***>
wrote:

[2022-05-26 16:03] rpetit3 commented on #322
Yep, add a `--verbose` to your bactopia command:

[code]

This will hopefully give us some more info on why its taking so long

[2022-05-28 15:45] shlomobl commented on #322
Hi Robert,

Here it goes... thanks for the help!

'''
(bactopia) ***@***.***:/media/shlomo/DATADRIVE3/Saureus_bats/bactopia_reads$
bactopia --fastqs ../Saureus_bats_reads_FOFN.txt    --datasets
/media/shlomo/DATADRIVE0/bactopia/datasets/    --species 'Staphylococcus
aureus'    --outdir ./OUTDIR    --amr_plus    --amr_organism Staphylococcus
   --verbose
2022-05-28 18:23:24:executor.process:DEBUG -

[2022-05-28 19:13] rpetit3 commented on #322
Good news is it looks like it worked this time! Maybe it was an intermittent connection issue on the conda side

[2022-05-29 00:29] govind-sah opened #325 "[Unable to re-submit task]"
Hi Bactopia community,
I am trying to analyze whole genome sequencing data for some of the _Pseudomonas aeruginosa_ isolates (72 to be specific). I haven't used bactopia before and tried to run the tool on my local computer following tutorial for `Multiple Samples (FOFN)` from this [bactopia github page](https://bactopia.github.io/tutorial/).
My samples are in the fastq.gz format and were sequence

[2022-05-29 00:59] rpetit3 commented on #325
Hi @govind-sah !

First, please don't be concerned about your writing style or length. I had see no issues with it and actually found the length very useful.

Look at the log, I'm wondering if you ran out of space. How much free space do you have left on your hard drive?

Cheers,
Robert

[2022-05-29 01:12] govind-sah commented on #325
I have a macMini with 8 gb ram, 3 GHz 6-Core Intel Core i5 processor and only 256 gb hard drive. I was experiencing the storage issue earlier so I moved the raw fastq files (which is ~65 gb) to an external hard drive (fastqs.txt has the path to these files). I had more than 80 gb free space before running the bactopia command but as you pointed, I have only 2 gb space left on the internal hard dri

[2022-05-29 01:20] rpetit3 commented on #325
No worries! Hope the external drive does the trick for you. If not, you can try doing it in smaller batches. The `work` directory can sometimes take up  a lot of space when running in large batches.

Keep me posted! And please let me know if there are other issue you encounter. I no longer have access to a Mac system, but I'll try my best!

Cheers,
Robert

[2022-05-29 19:39] govind-sah commented on #325
Hi @rpetit3,
I tried to rerun bactopia using just 3 samples (6 fastq.gz files total) this time and still getting error message (see below).
[error_message.txt](https://github.com/bactopia/bactopia/files/8794146/error_message.txt).
Can you please tell me what's going wrong here.
Alternatively, do you suggest using container for bactopia? I haven't used it before but I can give it a try if the probl

[2022-05-29 20:08] rpetit3 commented on #325
If possible I would definitely recommend trying Docker.

Looks like its an issue with Conda:
[code]

I might be able to update the dependencies if you don't think you'll be able to use Docker.

[2022-05-29 23:02] plasminogene opened #326 "Bug in bactopia datasets update --species "Escherichia""
Hi,

I can not use MLST search  in  --species "Escherichia"  because of the bug in  bactopia datasets update  as following：

Thanks!

Haitao

(bactopia-dev) lh@ubuntu:~$  bactopia datasets --species "Escherichia" --include_genus  --skip_ariba  --skip_amr --keep_file
2022-05-29 08:25:55:root:INFO - Escherichia verified in ENA Taxonomy database
2022-05-29 08:25:55:root:INFO - Skipping Ariba dataset

[2022-05-29 23:28] rpetit3 commented on #326
Hi @plasminogene !

With the MLST you'll have to give the species name as well not just the genus. So something like "Escherichia coli" instead of just "Escherichia".

The second issue, `EOFError: Compressed file ended before the end-of-stream marker was reached` I think is a issue with an assembly on NCBI. This is not the first time I've seen this recently with Escherichia. I'll look into a way t

[2022-05-30 02:23] govind-sah commented on #325
I will try to use docker for this however, since I am not very familiar with it, it am afraid if it will work for me.
If possible, please update the dependencies so that I can use it on my system.
Thank you so much for your assistance and guidance.

[2022-05-30 13:12] plasminogene commented on #326
I will try it ,thank your very much!

[2022-05-31 12:35] samlipworth opened #327 "[bug] can't run pipeline"
Trying to run a single test sample but getting nowhere - is this a nextflow issue?

**Steps to Reproduce**
[code]

**Execution Environment**

- Bactopia Version: 2.0.3
- OS: Ubuntu
- Environment: Cluster/Conda

**Additional Information**
[code]

[2022-06-03 19:52] jellyvanderwoude opened #328 "Can't locate Bio/Roary/CommandLine/Roary.pm in @INC (you may need to install the Bio::Roary::CommandLine::Roary module)"
I'm running bactopia --wf pangenome --use_roary on Conda and running into the following problem:

I recently completely un-installed and re-installed Conda on my computer (as well as bactopia, as a result), but I am still working with my bactopia folder from previous installation (aka didn't delete the folders with results and datasets), if that's relevant, although I don't think it should be.

[2022-06-03 19:53] jellyvanderwoude opened #329 "pangenome pirate - ERROR: extract_feature_sequences.pl failed"
(bactopia) bio-24046:bactopia-folder jvanderwoude3$ bactopia --wf pangenome --bactopia /Volumes/JellyExternal/bactopia-folder --include include130.txt --outdir 130_pirate
Traceback (most recent call last):
  File "/Users/jvanderwoude3/miniconda3/envs/bactopia/bin/bactopia-download.py", line 515, in <module>
    workflow_modules = parse_workflows(bactopia_path, include_merlin=include_merlin, build_

[2022-06-03 20:13] rpetit3 commented on #329
Bummer, I bet I know what's happening here.

I added a build of PIRATE to Bioconda (https://github.com/bioconda/bioconda-recipes/pull/31629) that included `PIRATE_to_roary.pl`. This would be Build 2 of PIRATE v1.0.4 on BioConda. I think when you are running the `pangenome` tool Conda is pulling Build 1 or Build 0 of PIRATE, which are missing this script.

Let me see if I can force the build for yo

[2022-06-03 20:15] rpetit3 commented on #328
This sticks out to me `ModuleNotFoundError: No module named 'executor'`, but I also see you are in the Bactopia environment.

Could you by chance share the output of `which python` while in the bactopia environment?

[2022-06-03 20:31] jellyvanderwoude commented on #328
(bactopia) bio-24046:bactopia-folder jvanderwoude3$ which python
/Users/jvanderwoude3/miniconda3/envs/bactopia/bin/python

[2022-06-04 22:14] govind-sah commented on #325
Hi @rpetit3,
I tried to run bactopia in docker this time, but was unsuccessful.
I just used one sample (S14) for the analysis  and got the following errors.
[Docker_bactopia_error.txt](https://github.com/bactopia/bactopia/files/8839004/Docker_bactopia_error.txt)

I'm not sure why it is not working no matter what I try.
Is there some issue on my computer?
Please help.
Thank you,
Govind

[2022-06-05 15:53] Tonny-zhou opened #330 "[feature] Adding module for identifying the prophages in the genome?"
**Related To**

- [ ] Bactopia
- [ ] Bactopia Tools

**Is this related to a problem?**
A description of what the problem is. Ex. I'm always converting X to Y, cannot adjust parameter Z [...]

**Is this something you would like to see added?**
A description of the analysis and required tools you would like to see. Ex. New tool does "XYZ", a new Bactopia Tool [...]

**Describe the solution you'd lik

[2022-06-05 17:59] rpetit3 commented on #325
You are good.  You will want to run bactopia from the conda environment then add `-profile docker` to tell Nextflow to use Docker.

[code]

Let me know if this works for you

[2022-06-05 17:59] rpetit3 commented on #330
Hi @Tonny-zhou

Do you have anything that you would recommend?

Thanks!
Robert

[2022-06-06 04:56] govind-sah commented on #325
Apparently, this seem to work initially as it ran for some time but eventually gave me an error :(.
My terminal looked something like this (see the file below).
[bactopia_errors.docx](https://github.com/bactopia/bactopia/files/8841092/bactopia_errors.docx)

thanks,

[2022-06-06 14:15] rpetit3 commented on #325
I think `S14` is requiring more than 8GB of memory to process.

How big are the fastqs for `S14`?

[2022-06-07 06:33] govind-sah commented on #325
Sample S14 or any other is not huge. they are in the range of 400-500 mb each file.
S14_R1.fastq.gz is 483.3 mb and S14_R2.fastq.gz is 525.2 mb in size.
I tried to run another sample (S15, which are 400(R1) and 433(R2) mb in size) using the following command:
`bactopia --R1 S15_R1.fastq.gz --R2 S15_R2.fastq.gz --sample S15 --datasets datasets/ --species "Pseudomonas aeruginosa"  --coverage 100 --g

[2022-06-07 08:14] lfenske-93 commented on #330
Hi again 😄

I would also love this idea, the only thing I can think of is PHASTER (https://phaster.ca/).
However, I'm not sure how well that can be integrated because in my experience, both the web interface and the API are very slow for larger amounts of data.

In any case, there are some scripts that make using the PHASTER API a bit easier, e.g.
https://github.com/boulund/phaster_scripts maybe s

[2022-06-07 16:09] rpetit3 commented on #325
I wonder if there is a setting in Docker to increase the amount of ram"

[code]

Maybe this will help: https://docs.docker.com/desktop/mac/

[2022-06-07 16:12] rpetit3 commented on #330
Thanks for the suggestion @lfenske-93 !

Would Phigaro be an option?  https://github.com/bobeobibo/phigaro This one is on Bioconda and I think might be more straight forward to get into Bactopia

Also open to other options

[2022-06-08 05:16] govind-sah commented on #325
Aaahhhh😓....finally it worked😊!
Although some modules did not run, I suppose. This time I used Macbook pro (3.1 GHz Dual-Core Intel Core i7; 16 GB 1867 MHz DDR3) and it took around 7 hours to finish the run. I wonder 🥺 how much time will it take to run all my samples!

This time I also changed the preference of Docker desktop (see below) as you suggested.
<img width="1276" alt="Screen Shot 2022-06

[2022-06-08 05:26] rpetit3 commented on #325
The failed steps are ok as long as the retry passes. I think 6 hours is kind of long, how was your internet connection?

I ask because the first time you run bactopia its going to spend a lot of time pulling the docker images (~7gb) I usually expect samples to finish processing in 30-60 minutes.

[2022-06-08 06:15] govind-sah commented on #325
I have a fairly good internet connection ~200mbps.
I will try to run other samples too and let you know the results.
Also, I did not understand why it needs so much of ram on my system if running through the docker. Do you know the reason?
Thank you,

[2022-06-08 20:30] rpetit3 commented on #329
Hi @jellyvanderwoude

I released v2.1.0 (https://github.com/bactopia/bactopia/releases/tag/v2.1.0) which should fix this for you! I updated the PIRATE step to use the specific build with the necessary scripts. The new version should be available on Bioconda today or tomorrow. If your problem persists, please feel free to reopen this issue!

If you have some time to spare, please consider filling o

[2022-06-08 20:30] #329 closed

[2022-06-08 20:32] rpetit3 commented on #322
Hi @shlomobl

I released v2.1.0 (https://github.com/bactopia/bactopia/releases/tag/v2.1.0) which should fix includes the changes from the dev build you were using. If your problem persists, please feel free to reopen this issue!

If you have some time to spare, please consider filling out my Bactopia survey.  I use the feedback to direct the future developments of Bactopia. (_If you've already fil

[2022-06-08 20:32] #322 closed

[2022-06-08 20:33] rpetit3 commented on #321
Hi @JordyCoolen,

I'm going to go ahead and close this issue, please feel free to reopen if you have any questions!

Cheers,
Robert

[2022-06-08 20:33] #321 closed

[2022-06-08 20:34] rpetit3 commented on #320
Hi @marcmtk

I released v2.1.0 (https://github.com/bactopia/bactopia/releases/tag/v2.1.0) which should fix includes the changes from the dev build you were using. If your problem persists, please feel free to reopen this issue!

If you have some time to spare, please consider filling out my Bactopia survey.  I use the feedback to direct the future developments of Bactopia. (_If you've already fill

[2022-06-08 20:34] #320 closed

[2022-06-08 20:34] rpetit3 commented on #316
Hi @llk578496

I released v2.1.0 (https://github.com/bactopia/bactopia/releases/tag/v2.1.0) which should fix includes the changes from the dev build you were using. If your problem persists, please feel free to reopen this issue!

If you have some time to spare, please consider filling out my Bactopia survey.  I use the feedback to direct the future developments of Bactopia. (_If you've already fi

[2022-06-08 20:34] #316 closed

[2022-06-08 20:35] rpetit3 commented on #315
@lfenske-93 I'm going to go ahead and close this issue, please feel free to reopen!

[2022-06-08 20:35] #315 closed

[2022-06-08 20:37] rpetit3 commented on #314
Hi @lfenske-93 and @creamerk

I released v2.1.0 (https://github.com/bactopia/bactopia/releases/tag/v2.1.0) which should fix includes the changes from the dev build you were using. Let me know if you have any other ideas to improve `bactopia prepare` and FOFN usage.

If you have some time to spare, please consider filling out my Bactopia survey.  I use the feedback to direct the future developments

[2022-06-08 20:37] #314 closed, assigned to nobody

[2022-06-08 20:39] rpetit3 commented on #313
Hi @lfenske-93

I released v2.1.0 (https://github.com/bactopia/bactopia/releases/tag/v2.1.0) which should fix includes the changes from the dev build you were using. I ended up bumping the GTDB Bactopia Tool to the latest version, and had to make some changes to the Bioconda recipe (https://github.com/bioconda/bioconda-recipes/pull/35174). Hopefully its all working now, let me know if not!

I plan

[2022-06-08 20:41] rpetit3 commented on #309
Hi @bradle01

I released v2.1.0 (https://github.com/bactopia/bactopia/releases/tag/v2.1.0) which should fix includes the changes from the dev build you were using. If your problem persists, please feel free to reopen this issue!

If you have some time to spare, please consider filling out my Bactopia survey. I use the feedback to direct the future developments of Bactopia. (If you've already fille

[2022-06-08 20:41] #309 closed

[2022-06-08 20:42] #287 closed

[2022-06-08 20:43] rpetit3 commented on #302
I released v2.1.0 (https://github.com/bactopia/bactopia/releases/tag/v2.1.0) which addresses this issue

[2022-06-08 20:43] #302 closed

[2022-06-08 20:43] rpetit3 commented on #310
I released v2.1.0 (https://github.com/bactopia/bactopia/releases/tag/v2.1.0) which moves Ariba to a Bactopia Tool

[2022-06-08 20:43] #310 closed

[2022-06-08 20:48] rpetit3 commented on #300
Hi @lfenske-93,

I went the route of splitting the Bakta Bactopia Tool into a `download` (uses `bakta_db download`) and `run` step. This is now available in v2.1.0 (https://github.com/bactopia/bactopia/releases/tag/v2.1.0) and you can use `--bakta_db` and `--use_bakta` with Bactopia's main pipeline.

I think there are still tweaks to be made here on the usage (e.g. shouldn't need to provide both p

[2022-06-08 20:49] #295 closed

[2022-06-08 20:54] rpetit3 commented on #326
@plasminogene where you able to get things working for you?

[2022-06-08 20:56] rpetit3 commented on #328
Hmmm, looking into this. For some reason its not looking for the Perl modules in your conda environment. Hopefully the PIRATE fix in 2.1.0 will correct things for you!

[2022-06-08 20:58] rpetit3 commented on #327
hi @samlipworth,

I released v2.1.0 (https://github.com/bactopia/bactopia/releases/tag/v2.1.0) which might be better to use. Please let me know if it fixes the issue you were having!

Also, are you submitting jobs to a cluster?

Cheers,
Robert

[2022-06-08 21:00] rpetit3 commented on #325
Hi @govind-sah,

Unfortunately I'm not too familiar with Docker on Mac. But in other new, I released v2.1.0 (https://github.com/bactopia/bactopia/releases/tag/v2.1.0) which might fix your initial issue using Conda.

If you have the time, I'm very curious to know if v2.1.0 allows you to use Conda.

Cheers,
Robert

[2022-06-09 01:34] govind-sah commented on #325
I used the latest version of bactopia to analyze of my samples, S14.
Apparently, it improved compared to the earlier version since I can see better results, however not all modules ran successfully.
Please have a look at my terminal output (view the file below).
[bactopia_terminal.docx](https://github.com/bactopia/bactopia/files/8866057/bactopia_terminal.docx)

thank you,
Govind

[2022-06-09 01:41] rpetit3 commented on #325
Bummer! I've seen something similar, going to try an replicate on my end. Will update shortly

[2022-06-10 03:21] rpetit3 commented on #225
Closing for now, because no need when grep does it just fine (and yes I'm talking to past and future self!)

[code]

[2022-06-10 03:21] #225 closed

[2022-06-14 18:37] phanhung2 opened #334 "macOS: Bactopia refused to continue after S. aureus dataset was created"
**Description**
Using an M1 Pro MacBook, I encountered this error while using Bactopia to run the tutorial from the Sequence Read Archive (SRA). The result indicated that the ARIBA dependency was not working properly. I tried using  `pip install ariba` to resolve this issue but I encountered it again using the same commands. The dataset folder was created but bactopia refused to continue.

**Steps

[2022-06-15 02:04] discipleofdarwin opened #335 "Having trouble loading in my R1 and R2 reads for genome assembly [question]"
Hi there,

I recently did some whole genome sequencing and tried out bactopia to assemble my genome. I followed the instructions on the page and ran into this error below. I am not sure why the program is not recognizing my file as gzip files. Can I please get some help on it? Thank you!
![Bactopia_error_1](https://user-images.githubusercontent.com/43763375/173720460-ff5f9cda-6847-4567-a460-4c5009

[2022-06-15 02:13] rpetit3 commented on #335
Hi @discipleofdarwin

Do you mind posting the output of the following in the directory with those fastqs?

[code]

Cheers,
Robert

[2022-06-15 02:17] rpetit3 commented on #335
also jsut a heads up, you'll want to use `--genome_size` noticed it was missing the underscore in the image above

[2022-06-15 16:36] phanhung2 commented on #334
Hello Robert,

Thank you for getting back to me. I have Perl installed on my MacBook, v5.30.3.

[2022-06-15 16:38] rpetit3 commented on #334
What's the output of `which perl`?

I'm asking because `nucmer` has the perl path hard coded to `/usr/local/bin/perl`

[2022-06-15 16:42] phanhung2 commented on #334
`/usr/bin/perl`

[2022-06-15 16:50] rpetit3 commented on #334
Yep, that's going to be the issue. You can try:

[code]

Head's up I'm not sure how well things are going to work related to Biconda and the M1 chip.

[2022-06-15 17:11] phanhung2 commented on #334
Hello Robert,

I notice that Bioconda and M1 still have some compatibility issues as of this post: https://github.com/conda/conda/issues/11216

Thank you very much for helping me. Have a nice day.

[2022-06-15 17:34] discipleofdarwin commented on #335
Hi Robert,

Thank you for the speedy response. Here is the full output from the
command.

Cheers,
Bo Huey Chiang

On Tue, Jun 14, 2022 at 7:17 PM Robert A. Petit III <
***@***.***> wrote:

[2022-06-15 17:39] rpetit3 commented on #335
Hi @discipleofdarwin, Looks like the output was missing

[2022-06-15 18:51] discipleofdarwin commented on #335
Hi Robert,

Yeah, I don't think I saw any output. Do you have any recommendations
or advice for what I should try next? Should I reinstall the program? Any
advice and recommendation are greatly appreciated. Thank you!

Sincerely,
Bo Huey Chiang

On Wed, Jun 15, 2022 at 10:39 AM Robert A. Petit III <
***@***.***> wrote:

[2022-06-15 19:37] rpetit3 commented on #335
Lets find the directory with your FASTQs and try running `gzip --verbose --test <YOUR_FASTQ_FILE>`

[2022-06-16 17:32] discipleofdarwin commented on #335
Hi Robert,

Do you think maybe it's an issue with the operating system? I have a
windows PC and downloaded the software developer's ubuntu on windows to
create a python virtual environment.

Sincerely,
Bo Huey Chiang

On Wed, Jun 15, 2022 at 1:36 PM Charles Chiang ***@***.***> wrote:

[2022-06-16 18:11] phanhung2 commented on #334
Hello Robert,

After a while of trying, I decided to uninstall and reinstall again. But now, it is giving me this error after I ran this prompt:

`(bactopia) Hungs-MacBook-Pro:~ phanhung2$ conda install -c conda-forge -c bioconda bactopia
Collecting package metadata (current_repodata.json): done
Solving environment: failed with initial frozen solve. Retrying with flexible solve.
Collecting package

[2022-06-16 18:57] shlomobl opened #336 "[bug] output in json format only"
Hi,
After updating to the last version of Bactopia, most output files are in json format. For example, BLAST, MLST, AMR... no txt files, only json.
Any ideas what could be causing/how to solve this?
Thanks!

[2022-06-16 21:59] rpetit3 commented on #336
There was an issue with the Ariba recipe which forced me to removed it temporarily.

I've since fixed the recipe (https://github.com/bioconda/bioconda-recipes/pull/35383) and will look to adding it back. Although I might have to move to strictly a Bactopia Tool due to it no longer being maintained.

[2022-06-16 22:06] phanhung2 commented on #334
So I got it to work, but the output was
`

[2022-06-20 06:04] alienzj opened #337 "[question] How to get available_datasets ?"
[code]
Dear @rpetit3  How to get available_datasets ?
Thanks!

[2022-06-20 06:05] alienzj commented on #337
[code]

[2022-06-20 06:07] alienzj commented on #337
I installed bactopia v2.1.0 using mamba. From the above command line output, I can't see parameter `--ariab` which have been mentioned in the bactopia documentations.

[2022-06-20 09:56] bernadettecy opened #338 "[bug] pipeline failing when supplied ONT reads"
**Description**
Attempting to pipeline ONT reads (using a single specified reference)

but bactopia: QC_reads fails

executor >  local (27)
[cf/a28af4] process > BACTOPIA:GATHER_SAMPLES (E20544088)  [100%] 15 of 15 ✔
[19/30dba9] process > BACTOPIA:QC_READS (E20581978)        [ 35%] 7 of 20, failed: 5, retries: 5
[-        ] process > BACTOPIA:ASSEMBLE_GENOME             [  0%] 0 of 2
[-        ] p

[2022-06-20 10:06] alienzj opened #339 "[bug] Pipeline failing when supplied adapter file"
**Description**
When I specific "--adapters db/adapters.fa", pipeline failed.
[code]

**Steps to Reproduce**
Steps to reproduce the behavior:
[code]

**Expected Behavior**
When I remove `--adapters`, it can run.

**Execution Environment**

- Bactopia Version: [output from `bactopia version`]
  bactopia 2.1.0
- OS: Ubuntu
- Environment: [e.g. conda, cluster, container, etc...]
  conda 4.12.0
  mamb

[2022-06-20 15:06] rpetit3 commented on #339
Hi @alienzj ,

I know what's happening here. I'll get this fixed and added to my dev build of Bactopia. It will likely be tomorrow before I can get to it.

I'll update soon,
Robert

[2022-06-20 15:09] rpetit3 commented on #337
Hi @alienzj

This is likely dues to me removing Ariba to a Bactopia Tool in v2.1.0.

I'll get this fixed and update you soon,!

Robert

[2022-06-20 15:13] bernadettecy commented on #338
Thanks!
I've uploaded the FOFN
In the directory I ran bactopia I have folders for all the isolates, one called bactopia and one called work, but no log files (in the base directory) - the program aborted after lots of errors/re-tries, don't know if that affected log files?

[ONT_MRSA_FOFN.txt](https://github.com/bactopia/bactopia/files/8941775/ONT_MRSA_FOFN.txt)

[2022-06-21 02:11] alienzj opened #340 "[feature] Call variant without network accessing"
**Related To**

- [x] Bactopia
- [ ] Bactopia Tools

**Is this related to a problem?**
Every time I run bactopia on an HPC slurm system, when run to the **call variant** step, bactopia will prompt that the network is not accessible.

**Is this something you would like to see added?**
Is there a way to use bactopia without internet, knowing what the species I'm studying is.
I have configured the co

[2022-06-21 02:32] rpetit3 commented on #340
Hi @alienzj

Try running with `--disable_auto_variants`, this shod disable the minmer assisted reference selection.

Have you tried using singularity with your HPC? Also, if you are interested we can set up a config file similar to this one https://github.com/bactopia/bactopia/blob/master/conf/profiles/arcc.config for your SLURM cluster.

Cheers,
Robert

[2022-06-21 03:10] alienzj commented on #339
@rpetit3 Dear Robert, I am learning nextflow and bactopia, could you please guide me how to hot fix it ?

[2022-06-21 04:09] alienzj commented on #339
For hot fix, I just replace the default value with other value at file `bactopia/modules/local/bactopia/qc_reads/main.nf`. Now it work. Great!

[2022-06-21 16:34] rpetit3 commented on #339
Beat me to it! But I've implemented a fix for this issue here: https://github.com/bactopia/bactopia/commit/f68f5ffcceeae957c1616f709234424133fbe5d4

If you are interested in using my dev build of Bactopia here are details:

[code]

[2022-06-21 16:42] rpetit3 commented on #337
Ok, this is now fix (https://github.com/bactopia/bactopia/commit/798c69e458ecf04ffed8fa34dddaf816250e55b0) and is available in my dev build

[code]

Thank you for reporting this!

[2022-06-21 16:44] rpetit3 commented on #335
@discipleofdarwin

I think you should be fine running this on Windows, but in an Ubuntu environment.

Were you able to test the gzip files?

[2022-06-21 18:44] discipleofdarwin commented on #335
I just did another test with gzip command, and it looks like it is gz. I'm
not sure why bactopia returns an error asking me to check the file.

[image: image.png]

On Tue, Jun 21, 2022 at 11:38 AM Charles Chiang ***@***.***> wrote:

[2022-06-21 18:54] bernadettecy commented on #338
Actually they are fairly large - between 500MB and 1.2 GB. Thanks, will try the max time

[2022-06-21 22:26] rpetit3 commented on #338
Keep me posted on if `--max_time` works. Could also toss more cpus at it with `--max_cpus`

I'll also see about finding a large ONT dataset to test on my end. If you know one on SRA/ENA, please feel free to share!

[2022-06-21 23:58] discipleofdarwin commented on #335
Hi Robert,

It looks like it didn't work. Here are the error messages.

Sincerely,
Bo Huey Chiang

On Tue, Jun 21, 2022 at 2:58 PM Robert A. Petit III <
***@***.***> wrote:

[2022-06-22 00:09] rpetit3 commented on #335
I think the error messages are missing

[2022-06-22 02:34] alienzj commented on #339
Thanks Robert !

[2022-06-22 02:35] #340 closed

[2022-06-22 02:35] #339 closed

[2022-06-22 02:36] alienzj commented on #337
Great ! Thanks Robert !

[2022-06-22 03:41] discipleofdarwin commented on #335
Hi Robert,

This is everything in the command prompt. Thank you so much for taking the
time to help me with this issue.

Sincerely,
Bo Huey Chiang

On Tue, Jun 21, 2022 at 5:09 PM Robert A. Petit III <
***@***.***> wrote:

***@***.***:~$ conda activate bactopia
(bactopia) ***@***.***:~$ bactopia -profile test
2022-06-21 20:36:59:root:INFO - Checking if environment pre-builds are needed, use --verb

[2022-06-22 20:49] rpetit3 commented on #335
Apologies, typo on my end, should be: `bactopia -profile test,standard`

[2022-06-22 21:20] rpetit3 commented on #335
That's good to see.

Do you have other reads that you can try to run through?

[2022-06-22 23:48] discipleofdarwin commented on #335
Hi Robert,

We figured out the problem! All my files, for some reason, do not have read
and write permissions, and that's been the issue all this time. Now that
I've given them all read and write permission, it is running fine. On
another note, is there something special I need to do so the program will
run de novo assembly? It looks like the default is assembled to the
reference genome. Thank you

[2022-06-23 11:51] bernadettecy commented on #338
This has solved it, thank you! Got some beautifully circularised assemblies.

[2022-06-23 11:51] #338 closed

[2022-06-23 15:01] rpetit3 commented on #338
Awesome! Glad you were able to get some good data!

Don't hesitate to reach out if you run into any more issues or have any feedback (e.g. improvements, or tools to include)

[2022-06-27 16:25] alienzj opened #341 "Bactopia-tools ariba: ariba-summary error"
[code]

[2022-06-27 16:52] rpetit3 commented on #341
Thank you for reporting @alienzj  I know what the issue is here and well get you an update very soon

[2022-06-27 17:46] rpetit3 commented on #341
This is now fixed on the dev build: https://github.com/bactopia/bactopia/commit/9aad38b1eb4bdcbb93af530a5a87a8147077187f

[2022-06-28 01:21] alienzj commented on #341
Thanks Robert !

[2022-06-28 05:46] alienzj commented on #341
[run_bactopia_ariba.log](https://github.com/bactopia/bactopia/files/8998011/run_bactopia_ariba.log)
Hi, @rpetit3 after using bactopia-dev, I still meet some errors.

[2022-06-28 12:45] rpetit3 commented on #341
Ah this looks like something different,

[code]

Let me see if I can replicate this

[2022-06-29 08:48] anwarMZ opened #342 "tmpdir error during BACTOPIA:CALL_VARIANTS"
**Description**
I am getting this `--tmpdir '/localscratch/mzanwar.37952706.0' is not a directory` error during BACTOPIA:CALL_VARIANTS I have attached the log and details below

[code]

**Steps to Reproduce**
Steps to reproduce the behavior:

`nextflow run main.nf -profile singularity --R1 S852_R1.fastq.gz --R2 S852_R2.fastq.gz --sample S852 --datasets ../datasets/ --species "Vibrio parahaemolytic

[2022-06-29 14:50] rpetit3 commented on #342
Looks like Snippy defaults to the `$TMPDIR` environment variable. Let me see about making the tmp directory in the same folder as where the files are staged.

I'll update soon

[2022-06-29 18:14] rpetit3 commented on #342
I think I have the temp directory issue solved with (https://github.com/bactopia/bactopia/commit/0856bf3e2881a92fc5b78ff7c0b3abd696d09697). Basically just going to use the folder the files are staged in. Its only used for bwa/samtools sort/view etc...

This is currently available from my dev build:
[code]

Now for the Prokka issue, doesn't look like we have the option to change the temp directory

[2022-06-30 15:06] erin-thei opened #343 "[question] Setting Up Latest AMRFinder+ Database failed..."
<img width="1438" alt="Screen Shot 2022-06-30 at 11 02 49 AM" src="https://user-images.githubusercontent.com/108017953/176711150-76b9c455-0100-424d-a94a-82a99aa50ce2.png">

Hi all,

I'm new to bioinformatics so not sure what to do here. Trying to run the command 'bactopia datasets' but got this issue. Can someone help explain this to me to understand it better and to also help me resolve it?

Than

[2022-06-30 15:37] rpetit3 commented on #343
Hi @erin-thei

Let's see if we can get this figured out. Are you by chance running this on a cluster? I ask because the $PATH looks like some things are added before the bactopia env.

I'm wondering if its pulling a different `makeblastdb`

Cheers,
Robert

[2022-06-30 15:43] erin-thei commented on #343
Thanks for the quick reply! @rpetit3

Yes, I am running this on a cluster. I do see what you're talking about in terms of the $PATH. Is there a way a change this?

In addition to being new to bioinformatics, I am new to programming too (if it wasn't already obvious :-) ). Very much learning as I go so your help is greatly appreciated!

[2022-06-30 16:45] rpetit3 commented on #343
To solve the initial issue, this was run on the login node?

If so we'll need to update your path to put the conda env first. Mind posting the output of `echo $PATH` as text here?

[2022-06-30 17:37] erin-thei commented on #343
Yes, this was run on the login node. Here's the output:

(bactopia) [theillere@reslnvvhpc0135 marc_genomics]$ echo $PATH
/cm/local/apps/environment-modules/4.5.3/bin:/home/theillere/miniconda3/envs/bactopia/bin:/home/theillere/miniconda3/condabin:/home/theillere/.local/bin:/home/theillere/bin:/cm/shared/apps/slurm/current/sbin:/cm/shared/apps/slurm/current/bin:/cm/local/apps/environment-modules/4.

[2022-06-30 18:38] anwarMZ commented on #342
Additionally, the problem for genome_annotation remains the same. I checked the log isn't there. I was wondering is this due to hardcoding the number of threads used by gnu parallel? I may be wrong but just trying to figure out why is there no other error in the log as above.

[2022-06-30 19:23] rpetit3 commented on #343
Just to test if its the things early in the path you can try the following, then try rerunning `bactopia datasets`
[code]

This will only last while you are logged in, when you relog the changes will go away.

[2022-06-30 19:28] rpetit3 commented on #342
For the call variants: anything useful in `GCF_009763525/S852.log` that is mentioned?

For annotate_genome, the number of cpus is set by `--max_cpus`. I'm curious does the assembly look OK for this sample?

Also, what's the command being used when executing bactopia?

[2022-06-30 20:08] erin-thei commented on #343
<img width="1440" alt="Screen Shot 2022-06-30 at 4 05 51 PM" src="https://user-images.githubusercontent.com/108017953/176768257-db67647c-b8c1-4db3-9039-ac2981472be2.png">

I tried that command, and then re-ran bactopia datasets, however I ran into the same problem. I ran the echo $PATH command again also. It seems like the $PATH in the error message differs than that from when I run echo $PATH...

[2022-06-30 20:28] anwarMZ commented on #342
for call variants `GCF_009763525/S852.log`
[code]
Looks like the issue is still with the `tmpfile()`, this time in `freebayes`?

[2022-06-30 21:37] rpetit3 commented on #343
I wonder if this is related to the tmp directory https://github.com/ncbi/amr/wiki/Running-AMRFinderPlus#temporary-files

Just as a test you could try
[code]

Then try rerunning `bactopia datasets`. Otherwise if all else fails you can run with `--skip_amr`

[2022-06-30 21:42] rpetit3 commented on #342
_Looks like the issue is still with the tmpfile(), this time in freebayes?_

Yep, totally a tmpdir issue. I wonder if for your cluster you'll need to set the $TMPDIR/$TMP variable to some other spot.  Although I'm not sure why `/localscratch/mzanwar.38155235.0/` doesn't exist.

Given Prokka also failed on a parallel step. I wonder if it too is related to the TMPDIR

What's the job scheduler on you

[2022-06-30 21:54] anwarMZ commented on #342
cluster is SLURM based, for testing, I am running it in an interactive mode by allocating specific resources.
`salloc --time=4:0:0 --ntasks=4 --account=xxx-mzanwar-xx --mem-per-cpu=8G`

I checked my $TMPDIR and its different from where it tries to make the file - quite strange!

[code]

maybe check with cluster support?

[2022-06-30 22:05] rpetit3 commented on #342
Let's try this:

[code]

Running this from the login node, would allow nextflow to submit the jobs to the scheduler

[2022-06-30 22:06] rpetit3 commented on #342
important options here are
[code]

Options are described here: https://github.com/bactopia/bactopia/blob/master/conf/schema/profiles/slurm.json

or `bactopia -profile slurm --help`

[2022-06-30 22:17] anwarMZ commented on #342
ok I am running into JAVA heap error - I believe lots of people have discussed this, any suggestions

command from head node `nextflow run main.nf --R1 S852_L001_R1_001.fastq.gz --R2 S852_L001_R2_001.fastq.gz --sample S852 --datasets ../datasets/ --species "Vibrio parahaemolyticus" --coverage 100 --genome_size median --outdir ./results --run_checkm -resume -profile slurm --clusterOptions "--accoun

[2022-06-30 23:36] rpetit3 commented on #342
Hmmm, what's the total memory on the head node?

This might have some useful things to try: https://github.com/nextflow-io/nextflow/issues/1620

[2022-07-01 00:32] erin-thei commented on #343
<img width="1244" alt="Screen Shot 2022-06-30 at 7 33 53 PM" src="https://user-images.githubusercontent.com/108017953/176795316-435394d5-001f-4c93-8647-d20538380d6c.png">

After running the above commands, and re-running bactopia datasets, still ran into that same error message. I was able to use --skip_amr.

Then I ran the following command:
<img width="1235" alt="Screen Shot 2022-06-30 at 7 39 5

[2022-07-01 01:09] rpetit3 commented on #343
Hmmm, the amrfinder issue is problematic, but we can fix it later!

You are correct, if there is no species-specific database then leave the `--species` off.

[2022-07-01 23:37] erin-thei commented on #343
Hmm seemed to have run into another error while trying to run the command bactopia --samples fastq.txts --datasets datasets/ --species "Staphylococcus aureus" --coverage 100 --genome_size median --outdir multiple-samples-test
<img width="868" alt="Screen Shot 2022-07-01 at 7 28 13 PM" src="https://user-images.githubusercontent.com/108017953/176977695-6da51cdf-8d8b-4a5e-a343-ae7cae54384e.png">

It

[2022-07-05 18:09] anwarMZ commented on #342
not sure about the total memory on the head node. Still struggling to run the workflow with SLURM profile and get the same error.
[code]

[2022-07-05 18:10] anwarMZ commented on #342
I will also check with nf-core, if they have any recommendation

[2022-07-05 18:12] rpetit3 commented on #342
What's the `.nextflow.log` file look like? Happy to take this offline if you'd prefer to share the files through email

[2022-07-05 18:58] anwarMZ commented on #342
Just sent you a msg through nf-core slack. we can exchange files there more easily. The mail client may not allow sending specific files.

[2022-07-07 03:38] rpetit3 commented on #343
@erin-thei  apologies! Thought I responded to this!

Looks like conda failed for some reason (maybe intermittent connection issue). Easiest thing to do is try again, otherwise I would consider using Docker or Singularity as they are a bit less error-prone.

Again, happy to help set a config for your cluster

[2022-07-07 17:22] anwarMZ commented on #341
@rpetit3 any update on this?

  [ERRO] parse error on line 2, column 256: bare " in non-quoted-field

I am getting same error ` [ERRO] parse error on line 239, column 258: bare " in non-quoted-field`

[2022-07-07 19:57] anwarMZ commented on #341
Does merged reports include all samples?

[2022-07-07 20:11] rpetit3 commented on #341
Found the issue, and fixed in https://github.com/bactopia/bactopia/commit/9d0d676b2ba0847bc2dfdc9083c1d203ea664e40. This fix is now available on my dev build.

[code]

Details about the issue:

Ariba outputs some strings like so:
[code]
csvtk does not like mixing double and single quotes in a columns, but you can use `--lazy-quotes` to allow this behavior.

I'm going to allow this behavior, since

[2022-07-08 00:41] rpetit3 commented on #342
@anwarMZ going to go ahead an close this since we pretty much got it figured out offline

[2022-07-08 00:41] #342 closed

[2022-07-08 00:43] rpetit3 commented on #334
Hi @phanhung2,

Apologies for the delay in responding. By chance do you have Docker or Singularity available to use?

Cheers,
Robert

[2022-07-08 00:45] rpetit3 commented on #327
Hi @samlipworth,

Did you still want to look into this?

Cheers,
Robert

[2022-07-08 00:48] rpetit3 commented on #335
Hi @discipleofdarwin

Apologies in the slow response. Bactopia only creates de novo assemblies.

Cheers,
Robert

[2022-07-08 00:50] rpetit3 commented on #318
Hi @KarimAI7 ,

Is this still an issue you would like to fix?

Cheers,
Robert

[2022-07-08 00:51] rpetit3 commented on #286
This will be available in the next version

[2022-07-08 00:51] rpetit3 commented on #241
This will be in the next version

[2022-07-09 05:29] govind-sah commented on #325
@rpetit3 Sorry but I could not figure it out on my own.
It still gives me an error when running multiple samples together.
Did you update it recently?
Thanks,
Govind

[2022-07-10 00:58] rpetit3 commented on #341
Hi @alienzj  and @anwarMZ

I've released [v2.1.1](https://github.com/bactopia/bactopia/releases/tag/v2.1.1) which should fix this issue. If not please feel free to reopen.

Cheers,
Robert

[2022-07-10 00:58] #341 closed

[2022-07-10 00:59] rpetit3 commented on #337
Hi @alienzj,

I've released [v2.1.1](https://github.com/bactopia/bactopia/releases/tag/v2.1.1) which includes a fix for this issue. If it persists, please feel free to reopen.

Cheers,
Robert

[2022-07-10 00:59] #337 closed

[2022-07-10 00:59] rpetit3 commented on #241
Now available in 2.1.1 https://github.com/bactopia/bactopia/releases/tag/v2.1.1

[2022-07-10 00:59] rpetit3 commented on #286
now available in v2.1.1 https://github.com/bactopia/bactopia/releases/tag/v2.1.1

[2022-07-10 01:01] rpetit3 commented on #335
Hi @discipleofdarwin

I think things are figured out here, so I will go ahead and close this issue. Please feel free to reopen if not.

Head's up, I've released [v2.1.1](https://github.com/bactopia/bactopia/releases/tag/v2.1.1).

Cheers,
Robert

[2022-07-10 01:01] #335 closed

[2022-07-10 01:02] rpetit3 commented on #327
Hi @samlipworth,

I'm going to go ahead and close this issue, please feel free to reopen. Also, I've released [v2.1.1](https://github.com/bactopia/bactopia/releases/tag/v2.1.1).

Cheers,
Robert

[2022-07-10 01:02] #327 closed

[2022-07-10 01:03] rpetit3 commented on #325
Hi @govind-sah

I've released [v2.1.1](https://github.com/bactopia/bactopia/releases/tag/v2.1.1), I'm curious if it still gives you the same issue

Cheers,
Robert

[2022-07-10 01:04] rpetit3 commented on #311
Hi @lingbingzeng1985

I'm going to go ahead and close this issue, please feel free to reopen if you think I can help with anything. Also, I've released [v2.1.1](https://github.com/bactopia/bactopia/releases/tag/v2.1.1).

Cheers,
Robert

[2022-07-10 01:04] #311 closed

[2022-07-10 01:04] #286 closed

[2022-07-10 01:06] rpetit3 commented on #326
Hi @plasminogene

I am going to go ahead and close this issue, please feel free to reopen. Also, I've released [v2.1.1](https://github.com/bactopia/bactopia/releases/tag/v2.1.1).

Cheers,
Robert

[2022-07-10 01:06] #326 closed

[2022-07-11 15:44] jellyvanderwoude commented on #328
Hi Robert- sorry I thought I had responded to this! I tried running it again twice on v2.1.0 both using Roary and Pirate but neither worked.

[2022-07-11 16:13] rpetit3 commented on #328
Hmmmm, going off this:
[code]

It looks like its not looking for Roary in the miniconda perl path
[code]

...

Then for PIRATE, its not finding `PIRATE_to_roary.pl` which I thought should be in the latest build.

[2022-07-12 07:37] lfenske-93 commented on #330
Hi Robert,

sorry for answering so late, I was on vacation a few weeks.

Never tried Phigaro before, but it sounds nice and I really would like to give it a try. I think Bactopia could definitely benefit from it.
I also absolutely agree that it is significantly easier to implement than PHASTER. If I find time in the next few days, I'll compare the results of both tools.

Greetings,
Linda

[2022-07-12 12:48] erin-thei commented on #343
No worries @rpetit3 !
I actually was able to get it working. I had some conflicts involving conda so un-installing/re-installing conda resolved those, enabling it to successfully run. I also got the config file from one of the senior bioinformaticians who works on the cluster, so I'm all set there. Thanks again for your responsiveness and help!

[2022-07-12 16:36] rpetit3 commented on #343
Awesome! I'm going to go ahead and close this.

Please feel free to reach out if you have questions, issues, or feedback!

[2022-07-12 16:36] #343 closed, assigned to nobody

[2022-07-14 15:32] ingridvanw opened #346 "[question] SPAdes version in Bactopia v2.1.1."
Hi @rpetit3,

After updating to the last version of Bactopia (v2.1.1) we noticed that SPAdes version is v3.13.0 (spades.py --version).
In an earlier version of Bactopia (2.0.3) the version of SPAdes is v3.15.3.
Can you confirm the downgrade of SPAdes. Can you explain why this is done?

Thanks!

Cheers,
Ingrid

[2022-07-15 07:47] ingridvanw commented on #346
Thank you for your answer!

[2022-07-15 19:53] rpetit3 commented on #346
No problem, I'm going to go ahead and close this. Feel free to reopen or reach out if you have more questions or feedback

[2022-07-15 19:53] #346 closed

[2022-07-17 09:12] llk578496 opened #347 "[feature] Add option --nanohq in assembly when using bactopia with ONT reads"
Hi @rpetit3

**Is this something you would like to see added?**
It will be great to have the option `--nanohq` when performing de novo assembly in `bactopia`, just like you did in `dragonflye`!

Thank you very much!

Eddie

[2022-07-17 14:24] rpetit3 commented on #347
Sure thing, I'll get a dev build with this option soon

[2022-07-18 10:22] llk578496 commented on #347
Thank you very much!

[2022-07-18 18:24] rpetit3 commented on #347
OK I think I got this in the dev build. I added a parameter `--dragonflye_opts` that should allow you to do this:

 `--dragonflye_opts "--nanohq"`

[code]

[2022-07-22 14:08] themudo opened #348 "[bactopia-tool] Panaroo"
In order for a tool to be added to [Bactopia Tools](https://bactopia.github.io//bactopia-tools/#available-bactopia-tools), it must be available on  [Bioconda](https://bioconda.github.io/) and [nf-core/modules](https://github.com/nf-core/modules). __But!!__ Don't let that stop you from suggesting a tool! Time permitting and depending on the feasibility I can help you get a tool on Bioconda and/or n

[2022-07-22 14:15] rpetit3 commented on #348
Hi @themudo

Panaroo is available as of v2.1.1. In the workflow `--wf panagenome` you will want to use `--use_panaroo`. More details here: https://bactopia.github.io/bactopia-tools/pangenome/#panaroo-parameters

Let me know if you have questions and feedback.

Cheers,
Robert

[2022-07-22 14:39] themudo commented on #348
Thank you! Don't know how I missed that.

Cheers,
Gonçalo

[2022-07-22 14:40] rpetit3 commented on #348
No worries! Very curious how it goes for you.

[2022-07-22 17:18] sekhwal opened #349 "[question]"
I am trying bactopia with only one sample but it is taking so long (around 2-3 hours) and still running. Is there any error in the command?

bactopia --R1 bactopia_fastqs/1-Ent_R1.fastq.gz --R2 bactopia_fastqs/1-Ent_R2.fastq.gz --sample 1-N2122099 --datasets datasets/ --outdir bactopia_output/

[2022-07-22 17:22] rpetit3 commented on #349
Looks fine, how big are the fastqs?

[2022-07-22 17:28] sekhwal commented on #349
R1 is 55.4 MB and R2 is 56.6 MB.

[2022-07-22 17:29] rpetit3 commented on #349
oh definitely should take that long!

Did the pipeline actually start, or is it still building conda environments?

[2022-07-22 17:32] sekhwal commented on #349
It runs and stops here,

2022-07-22 13:31:19:root:INFO - Checking if environment pre-builds are needed, use --verbose to see full details.
2022-07-22 13:31:19:root:INFO - Found /home/anaconda3/envs/bactopia/share/bactopia-2.1.x/conda/linux/gather_samples.yml (5 of 6), begin build to /home/anaconda3/envs/bactopia/share/bactopia-2.1.x/conda/envs/gather_samples-2.1.x

[2022-07-22 17:33] rpetit3 commented on #349
Do you by chance have access to Docker or Singularity on this system?

[2022-07-22 17:36] sekhwal commented on #349
It seems, it extended the process with the following warnings.

Software dependencies
  https://bactopia.github.io/acknowledgements/
--------------------------------------------------------------------
WARN:
WARN: Conda Disclaimer
WARN:
WARN: If you have access to Docker or Singularity, please consider
WARN: running Bactopia using containers. The containers are less
WARN: susceptible to Conda envi

[2022-07-22 17:37] sekhwal commented on #349
Do I need to install docker in this environment? I think I have docker in the system.

[2022-07-22 17:37] rpetit3 commented on #349
We can find out real quick by adding a `-profile docker` to the end of your command

[code]

[2022-07-22 18:27] sekhwal commented on #349
The pipeline is done with --max_cpus 40. I used without the -profile docker since it was showing an error. Can you please suggest which output files I should use to make a phylogenetic tree as similar as it is indicated in the paper "Bactopia: a Flexible Pipeline for Complete Analysis of Bacterial Genomes".

[2022-07-22 18:34] rpetit3 commented on #349
You can use the `pangenome` Bactopia Tool to generate a tree from your samples. Here's more details: https://bactopia.github.io/bactopia-tools/pangenome/

Also, the `--max_cpus` is likely going to slow things down. If you are trying to limit the pipeline to only use 40 cpus total, you'll want to use `-qs 40`. More details about `--max_cpus` vs `-qs` is available here: https://bactopia.github.io/us

[2022-07-22 18:53] sekhwal commented on #349
I ran the pipeline with the following command. It seems not generating the output files. I suppose --include "file name" contains input multiple files?

bactopia --wf pangenome --bactopia bactopia_output/ --include fastqs.txt

fastqs.txt
sample	runtype	r1	r2	extra
N2122099	paired-end	/bactopia_fastqs/N2122099_R1.fastq.gz	/bactopia_fastqs/N2122099_R2.fastq.gz
N2122225	paired-end	/bactopia_fastqs/N2

[2022-07-22 18:57] sekhwal commented on #349
Also, it is showing an warning at the end.

WARN: The operator `first` is useless when applied to a value channel which returns a single value by definition

[2022-07-22 18:59] rpetit3 commented on #349
You are going to need more samples for the `pangenome` tool.

You can ignore the `first` warning, it happens with only one sample

[2022-07-25 20:19] sekhwal commented on #349
Hi,
I noticed that in the datasets, it contains only "antimicrobial-resistance",  "minmer" but not CARD, VFDB etc. I used the command  "bactopia datasets" to make the dataset.
I am using the following command for the 245 samples, the pipeline still running for so long.

bactopia --wf pangenome --bactopia bactopia_output --include includes.txt

[2022-07-25 20:22] rpetit3 commented on #349
If you want to use CARD/VFDB you'll want to use the Ariba Bactopia Tool (`--wf ariba`) I had to remove ariba from the main bactopia workflow (including datasets) at v2.1.0

The pangenome step is likely to take a while. You might be able to speed it up with `--max_cpus`

[2022-07-25 21:24] sekhwal commented on #349
Sounds good. Can you please let me know how to add more features on the tree such as ANI, Genus, Taxon etc?
It seems, pipeline generates a directory "work" and is storing the results of pangenome analysis.

[2022-07-25 21:48] rpetit3 commented on #349
I usually us something like iTOL (https://itol.embl.de/) to annotate the tree.

The `work` directory is used by Nextflow to run things in isolated directories. On successfully pipeline completion you can delete the `work` directory.

[2022-07-26 15:54] sekhwal commented on #349
It is running with the following steps for more than 48 hours..

executor >  local (7)
[-        ] process > BACTOPIATOOLS:PROKKA:PROKKA_MODULE                         -
[bf/4f5956] process > BACTOPIATOOLS:PANGENOME:PG_TOOL:PIRATE_MODULE (pirate)     [100%] 1 of 1 ✔
[ef/c68f05] process > BACTOPIATOOLS:PANGENOME:SNPDISTS (pirate)                  [100%] 1 of 1 ✔
[5b/207621] process > BACTOPIATOOLS:

[2022-07-26 15:59] sekhwal commented on #349
work directory has many folders, please let me know where I can find the tree file and its annotation files such as ANI, Genus, Taxon.
Thanks!

[2022-07-26 16:22] rpetit3 commented on #349
You might need to increase `--max_time` or rerun with `--skip_recombination -resume`

Once completed the output files are described here: https://bactopia.github.io/bactopia-tools/pangenome/#output-overview

[2022-07-26 16:37] sekhwal commented on #349
Yes, I terminated the pipeline and re-ran with the --force, it is running again. Mostly, it takes time at "pirate" step.

bactopia --wf pangenome --bactopia bactopia_output --include includes.txt --max_cpus 50 --max_time 200 --skip_recombination

[2022-07-26 16:41] rpetit3 commented on #349
Sounds good, next time instead of `--force` try `-resume` so it won't start over

[2022-07-26 18:30] sekhwal commented on #349
It seems, the pipeline is done and I have results in pangenome folder. Can you please let me know how to annotate the tree such as ANI, Genus, Taxon. Do I need to run any other tools at bactopia?

[2022-07-26 19:04] rpetit3 commented on #349
I usually us something like iTOL (https://itol.embl.de/) to annotate the tree.

A description of output files are available here: https://bactopia.github.io/bactopia-tools/pangenome/#output-overview

[2022-07-26 19:10] sekhwal commented on #349
Thank you for your help. I am using iTOL. I generated the tree using iTOL and added some meta data of my datasets. I am looking to add Genus, Taxon information also.
In addition, is there any tool at bactopia to add population clustering?

[2022-07-27 17:19] sekhwal commented on #349
Can you please tell me the tool name to add Genus and taxon on the tree?

[2022-07-27 21:28] erin-thei opened #350 "[question] Bactopia Assembly Failing"
Hi Rob,
<img width="1440" alt="Screen Shot 2022-07-27 at 5 07 37 PM" src="https://user-images.githubusercontent.com/108017953/181373582-a1442d0c-55e8-457b-b28c-d8e72ee5bce3.png">

I am using Bactopia v2.0.3, running the command "bactopia --fastqs fastqs.txt --datasets datasets/ --species "Klebsiella pneumoniae"  --coverage 100 --nfconfig /mnt/isilon/bactopia_respublica.config --cleanup_workdir --o

[2022-07-27 21:47] rpetit3 commented on #350
Hmmmm, Did this fail almost immeadiately after rerunning with `-resume`? Or are the running then failing overtime?

I think it would be useful to dig into the `work` directory so see if maybe we can find something. Let me know if you need my help on this!

[2022-07-27 21:48] rpetit3 commented on #349
For kraken you will also need to provide a kraken database.

For taxonomic classification, you can try the GTDB bactopia tool, but I'll warn you it requires a large input database and ~60GB of memory

[2022-07-27 22:48] erin-thei commented on #350
After rerunning with -resume, is when it seems that all of the genome assemblies are failing. Prior to the outage (and thus re-running resume), the genomes were seemed to be assembling successfully. However, when I looked again earlier today, it said that 119 out of 119 genomes, failed which didn't seem right.

Just trying to learn more as well, what does that error code mean?

Also, is there some

[2022-07-27 22:54] rpetit3 commented on #350
In the image about try to find `work/7d/b13cbd...`

In that folder will be a `.command.err`, `.command.out` and. `shovill.log` file I wonder if we might find something useful in those

[2022-07-27 23:13] erin-thei commented on #350
Ah, I see. Thanks for pointing that out! Still very new to all of this so learning as I go.

<img width="1424" alt="Screen Shot 2022-07-27 at 7 02 42 PM" src="https://user-images.githubusercontent.com/108017953/181388063-c65d01b1-4094-4ab4-8c39-d7a3b9c81a9a.png">

After looking at those files (although truthfully not exactly knowing what I am looking for), something that stood out to me was in the

[2022-07-28 02:03] rpetit3 commented on #350
you did great! Keep going and you'll see "You do not have write permissions to blastdb"

You might have found a bug! Remind how are you running this (Docker, Singularity or Conda)? As well as the type of system (was it a slurm cluster?)

[2022-07-28 02:04] rpetit3 commented on #350
For some reason it looks likt its failing here: https://github.com/bactopia/bactopia/blob/master/modules/local/bactopia/assemble_genome/main.nf#L138-L139

[2022-07-28 11:58] erin-thei commented on #350
Hmm, very interesting! I'm running this on Conda and the system is a slurm cluster.

I also know I mentioned this before, but I'm using v2.0.3. It's worked for me on multiple runs prior to this set of samples so I'm wondering what's changed that's causing this. I know just because things worked before doesn't mean they'll never fail, but just very interesting especially to someone just first start

[2022-07-28 13:52] erin-thei commented on #350
So upon further inspection it looks like there is a difference in naming of the assembly that might be causing the issues downstream. Looking at the shovill log, the assembly was completed successfully and was labeled as contigs.fa, but there was no contigs.fa in that folder. Looking at that same folder /work/7d/b13cbd.../results, the assembly is there but labelled under the prefix (I.350.2.Colony

[2022-07-28 16:39] sekhwal commented on #349
Do I need to download kraken database separately or through bactopia? I have enough memory in my system, it has 120 GB.

[2022-07-28 18:38] jellyvanderwoude commented on #328
I've updated to v2.1.1 and still no luck, the output is the same. `which python` returns my miniconda env but `which perl` returns `usr/local/bin/perl` could this be part of the issue?

[2022-07-29 14:56] rpetit3 commented on #328
That's totally the issue here with Perl paths

Hmmm, any chance you could use Docker on your Mac system?

[2022-07-29 14:57] rpetit3 commented on #349
Here's a link to download pre-build databases: https://benlangmead.github.io/aws-indexes/k2

[2022-07-29 18:02] rpetit3 commented on #350
That should actually be ok since I rename the `contigs.fa` to `<SAMPLE_NAME>.fna`

I wonder what happens if you try rerunning just one of these samples without resuming.

[2022-07-29 19:11] erin-thei commented on #350
Okay, I will give that a try. In the meantime, I do have another question...

I am trying to learn how to run this on the cluster and not on my head node. Like I mentioned earlier, the system is a slurm cluster. I tried to run this command: bactopia --fastqs fastqs.txt --datasets datasets/ --species 'Klebsiella pneumoniae' --coverage 100 --nfconfig /mnt/isilon/marc_genomics/bactopia_respublica.con

[2022-07-29 19:16] erin-thei commented on #350
<img width="330" alt="Screen Shot 2022-07-29 at 3 15 24 PM" src="https://user-images.githubusercontent.com/108017953/181829060-b1bbc42a-31ea-41f4-8baa-c52d9a4e8b3c.png">

This is what my config file looks like

[2022-07-29 19:19] rpetit3 commented on #350
Good news it ran on slurm! I think you just need to tell it to use singularity

Here's an example config I'm using on our cluster: https://github.com/bactopia/bactopia/blob/master/conf/profiles/arcc.config

[2022-07-29 19:28] erin-thei commented on #350
Might sound like silly question but I would tell it to use singularity even if i'm running this on conda?

[2022-07-29 19:32] rpetit3 commented on #350
When you log in, use conda as you normally do. But we'll tell Nextflow to use singularity when it submits jobs to your cluster.

Let's try `-profile singularity,respublica` if that works we can update your `respublica` profile

[2022-07-29 21:27] erin-thei commented on #350
I tried the same command as above but instead used -profile singularity, respublica but it failed. Here's the full output:

(bactopia) [theillere@reslnvvhpc0153 klebsiella-bactopia]$ bactopia --fastqs fastqs.txt --datasets datasets/ --species 'Klebsiella pneumoniae' --coverage 100 --nfconfig /mnt/isilon/marc_genomics/bactopia_respublica.config -profile singularity,respublica --cleanup_workdir --ou

[2022-07-29 22:45] rpetit3 commented on #350
hmmm for some reason it went back to local executor and not slurm.

I think we'll need to tweak you slurm config file a little

[2022-07-29 22:50] rpetit3 commented on #350
Before we tweak your config, I wonder what happens with `-profile slurm,respublica`

[2022-07-30 13:37] erin-thei commented on #350
<img width="1433" alt="Screen Shot 2022-07-30 at 9 31 41 AM" src="https://user-images.githubusercontent.com/108017953/181916811-00790781-b8c8-476b-a784-b27551fe384f.png">

<img width="1436" alt="Screen Shot 2022-07-30 at 8 50 45 AM" src="https://user-images.githubusercontent.com/108017953/181916506-9ec4bbf0-e152-4cf5-af7a-9f9b2bbb95ad.png">

Trying on one sample, I ran the command: bactopia --R1 I

[2022-08-01 15:01] sekhwal commented on #349
Hi,
I have one more question. I am trying to run bactopia at 40 samples (R1 and R2) with 10 references genomes (.fasta) files. I am wondering if I can add these fasta files in the folder with input files (R1 and R2) and run following command. Please let me know if I can run the pipeline with more than one references.

bactopia --samples fastqs.txt --datasets datasets --outdir OUTDIR

[2022-08-02 18:01] rpetit3 commented on #349
This is possible with the `bactopia prepare` command. You will need to compress your assemblies then play around with the `--assembly_pattern` parameter.

More details here: https://bactopia.github.io/usage-basic/#generating-a-fofn

[2022-08-02 18:03] rpetit3 commented on #350
I can't tell from this image if its going to SLURM or not. I think we're close, good news is once we get your profile figured out, it will just work.

Remind me, was there a partition name that you submit jobs to? You can get this information with `sinfo`

[2022-08-02 21:45] erin-thei commented on #350
It didn't go to SLURM. The only time it seems to have go to slurm was when using the -profile slurm, but that failed as stated in one of the above messages. I'm also not sure about the partition name that I submit jobs too, but here is a screenshot of the output of sinfo
<img width="1374" alt="Screen Shot 2022-08-02 at 5 41 30 PM" src="https://user-images.githubusercontent.com/108017953/182478890-

[2022-08-02 21:47] erin-thei commented on #350
A colleague told me that he was able to successfully run Bactopia on the same cluster I am using by using -profile respublica,standard. When I tried that I ran into another error message: (it also seemed to not even go to slurm...)

(bactopia) [theillere@reslnvvhpc0153 klebsiella-bactopia]$ bactopia --R1 I.351.2.Colony4_R1.fastq.gz --R2 I.351.2.Colony4_R2.fastq.gz --sample I.351.2.Colony4 --specie

[2022-08-02 22:08] rpetit3 commented on #350
Let's try this! (Also thank you very much for continuing to try things)

[code]

We're going to try using the built in profile for SLURM, but tell it to use the `defq` partition (taken from `sinfo`), and limit the queue size to 20 (`-qs 20`)

[2022-08-03 00:39] erin-thei commented on #350
Thank you for all of the help! Question before I try this, should I still be using my config file when running these options?

[2022-08-03 00:52] rpetit3 commented on #350
You should not need your config.

[2022-08-04 17:44] erin-thei commented on #350
Sorry for the delay. I tried using those parameters but still got an error message. This is the command I tried: (bactopia) [theillere@reslnvvhpc097 klebsiella-bactopia]$ bactopia --R1 I.350.2.Colony9_R1.fastq.gz --R2 I.350.2.Colony9_R2.fastq.gz --sample I.350.2.Colony9 --datasets datasets/ --species 'Klebsiella pneumoniae' --coverage 100 -profile slurm --slurm_queue defq -qs 20 --cleanup_workdir

[2022-08-04 17:49] rpetit3 commented on #350
Here's our issue
[code]

Do you know if you have to do something like `module load singularity` on your cluster?

[2022-08-04 18:02] erin-thei commented on #350
Yes, we have module load singularity. So, how would the command look using that?

[2022-08-04 18:05] rpetit3 commented on #350
I think try loading the singularity module then running the bactopia command

[2022-08-04 18:06] erin-thei commented on #350
And then run the same command (i.e. with -profile slurm --slurm_queue defq -qs 20)?

[2022-08-04 18:24] rpetit3 commented on #350
yep

[2022-08-04 19:29] erin-thei commented on #350
<img width="1346" alt="Screen Shot 2022-08-04 at 3 24 10 PM" src="https://user-images.githubusercontent.com/108017953/182936139-37660aec-5768-48f0-a35f-21397005816f.png">
<img width="1343" alt="Screen Shot 2022-08-04 at 3 24 28 PM" src="https://user-images.githubusercontent.com/108017953/182936161-3d13537d-4a01-456a-97ca-9dc81d92bafb.png">
<img width="1338" alt="Screen Shot 2022-08-04 at 3 24 42 P

[2022-08-04 19:34] rpetit3 commented on #350
Does your cluster have a certain folder with more space they want you to use?

[2022-08-05 22:32] erin-thei commented on #350
i've been told that when working on a cluster, the tmp dir is limited in space, so is there an option to tell nextflow to use the current working directory as a tmp dir? (sorry if this is a simple question, just trying to understand a bit more -- thanks!!)

[2022-08-08 18:24] rpetit3 commented on #350
I think you can use `NXF_TEMP` to change the temporary directory used by Nextflow

[2022-08-10 14:30] valery-shap commented on #334
Hello,

@phanhung2 have you solved the problem with
`Solving environment: failed with initial frozen solve. Retrying with flexible solve.`
?
I had the same message on linux server when tried to install Bactopia.

Best regards,
Valery

[2022-08-10 14:44] rpetit3 commented on #334
Hi @valery-shap,

What does your `base` environment look like? Also, if you have docker or Singularity available on your Linux server, I would recommend those over conda.

Cheers,
Robert

[2022-08-10 15:40] valery-shap commented on #334
Firstly, I've created empty env for Bactopia
`conda create -n bactopia`
then
`conda activate bactopia `
`conda install -c bioconda bactopia`
error with frozen solve

conda info output:

     active environment : bactopia
    active env location : /home/vshapovalova/miniconda3/envs/bactopia
            shell level : 2
       user config file : /home/vshapovalova/.condarc
 populated config files : /

[2022-08-10 15:41] jellyvanderwoude commented on #328
Do you mean by adding the `-profile docker` flag? Any chance you could point me in the right direction to get Docker running? I've installed the Docker engine to my computer but as far as the command line have failed to get it up and running... When I add the `-profile docker` flag to my Bactopia run, it returns:
[code]
So I'm guessing I don't have it properly set up.

[2022-08-10 15:43] jellyvanderwoude commented on #328
As a side note, when I add the `--s` tag for `--wf pangenome --use_roary True` to turn off paralog splitting, I get:
`bactopia download: error: ambiguous option: --s could match --singularity_cache, --singularity_pull_docker_container, --silent`

[2022-08-10 15:51] valery-shap commented on #334
[code]

[2022-08-15 19:16] tbazilegith opened #351 "Installing bactopia"
Hello Robert,
In installing bactopia, is there any step that precedes the databases downloading?
Actually, after
conda activate bactopia
---?
bactopia datasets (isn't moving any further)

Thanks!
TJ

[2022-08-15 23:19] rpetit3 commented on #351
Hi TJ,

Can you verify you get output with `bactopia --version`?

Cheers,
Robert

[2022-08-16 12:40] tbazilegith commented on #351
Hey Robert,
bactopia --version
bactopia 2.1.1
It has worked then! Prior to running bactopia datasets, I ran this
 conda install -c conda-forge -c bioconda bactopia
Thanks!

[2022-08-19 13:47] rpetit3 commented on #351
Any output from `bactopia datasets --help`?

[2022-08-20 21:48] tbazilegith commented on #351
Here is a piece of the output
usage: bactopia datasets [-h] [--outdir STR] [--species STR] [--skip_mlst]
My database directory's contents:
antimicrobial-resistance minmer  summary.json
Thanks

[2022-08-22 16:07] rpetit3 commented on #351
Looks like the `bactopia datasets` command ran fine

[2022-08-26 17:38] rpetit3 opened #352 "[bug] ability to run without internet"
**Description**
A description of the bug you are experiencing.

**Steps to Reproduce**
Steps to reproduce the behavior:
[code]

**Expected Behavior**
A description of what is expected to happen.

**Execution Environment**

- Bactopia Version: [output from `bactopia version`]
- OS: [e.g. Mac, Ubuntu, etc...]
- Environment: [e.g. conda, cluster, container, etc...]

**Additional Information**
Any oth

[2022-09-07 20:20] zachary-foster opened #353 "[question] How to set up a copy of Bactopia for development"
Our lab is looking to adapt Bactopia for automated pathogen DNA analysis for our University's plant clinic. As part of this, we would like to use the variant caller graphtyper. Since it does not appear to be in Bactopia or nf-core, we thought we should write a module to run it and then modify the appropriate workflow to make it available as one of the options for variant callers, alongside things

[2022-09-07 20:39] rpetit3 commented on #353
Hi @zachary-foster @phanhung2 @grunwald

Very cool! Happy to help where I can help! Here's my process for working with the dev. It basically boils down to not using the wrappers I've created and executing things directly.

1. Install and activate dev build
    - `mamba create -n bactopia-dev -c rpetit3 -c conda-forge -c bioconda bactopia`
    - I maintain a dev build on my personal conda channel (

[2022-09-07 21:34] zachary-foster commented on #353
Thanks for your quick and helpful reply!

We will give that a try, thanks!

That would be great if its not too much trouble for you. We also have no problem doing this, since we will want to learn how to do it anyway. So, if you have the time and inclination to add graphtyper to nf-core we would be grateful, but we are happy to do it as well and let you know if we run into problems.

Thanks! I rea

[2022-09-12 06:45] Clr27 opened #354 "Bactopia tool summary and Kraken2"
Hello, I am a bioinformatics novice and completely new to bactopia.  I have found all the guidance and tutorials super helpful. I can run BaP and most tools, but having trouble with the summary tool and Kraken2.  Are these two tools still available and if yes do you have any advice on how to get them to work? Best.

[2022-09-14 15:14] rpetit3 commented on #354
Apologies for the slow response! The summary tool is available from my dev branch, let me know if you would like details on how to make use of it.

Kraken2 is still available and details are available here: https://bactopia.github.io/bactopia-tools/kraken2/

Let me know how this works for you. I think I might need to update the docs some, would be very interested to get your feedback!

[2022-09-15 04:44] Clr27 commented on #354
Thanks for getting back to me. I have found the documentation clear and the tutorials particularly useful. We plan to use bactopia for routine sequencing analysis so the next step will be setting up easy extraction of the data, so the summary tool could be useful and I would be interested to try it via dev branch. For Kraken2, daft question, do you need to specify database location?  Best

From: R

[2022-09-15 04:46] Clr27 commented on #354
Thanks for getting back to me. I have found the documentation clear and the tutorials particularly useful. We plan to use bactopia for routine sequencing analysis so the next step will be setting up easy extraction of the data, therefore the summary tool could be useful and I would be interested to try it via dev branch. For Kraken2, daft question, do you need to specify database location?  Best

[2022-09-19 18:02] baileybowcutt opened #355 "[bug] Unable to download bactopia"
**Description**
I am trying to download bactopia to my user home directory on my university's cluster computing. I have anaconda downloaded. I tried many different conditions, and I always seem to get it stuck loading on "Solving environment", for up to 4 hours when submitted as a job. It was able to install successfully on my local computer.

**Steps to Reproduce**
conda create -n bactopia -c con

[2022-09-19 18:07] rpetit3 commented on #355
Hi @baileybowcutt,

I think best bet might be to try installing it with [Mamba](https://mamba.readthedocs.io/en/latest/user_guide/mamba.html), which should be must faster.

Mamba is ok to install in your base conda environment, so something like this:
[code]

Once mamba is installed:
[code]

If this doesn't work, let me know!

Once its working, and you want to start running on your cluster, I'm ha

[2022-09-19 18:14] baileybowcutt commented on #355
Thank you for the quick response! When download mamba I get:
[code]
When I move forward to run it I get the following error. Thoughts?
[code]

[2022-09-19 18:17] rpetit3 commented on #355
What do you get with `mamba --version`?

[2022-09-19 18:18] baileybowcutt commented on #355
I get:
[code]

[2022-09-19 18:19] rpetit3 commented on #355
Oh my, that's not helpful! How about `conda env export | grep mamba` ?

[2022-09-19 18:20] baileybowcutt commented on #355
I get the following:
`conda env export | grep mamba
  - mamba=0.7.6=py39heb6f48a_0
`

[2022-09-19 18:22] rpetit3 commented on #355
I think that might be our issue, Conda installed an older version of mamba.

Lets try: `conda install -c conda-forge 'mamba>=0.24.*'` Hopefully conda will install a new version

[2022-09-19 18:39] baileybowcutt commented on #355
Sorry about the delay. Trying that, but it just seems to be spinning. I'll give it more time, but I thought I'd share in case that's unusual and I should just kill it.
[code]

[2022-09-20 02:00] baileybowcutt commented on #355
Update: It got stuck on the spinning wheel again. I tried again, and ended up getting the following:
<img width="1300" alt="IMG_1343" src="https://user-images.githubusercontent.com/72410151/191150246-4fa0dd94-b33e-4e71-aac9-122b7ef5468a.png">
I think it may have hit the 2 hour limit of our interactive dev-nodes, unless that is the full error. I resubmitted it as a job for 3.5 hours to see if it wo

[2022-09-20 13:53] baileybowcutt commented on #355
Update: after 3.5 hours, the update mamba job timed out. It had the same code as above, with the addition of large sections examining for conflict:
[code]
Any other thoughts? I'll go into the cluster help hours again and let you know if they think of anything.

[2022-09-20 14:20] rpetit3 commented on #355
What does you're base environment look like on the cluster? `conda env export`

I haven't tried things with anaconda, usually just miniconda.

[2022-09-20 17:33] baileybowcutt commented on #355
Thank you for continuing to help with this. I have miniconda, and tried it there also but got the same spinning wheel. Here's my code:
<img width="858" alt="image" src="https://user-images.githubusercontent.com/72410151/191325594-e5f1237d-5ce7-40de-9d48-3a21aaa52bb7.png">

I just reached out to the cluster staff again and they said another person was having problems with conda. It appears this may

[2022-09-20 19:34] rpetit3 commented on #355
That miniconda env looks nice and clean, I would try installing mamba into it

[2022-09-21 20:53] baileybowcutt commented on #355
Update!! I was able to use miniconda, update mamba, and use your mamba code to get things running!! YAY!! Thank you for all the help!

The cluster computing staff here said they had some issues with ariba on our system, and I noticed when I downloaded my datasets using
[code]
My final folders were the following:
<img width="319" alt="image" src="https://user-images.githubusercontent.com/72410151/1

[2022-09-22 01:04] rpetit3 commented on #355
Awesome! Does your HPC make use of singualrity?

As far as Ariba goes, I moved it to a Bactopia Tool a few versions ago.  It was starting to cause a few headaches and I didn't want that to affect the whole pipeline.

[2022-09-22 18:01] rpetit3 commented on #281
working on another issue to capture this things

[2022-09-22 18:01] #281 closed

[2022-09-22 18:19] rpetit3 commented on #354
Saw this an forgot to respond.

Yes you will need to specify the path to your kraken2 database

[2022-09-22 19:02] rpetit3 opened #356 "Bactopia Roadmap and TODOs"
Bactopia is continuously being updated and there are still many things on the roadmap. To be more transparent, I'll document what's planned and what needs to be done. Feel free to make suggestions, and if it's within the scope of Bactopia I'll add it to the list here.

Please keep in mind, at the moment it is just myself maintaining Bactopia, so I cannot guarantee any of these will be implemented.

[2022-09-22 19:13] plasmid02 commented on #356
I think a feature where you can enter a sketch of existing species diversity and only process new genomes that are n % distant from exisiting strains.  ie only process samples that are dissimilar to those I have already processed

[2022-09-23 13:34] mbyott opened #357 "Conda create argument runs for hours"
Hi,

`conda create -n bactopia -c conda-forge -c bioconda bactopia`

runs for hours and hours, tried it on 2 different computers.

However the mamba version works in a few minutes:

`mamba create -y -n bactopia -c conda-forge -c bioconda bactopia`