[2020-12-19 15:41] rpetit3 commented on #137
_I found the coverage for R1 is 50 and R2 is 50, does that mean the total coverage is 100x?_

You are correct! Total coverage for that sample is 100x.

----
_Also, what is the difference between summary original.json and summary final.json? I found the coverage in the original 132.282 for each FASTQ_

`original.json` - Is the summary of the original FASTQs before any error correction or quality fi

[2020-12-19 21:34] rpetit3 commented on #176
An additional option `--prefix` has been added that will replace the absolute path with a given string.

Examples:
[code]

@simone-pignotti would like to get your thoughts on this. Would this work for you?

[2020-12-20 09:00] koolape opened #178 "[question] custom channel not available on anaconda mirror"
**When I ran the following command:**

`bactopia --sample fk --R1 ./FK2159/2_HQData/FK2159.SOAP_cor_R1.fq.gz --R2 ./FK2159/2_HQData/FK2159.SOAP_cor_R2.fq.gz --cpus 6`

**It promted some errors:**

2020-12-20 15:13:02:root:INFO - Found /public/home/Kk/anaconda3/envs/bactopia/share/bactopia-1.5.x/conda/linux/annotate_genome.yml (1 or 12), begin build to /public/home/Kk/anaconda3/envs/bactopia/share/

[2020-12-20 11:20] emankhalaf commented on #137
Hello @rpetit3

That is helpful!
Regarding bactopia summary tools: now, I have bactopia 1.5.4, however, I don't know exactly what should I use for the inputs. I tried different things and got errors.
I checked the summary tools link where a long list of parameters to be used, is that right?
Should I direct the path to the directory where bactopia outputs are located (e.g., blast
annotation kmers
a

[2020-12-20 16:06] rpetit3 commented on #178
Hi @koolape!

Thank you very much for checking in. The issue here is definitely due to the mirror. I maintain a custom version of Shovill that allows single end reads. Here's the branch (https://github.com/rpetit3/shovill/tree/single-end-reads).

If you don't need single end reads, you can edit this file `/public/home/Kk/anaconda3/envs/bactopia/share/bactopia-1.5.x/conda/linux/assemble_genome.yml`

[2020-12-20 16:21] rpetit3 commented on #137
No worries about the questions! Happy to work together figuring this out for you.

Here's some info on `--bactopia` for Bactopia Tools:
[code]

Let's create a example, and say you ran bactopia with this command:
[code]

After it completes the directory `/home/emankhalaf/bactopia-analysis` would look something like this:
[code]

Your `/home/emankhalaf/bactopia-analysis` directory has a folder for e

[2020-12-21 08:15] emankhalaf commented on #137
Hello@rpetit3,

Yes, that is helpful! I ran
bactopia tools summary --bactopia /home/eman/Documents/bactopia_tutorial/pedio/Pediococcus222-run-files/pedio222-paired-sample

and got this:
2020-12-21 02:51:50:root:INFO - Existing env (/home/eman/miniconda3/envs/bactopia//share/bactopia-1.5.x/conda/envs/tools-summary-1.5.x) found, skipping unless --force_rebuild is used
N E X T F L O W  ~  version 20.

[2020-12-21 15:17] rpetit3 commented on #137
Does it look like this (https://bactopia.github.io/bactopia-tools/summary/#output-overview)?

[2020-12-21 16:55] emankhalaf commented on #137
No! it is as follows:
bactopia_tools/sumary/bactopia info/summary-trace.txt, .txt, txt1, .txt2,.txt3
So, it did not run properly, correct?

[2020-12-21 16:56] emankhalaf commented on #137
@rpetit3
No! it is as follows:
bactopia_tools/sumary/bactopia info/summary-trace.txt, .txt, txt1, .txt2,.txt3
So, it did not run properly, correct?

[2020-12-21 16:59] rpetit3 commented on #137
Looks like it did not finish correctly.

I'm going to try an replicate it locally to see if this is being caused by changes I made in v1.5

[2020-12-21 17:01] emankhalaf commented on #137
That is appreciated!

On Mon, Dec 21, 2020 at 7:00 PM Robert A. Petit III <
notifications@github.com> wrote:

--
Eman M Khalaf, BPharm, PhD
Postdoctoral fellow, University of Guelph, ON, Canada.
Lecturer of Microbiology, Faculty of Pharmacy
Damanhour University, Egypt
ORCID ID: https://orcid.org/0000-0001-7844-8946
Scopus Author ID: 57190020667
<http://www.scopus.com/inward/authorDetails.url?autho

[2020-12-21 21:15] rpetit3 commented on #137
What do the following look like?
[code]

[2020-12-22 23:52] koolape commented on #178
thanks, but I decided to switch back to the official mirror

[2020-12-23 17:34] rpetit3 commented on #178
I think you are ok now, if not please feel free to reopen.

[2020-12-23 17:34] #178 closed

[2020-12-25 16:28] maesaar opened #179 "[question] Bactopia vs Shovill assembly differences"
I was wondering why are the bactopia and shovill assemblies quite different?

Bactopia command:
`bactopia --R1 Desktop/CAMP_UT/shovill/CAMP176_S56_R1.fastq.gz --R2 Desktop/CAMP_UT/shovill/CAMP176_S56_R2.fastq.gz --datasets datasets/ --species "Campylobacter jejuni" --coverage 100 --genome_size median --cpus 4 --max_memory 58 --shovill_ram 58 --trim --sample CAMP176_S56 --outdir jejuni`

Bactopia s

[2020-12-25 17:20] rpetit3 commented on #179
Hi @maesaar!

My first guess is because they are using two different inputs. In Bactopia Shovill uses trimmed/error corrected FASTQs and in Shovill alone the raw FASTQs are used. (At least that's what I'm thinking from example above.)

You could try `--skip_qc` which should pass the raw FASTQs to Shovill in Bactopia.

Just curious, what are assembly stats for the two? (N50 etc..)

[2020-12-25 18:22] maesaar commented on #179
Hi again!

I was using shovill with --trim option so the shovill uses also trimmed FASTQs as input.

Shovill alone:
Contig Stats": {
    "L10": 1,
    "L20": 2,
    "L30": 4,
    "L40": 6,
    "L50": 8,
    "N10": 126987,
    "N20": 111367,
    "N30": 91648,
    "N40": 71081,
    "N50": 66186,
    "gc_content": 30.294619563016656,
    "longest": 153213,
    "mean": 24347.464788732395,
    "median"

[2020-12-25 18:35] rpetit3 commented on #179
Shovill's `--trim` option is a little different, it only removes Illumina adapters.

For Bactopia there's a [Quality Control](https://bactopia.github.io/workflow-overview/#quality-control) step that cleans up FASTQs. This step uses BBTools and Lighter to remove adapters, trim reads based on quality, error-correct, then reduce to a given coverage (default 100x). These processed FASTQs are then used

[2020-12-25 18:57] maesaar commented on #179
Raw reads you mean reads used and trimmed with shovill?

On Fri, 25. Dec 2020 at 20:35, Robert A. Petit III <notifications@github.com>
wrote:

[2020-12-25 19:09] rpetit3 commented on #179
Yep. I guess better term be "original inputs"

Bactopia modifies your original inputs, making them different than had you used Shovill directly. The only way to make Shovill use the original inputs in Bactopia is to use `--skip_qc`. Otherwise, the two approaches are using different inputs (original FASTQ vs processed FASTQ), and different results are OK.

[2020-12-25 19:26] maesaar commented on #179
Thank you for the clarification @rpetit3

[2020-12-25 19:26] #179 closed

[2020-12-28 11:15] gtsiamis opened #180 "Eggnog"
I am running bactopia on Linux Mint 20.04. Bactopia is running fine and also most of the tools (like summary, fastani, gtdb etc).

I am having an issue with the eggnog. I am getting the following error. (see also attached report)

    Bactopia Tool 'eggnog' - Execution Summary
    ---------------------------
    Command Line    : nextflow run /home/gtsiamis/miniconda3/envs/bactopia//share/bactopia

[2020-12-28 11:22] gtsiamis opened #181 "Phyloflash[bug]"
I am trying to run phyloflash and although phyloflash has been installed using conda command I am getting a conflict (please see attached file).

I am running the latest version of bactopia on Linux Mint 20.04.

Regards
George
[phyloflash_error.zip](https://github.com/bactopia/bactopia/files/5747106/phyloflash_error.zip)

[2020-12-28 16:17] rpetit3 commented on #181
Hi @gtsiamis !

Thanks for following up. The attached zip file contains a a file called `phyloflash_error` but it an error message related to the eggnog mapper tool.

Could you check it and forward the phyloflash error message?

Thanks!

[2020-12-28 16:18] rpetit3 commented on #180
Hi @gtsiamis! Thanks for following up! I'm looking to this now.

[2020-12-28 17:06] gtsiamis commented on #181
Dear Robert,

Please find the correct file attached.

Regards
George

On Mon, 28 Dec 2020 at 18:17, Robert A. Petit III <notifications@github.com>
wrote:

--

George Tsiamis, PhD
Associate Professor - University of Patras
Department of Environmental Engineering

p: +30 26410 74149 m: +30 697 6685 012 a: 2 Seferi St., 30100, Agrinio,
Greece
e: gtsiamis@upatras.gr; gtsiamis1@gmail.com s: gtsiamis
*S

[2020-12-28 20:08] rpetit3 commented on #180
Just to verify, did you already download the eggnog database to this folder `/home/gtsiamis/datasets/eggnogdb`?

[2020-12-28 21:45] gtsiamis commented on #180
Yes, this is correct.

Regards
George

On Mon, 28 Dec 2020 at 22:09, Robert A. Petit III <notifications@github.com>
wrote:

--

George Tsiamis, PhD
Associate Professor - University of Patras
Department of Environmental Engineering

p: +30 26410 74149 m: +30 697 6685 012 a: 2 Seferi St., 30100, Agrinio,
Greece
e: gtsiamis@upatras.gr; gtsiamis1@gmail.com s: gtsiamis
*Specialty Chief Editor Systems M

[2020-12-28 22:01] rpetit3 commented on #180
Hmmm, I've been unable to replicate here. Do you mind giving the output of `/home/gtsiamis/datasets/eggnogdb`?

Here's mine:
[code]

[2020-12-28 22:08] gtsiamis commented on #180
I am attaching the file.

Regards
George

On Tue, 29 Dec 2020 at 00:02, Robert A. Petit III <notifications@github.com>
wrote:

--

George Tsiamis, PhD
Associate Professor - University of Patras
Department of Environmental Engineering

p: +30 26410 74149 m: +30 697 6685 012 a: 2 Seferi St., 30100, Agrinio,
Greece
e: gtsiamis@upatras.gr; gtsiamis1@gmail.com s: gtsiamis
*Specialty Chief Editor System

[2020-12-28 22:09] rpetit3 commented on #181
Looks like it didn't attach via the email response

[2020-12-28 22:12] gtsiamis commented on #181
Sorry. The output is

total 46G
-rw-r--r-- 1 gtsiamis gtsiamis  37G Dec 24 18:59 eggnog.db
-rw-r--r-- 1 gtsiamis gtsiamis 8,7G Dec 24 19:17 eggnog_proteins.dmnd

On Tue, 29 Dec 2020 at 00:09, Robert A. Petit III <notifications@github.com>
wrote:

--

George Tsiamis, PhD
Associate Professor - University of Patras
Department of Environmental Engineering

p: +30 26410 74149 m: +30 697 6685 012 a: 2 S

[2020-12-28 22:14] rpetit3 commented on #181
Little mix up, this one should be the Phyloflash error

[2020-12-28 22:16] rpetit3 commented on #180
I wonder if its worth trying this manually, to see if you get a better error message. Something like this:

[code]

[2020-12-30 10:33] koolape commented on #178
I'm wondering how many customer channels does Bactopia use and their differences between the original ones.

[2020-12-30 14:33] rpetit3 commented on #178
Bactopia only uses one customer channel, [rpetit3 (my own)](https://anaconda.org/rpetit3), for two tools [Shovill (with single-end support)](https://anaconda.org/rpetit3/shovill) and [Aspera Connect](https://anaconda.org/rpetit3/aspera-connect).

[2020-12-30 14:57] koolape commented on #178
thanks again. I'll try following the instruction above to delete the customer channel since
1. it is not included in the mirror. BTW The download speed from official channel is really slow in China. Thus I'd like to use a mirror
2. Currently I don't have to deal withsingle end reads

[2020-12-30 15:34] rpetit3 commented on #178
I'll see about dropping Aspera Connect, since I'm not sure how much use it will get going forward. I'll also reach out to Torsten Seemann to see if he has any objections to me putting Shovill-SE on Bioconda.

This I think would fix your problem, and also remove the external dependency.

[2020-12-31 09:04] gtsiamis commented on #180
Dear Robert,

I run the command as you mentioned. This is the message that I get

gtsiamis@gtsiamis-Precision-WorkStation-T5400:~$ cd /home/gtsiamis/Wolbachia_Fishing/A_ludens/work/eggnog/d0/7bdc91f601963580585537b0cc3016
gtsiamis@gtsiamis-Precision-WorkStation-T5400:~/Wolbachia_Fishing/A_ludens/work/eggnog/d0/7bdc91f601963580585537b0cc3016$ conda activate /home/gtsiamis/miniconda3/envs/bactopia/s

[2020-12-31 15:14] rpetit3 commented on #180
What's the version of DIAMOND in the eggnog environment?

[2020-12-31 19:00] gtsiamis commented on #180
Hi Robert,

Please see below.

(bactopia-eggnog) gtsiamis@gtsiamis-Precision-WorkStation-T5400:~$ diamond
version
diamond version 2.0.6

regards
George

On Thu, 31 Dec 2020 at 17:15, Robert A. Petit III <notifications@github.com>
wrote:

--

George Tsiamis, PhD
Associate Professor - University of Patras
Department of Environmental Engineering

p: +30 26410 74149 m: +30 697 6685 012 a: 2 Seferi St.

[2020-12-31 19:07] rpetit3 commented on #180
This looks somewhat related to this issue: https://github.com/bbuchfink/diamond/issues/410

What processor does your server have?

[2020-12-31 19:15] gtsiamis commented on #180
I run the lscpu command. The output is

Architecture:                    x86_64

CPU op-mode(s):                  32-bit, 64-bit

Byte Order:                      Little Endian

Address sizes:                   38 bits physical, 48 bits virtual

CPU(s):                          8

On-line CPU(s) list:             0-7

Thread(s) per core:              1

Core(s) per socket:              4

Socket(s

[2020-12-31 19:44] rpetit3 commented on #180
Hmmmm. At this point, I'm not too sure where to go with this. I'm not sure if this an issue with diamond or the eggnog mapper database.

One thing that might be worth trying is to see if you can get through this tutorial: https://github.com/bbuchfink/diamond/wiki/1.-Tutorial

I think this would atleast show that diamond is working (or not). If you get through the tutorial without any problems, thi

[2020-12-31 20:15] gtsiamis commented on #180
Dear Robert,

I run the Tutorial without any issue. Everything went smoothly.

Do you believe that I can delete the eggnog database and download again?
Any other suggestions?

Regards
George

On Thu, 31 Dec 2020 at 21:45, Robert A. Petit III <notifications@github.com>
wrote:

--

George Tsiamis, PhD
Associate Professor - University of Patras
Department of Environmental Engineering

p: +30 26410 74

[2020-12-31 20:19] rpetit3 commented on #180
Yeah let's try deleting database and downloading again.

Did you use the --download_eggnog option?

[2021-01-01 13:41] koolape commented on #178
I have set a proxy server in `.condarc` file. If I run `bactopia build --default`, will the build process use the proxy as well?

[2021-01-01 13:43] koolape opened #182 "[question] Does bactopia build process use the proxy server in .condarc file?"
I have set a proxy server in `.condarc` file. If I run `bactopia build --default`, will the build process use the proxy as well?

[2021-01-01 17:52] rpetit3 commented on #182
I'm not sure, here's the command (https://github.com/bactopia/bactopia/blob/master/bin/helpers/bactopia-build.py#L171) used to build the environments.

If .condarc is loaded automatically by Conda then it should work, but if its something that needs to be explicitly loaded, then it won't work currently.

The next version of Bactopia will no longer have a need to use my personal (rpetit3) conda cha

[2021-01-03 11:17] emankhalaf commented on #137
Hello @rpetit3

Happy New Year!
The first has 2 folders: 123_P1_101222_20191128N_AACAACCA_S257_L002, and bactopia_info
The second has 2 folders: the sample, work, in addition to txt file of the output-run

[2021-01-04 13:23] rpetit3 commented on #137
Hi @emankhalaf Happy New Year!

`/home/eman/Documents/bactopia_tutorial/pedio/Pediococcus222-run-files/pedio222-paired-sample` looks like it should be the directory used. I'm not sure why the summary tool didn't finish though.

Maybe lets try running it again, then going into the work directory to see if we can figure out what's the issue.

[2021-01-04 13:26] rpetit3 commented on #154
Hi @Alys10

Since this has been quiet for 30 days, I'm going to close this for now. Please do not hesitate to reopen it!

Thanks,
Robert

[2021-01-04 13:26] #154 closed

[2021-01-04 13:29] rpetit3 commented on #181
Hi @gtsiamis

Could you post the issue with Phyloflash?

Thanks!

[2021-01-04 14:37] gtsiamis commented on #181
Hi Robert,

Please find the file attached.

[phyloflash_error.zip](https://github.com/bactopia/bactopia/files/5765197/phyloflash_error.zip)

[2021-01-04 15:32] rpetit3 commented on #181
Got it! Looks like some conda issues related to dependencies. I'm going to see if I can replicate it locally.

[2021-01-04 16:12] gtsiamis commented on #180
Dear Robert,

I deleted the database and download again using the --download_eggnog. I got the same error as previously.

[2021-01-04 16:28] rpetit3 commented on #180
Hmmm, at this point, I wonder if it makes sense to create an eggnog environment then manually try running one genome through it.

This could at least help determine if this is a Bactopia issue or something related to the conda version of eggnog.

[2021-01-04 18:23] rpetit3 opened #183 "[feature] Include date in Bactopia Seach summary file"
**Related To**

- [X] Bactopia

**Is this something you would like to see added?**
It would be useful if the summary file produced from bactopia search included the time and date of the query.

[2021-01-04 22:23] rpetit3 commented on #183
Will be in the next version: https://github.com/bactopia/bactopia/commit/226d7a32edb7d9638eea7a3839b095938e75af86

[code]

[2021-01-04 22:23] #183 closed

[2021-01-04 22:25] rpetit3 commented on #182
Quick update, the next version of bactopia will no longer use packages from my personal channel.

[2021-01-04 23:07] rpetit3 commented on #176
This will be in v1.5.5 going to close

[2021-01-04 23:07] #176 closed

[2021-01-04 23:25] rpetit3 commented on #181
I'm getting the same issue, going to work on a fix. (update the environment). I'll keep you posted!

[2021-01-05 04:10] emankhalaf commented on #137
Hi @rpetit3
Yes, it worked!
This is the content of the summary report:
Bactopia Summary Report

Total Samples: 1

Passed: 1
    Gold: 1
    Silver: 0
    Bronze: 0

Excluded: 0
    Failed Cutoff: 0

    QC Failure: 0

Reports:
    Full Report (txt): .//bactopia-report.txt
    Exclusion: .//bactopia-exclude.txt

Rank Cutoffs:
{
    "gold": {
        "coverage": 100.0,
        "quality": 30,

[2021-01-05 04:46] rpetit3 commented on #137
Yay!! Haha nice to see it worked for you, that's exciting!

So what this means:
[code]

Since it seems like everything is going for you, I'm going to go ahead and close this again.

Really glad its working for you, please don't hesitate to reach out if you have any questions in the future.

[2021-01-05 04:46] #137 closed

[2021-01-05 05:55] rpetit3 commented on #182
I've release v1.5.5 (https://github.com/bactopia/bactopia/releases/tag/v1.5.5). My personal `rpetit3` channel will no longer be required, so I think you should be good to use mirrors.

Going to close this for now, please feel free to reopen!

[2021-01-05 05:55] #182 closed

[2021-01-05 05:56] rpetit3 commented on #181
I've released v1.5.5 (https://github.com/bactopia/bactopia/releases/tag/v1.5.5) which should fix this issue.

I will test it our once it has synced to Bioconda. If you test before I do, please let me know how it works for you.

[2021-01-05 05:57] rpetit3 commented on #180
I'm not sure it will make a difference, but I've released v1.5.5 (https://github.com/bactopia/bactopia/releases/tag/v1.5.5). It might be worth testing out once its synced up to the CDNs.

But I'm still curious about trying a new eggnog environment (mentioned in previous comment)

[2021-01-05 13:29] koolape commented on #182
Thanks for the change!
Btw, in my test a few days ago, I've alredy confugred anaconda to use my proxy and the bactopia build proces did follow the proxy setting. However, I also noticed that some files were downloaed by wget during build process, for which I have not configured wget to use proxy.

[2021-01-05 14:47] rpetit3 commented on #182
If there are steps in `bactopia build` that use wget I think that's conda related. Some tools (I think checkm us one) that will download a database post install.

On the other hand, I know for certain I use wget for downloading some datasets in `bactopia datasets`

[2021-01-05 15:44] rpetit3 commented on #58
Hey @JFsanchezherrero

I got SpaTyper put on Bioconda (https://github.com/bioconda/bioconda-recipes/pull/26044). Do you think it would be possible to add an option for tabular output? Or something that is a little easier to parse?

Current:
[code]

Alternative:
[code]

Thanks!

[2021-01-06 09:16] emankhalaf commented on #137
Hi @rpetit3
I have a new bactch of bacterial WGS, and when started to run bactopia code:
bactopia --R1 3D1_S11_L001_R1_001.fastq.gz \
         --R2 3D1_S11_L001_R2_001.fastq.gz \
         --sample 3D1_S11_L001 \
         --datasets datasets/ \
         --cpus 3 \
         --outdir 3D1-paired-sample
N.B. ., I did not add the genome size since I do not have it.

I got the followings:
WARN: Maximum m

[2021-01-06 11:13] simone-pignotti commented on #176
Sorry for the late reply, just tested it from v1.5.5 conda pkg and works great for my use case, thanks a lot!

[2021-01-06 12:55] rpetit3 commented on #137
Looks like `--datasets datasets/` isn't pointing to the correct path.

In the directory that you ran this command:
[code]

Try:
[code]

For these:
`WARN: Maximum memory (64) was adjusted to fit your system (62)` that should be fine,
`WARN: Access to undefined parameter ftp_only -- Initialise it to a default value eg. params.ftp_only = some_value` I will need to fix that but I don't think it should

[2021-01-06 13:13] rpetit3 commented on #176
No worries! Glad it worked out for you!

[2021-01-06 16:33] emankhalaf commented on #137
Yes @rpetit3 ! It worked now.
Much thanks!

[2021-01-06 16:55] rpetit3 commented on #137
great, glad you can keep moving forward!

[2021-01-06 19:37] simone-pignotti opened #184 "[bug] rename command in download_references"
**Description**
The rename command at this line does not work with the standard `rename` command from `util-linux`; it needs the perl-based rename script which is not installed by default in many distros.
https://github.com/bactopia/bactopia/blob/c22d47099c1ca4f7c1565b3e0c06861d86101035/templates/download_references.sh#L38

**Steps to Reproduce**
In my case, this was discovered while running bacto

[2021-01-06 19:45] gtsiamis commented on #180
Hi Robert,

I tested the eggnog tool under the 1.5.5 version and everything run smoothly....;)

Thanks for all the assistance and guidance.

[2021-01-06 20:02] rpetit3 commented on #180
Great! Glad we were able to get this figured out. Let me know if you run into any other issues.

I'm going to close this for now, please free to reopen.

[2021-01-06 20:02] #180 closed

[2021-01-07 07:21] AyshaSezmis opened #185 "bactopia datasets"
Dear Robert,

First of all many thanks for providing us with such an amazing pipeline :). I have installed bactopia using conda to my MacOS Big Sur. It looks like it has installed everything properly.

I wanted to start with the Tutorial provided. However, batopia datasets doesn't seem to be working in my machine. Hence I couldn't continue. When I type bactopia datasets in my command line, i get t

[2021-01-07 07:34] emankhalaf commented on #137
Hi @rpetit3
After running bactopia for 2 different strains using the following as an example for one of them
bactopia --R1 3D1_S11_L001_R1_001.fastq.gz \
         --R2 3D1_S11_L001_R2_001.fastq.gz \
         --sample 3D1_S11_L001 \
         --datasets datasets/ \
         --cpus 3 \
         --outdir 3D1-paired-sample
I blasted the assembled genome (file with .fna extension in the annotation folde

[2021-01-07 08:42] emankhalaf commented on #137
@rpetit3
Though, the genbank matches (in minmer folder) (genbank_k21, k31, k51) suggested the expected strains (gram-negative bacteria). I am wondering why the database of center of genomic epidemiology is different? I used it before with another batch of bacterial wgs and the results agreed with bactopia.
One more question, may you please explain the differences between k21, 31, 51. and which mat

[2021-01-07 09:24] emankhalaf commented on #137
Hi @rpetit3
I am wondering if the size of the genome could affect the success of the run.
For 2 strains, I got the message below at the end of the run:
strain 1
[68/6e10fe] NOTE: Process `plasmid_blast (3H1_S11_L001)` failed -- Execution is retried (1)
Completed at: 06-Jan-2021 13:32:50
Duration    : 1h 28m 42s
CPU hours   : 6.3 (47.9% failed)
Succeeded   : 23
Failed      : 1

strain2 (same messag

[2021-01-07 09:27] emankhalaf commented on #137
Hi @rpetit3
For one strain from k21 file, I have:
overlap     p_query p_match
---------   ------- --------
4.4 Mbp       4.2%   80.0%      Klebsiella variicola (** 4 equal matches)
3.5 Mbp       3.3%   84.1%      Stenotrophomonas maltophilia (** 2 equal matches)
290.0 kbp     0.3%    5.8%      Klebsiella variicola
220.0 kbp     0.2%    5.2%      Stenotrophomonas maltophilia (** 1 equal matches)
So

[2021-01-07 09:45] gtsiamis commented on #181
Hi Robert,

Phyloflash compiled OK but this time I am getting this error

N E X T F L O W  ~  version 20.10.0
Launching `/home/gtsiamis/miniconda3/envs/bactopia/share/bactopia-1.5.x/tools/phyloflash/main.nf` [jolly_stallman] - revision: 9455763b83
bactopia tools phyloflash - 1.5.5
Found 1 samples to process
If this looks wrong, now's your chance to back out (CTRL+C 3 times).
Sleeping for 5 seconds

[2021-01-07 10:13] simone-pignotti commented on #184
Thank you @rpetit3 ! No worries I can fix that manually, no need to push a new version only for this.

[2021-01-07 10:58] emankhalaf commented on #137
for "One more question, may you please explain the differences between k21, 31, 51. and which match should be considered?"
k21,31,51 are the k-mer length used the for taxonomic classification, correct? which is better for trusted classification (k21,31,51)? especially if the strains will be used in downstream testing and trials?

[2021-01-07 12:33] rpetit3 commented on #185
Hi  Aysha!

Thank you very much! Let's see if we can git this figured out.

What are the outputs of the following?
[code]

[2021-01-07 13:00] rpetit3 commented on #137
Hi @emankhalaf

_Difference between k21,k31,k51?_

You're right those are each different k-mer lengths. The longer the k-mer (e.g. k=51) the more specific the kmer hit should be.

For sample 2, what did the assembly look like (assembled size, total contigs)?

_`plasmid_blast` failed`_

You should be able to trust the outputs. Did `plasmid_blast` finish correctly after it was retried?

_column head

[2021-01-07 13:02] rpetit3 commented on #181
Progress! Almost there I think!

Did you use `--download_phyloflash` or were the databases already downloaded?

[2021-01-07 13:05] gtsiamis commented on #181
The databases were already downloaded

On Thu, 7 Jan 2021 at 15:02, Robert A. Petit III <notifications@github.com>
wrote:

--

George Tsiamis, PhD
Associate Professor - University of Patras
Department of Environmental Engineering

p: +30 26410 74149 m: +30 697 6685 012 a: 2 Seferi St., 30100, Agrinio,
Greece
e: gtsiamis@upatras.gr; gtsiamis1@gmail.com s: gtsiamis
*Specialty Chief Editor Systems Mi

[2021-01-07 13:08] rpetit3 commented on #181
Thanks! Looking to this now.

I'm in the process of getting the tools added to the CI so hopefully this doesn't happen in the future (or is at least caught)

[2021-01-07 13:14] AyshaSezmis commented on #185
Hi Robert,

Thank you so much for your quick reply :).

These are the results for the following commands:

(bactopia) MU00102102X:~ asez0001$ which bactopia
/Users/asez0001/miniconda3/envs/bactopia/bin/bactopia
(bactopia) MU00102102X:~ asez0001$ which python
/Users/asez0001/miniconda3/envs/bactopia/bin/python
(bactopia) MU00102102X:~ asez0001$

[2021-01-07 13:36] rpetit3 commented on #185
Those look good, maybe also these:

[code]

[2021-01-07 13:47] emankhalaf commented on #137
Hi @rpetit3
45 contigs, total size is 9814930, # contigs (>= 1000000 bp) only 1 contig of 1830602, GC content 61.69, N50 is 432432.
ChekM results has the following:
Bin Id	Marker lineage	# genomes	# markers	# marker sets	0	1	2	3	4	5+	Completeness	Contamination	Strain heterogeneity
3H1_S11_L001	k__Bacteria (UID203)	5449	104	58	0	3	101	0	0	0	100.00	97.07	1.98

what does it mean that contamination is

[2021-01-07 14:24] simone-pignotti commented on #184
PS the alternative xargs-based command I suggested worked, in case you ever want to get rid of the perl dependency in `download_references`

[2021-01-07 15:25] emankhalaf commented on #137
@rpetit3
It is a contamination issue (mixed strains) since the genome size is not expected and CheckM file confirmed that.
Is there a way to separate these mixed bacterial genomes bioinformatically?
Thanks
Eman

[2021-01-07 15:43] rpetit3 commented on #137
I thought the genome size looked off as well.

You can separate the reads by aligning to a reference (BWA) or use kmer approach (Kraken). There are probably other approaches but those come to mind first.

[2021-01-07 15:51] emankhalaf commented on #137
@rpetit3
For a reference (BWA), the bacterial genome is small in size and what I have seems to be a mixture of 2 strains for some sequences and 3 strains for another. Which sequence should be used as a reference? Any recommendations?
Thanks for your support and patience

[2021-01-07 15:57] emankhalaf commented on #137
@rpetit3
You mean I should use each top hit as a reference to separate the mixed genomes? If so, should I cut the matched sequences and align the remaining to the second top hit? I am just thinking about how it works.

[2021-01-07 16:03] rpetit3 commented on #181
Good news!

[code]

It was due to a bonehead mistake (https://github.com/bactopia/bactopia/commit/6ac00d5f6b457e19d186c0e684d36f9302ec2b22) when I added support for downloading the database. It'll be in the next version, if you need it sooner than later let me know.

[2021-01-07 16:04] rpetit3 commented on #137
Do you know which organism you want to pull out? Also, is the contamination expected?

[2021-01-07 16:18] gtsiamis commented on #181
Excellent!
If the new version will be out sometime next week this will be fine by me.

[2021-01-07 16:58] emankhalaf commented on #137
@rpetit3
For sure the contamination is not expected, and I just curious to know how to separate the mixed genomes.

[2021-01-07 17:52] emankhalaf commented on #137
@rpetit3
While running bactopia on another strain, I got a weird match where the overlap is too short compared to the genome size.
genome size 3671330
genbank k=21
overlap     p_query p_match
---------   ------- --------
360.0 kbp     0.4%   10.2%      Microbacterium sp. PAMC 28756
250.0 kbp     0.3%    7.0%      Microbacterium barkeri
150.0 kbp     0.2%    1.6%      Streptomyces albulus (** 3 equ

[2021-01-07 18:18] rpetit3 commented on #137
What do the Mash and CheckM results look like?

It might be worth running GTDB/Phyloflash on these.

[2021-01-07 18:21] emankhalaf commented on #137
@rpetit3
quite clean with contamination 0.5%

[2021-01-07 18:24] rpetit3 commented on #137
What organism are you expecting? And does Mash also give Microbacterium?

[2021-01-07 18:43] emankhalaf commented on #137
Microbacterium. I try to open Mash files or convert them to a readable format

[2021-01-07 18:47] rpetit3 commented on #137
I think we are getting closer.

Did you provide a genome size when you ran Bactopia? If not what was the estimated genome size used? (It's in the `${SAMPLE_NAME}/${SAMPLE_NAME}-genome-size.txt` file).

[2021-01-07 18:55] emankhalaf commented on #137
7581120

[2021-01-07 18:55] emankhalaf commented on #137
@rpetit3
7581120

[2021-01-07 19:11] rpetit3 commented on #137
Hmmmm, at the moment I'm not too sure. I think it would be useful to run these FASTQs against a Kraken2 database to see what the reads match to.

[2021-01-07 19:55] AyshaSezmis commented on #185
Thank you Robert,

Sorry I am in Australia and different time zone hence my late reply. Below are the results for those two :)

(bactopia) MU00102102X:~ asez0001$ which python3
/Library/Frameworks/Python.framework/Versions/3.9/bin/python3

(bactopia) MU00102102X:~ asez0001$ conda env export
name: bactopia
channels:
  - conda-forge
  - bioconda
  - defaults
dependencies:
  - appdirs=1.4.4=pyh9f0ad1

[2021-01-07 20:10] rpetit3 commented on #185
Hey! We found our issue:

[code]

The wrong python3 is being called, we want `/Users/asez0001/miniconda3/envs/bactopia/bin/python3`.

What does the following command look like?
[code]

[2021-01-07 20:22] AyshaSezmis commented on #185
Oh wow!! Thasts great news :))

(bactopia) MU00102102X:~ asez0001$ echo $PATH
/opt/local/bin:/opt/local/sbin:/Library/Frameworks/Python.framework/Versions/3.9/bin:/Users/asez0001/miniconda3/envs/bactopia/bin:/Users/asez0001/miniconda3/condabin:/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin:/opt/X11/bin

[2021-01-07 20:46] rpetit3 commented on #185
Alright so the issue is this `/opt/local/bin:/opt/local/sbin:/Library/Frameworks/Python.framework/Versions/3.9/bin` is being put in front of `/Users/asez0001/miniconda3/envs/bactopia/bin`.

You will want to take a look at `~/.bash_profile` to see why Python is being put at the front. If you aren't familiar with the PATH here's a [tutorial](https://imstudio.medium.com/path-macos-best-practice-for-p

[2021-01-07 20:50] AyshaSezmis commented on #185
Awesome :))). Thank you so much :))) Yes, you are right, I am not familiar with computers at all to be honest :))

Here is the results of ~/.bash_profile

(bactopia) MU00102102X:~ asez0001$ ~/.bash_profile
-bash: /Users/asez0001/.bash_profile: Permission denied

It says permission denied. How do I get the permission, Robert?

[2021-01-07 20:53] rpetit3 commented on #185
Ah, no worries! You just needed a `cat` in front:  `cat /Users/asez0001/.bash_profile`

Please just verify there's no credentials or personal info before posting. I don't think there will be but you never know!

[2021-01-07 20:54] AyshaSezmis commented on #185
There shouldn't be any personal info Robert :))) Thank you for your help. I really appreciate it :))

[2021-01-07 20:56] AyshaSezmis commented on #185
Results of that command :)))

(bactopia) MU00102102X:~ asez0001$ cat /Users/asez0001/.bash_profile

# >>> conda initialize >>>
# !! Contents within this block are managed by 'conda init' !!
__conda_setup="$('/Users/asez0001/miniconda3/bin/conda' 'shell.bash' 'hook' 2> /dev/null)"
if [ $? -eq 0 ]; then
    eval "$__conda_setup"
else
    if [ -f "/Users/asez0001/miniconda3/etc/profile.d/conda.sh" ];

[2021-01-07 21:02] rpetit3 commented on #185
I think this should do it for you (I might have missed some comments).  Here's some info on [Markdown Code and Syntax Highlighting](https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet#code-and-syntax-highlighting) to make things easier next time. (no worries though!)

All I did below is move the conda bit to the end so that that's the first thing in the PATH.

[code]

[2021-01-07 21:37] AyshaSezmis commented on #185
Thank you so much Robert :)).

May be I don't understand how to set this PATH from my end. Hence, it still isn't working for me.

I will try and get help with our IT support here at Monash University.

Once again many thanks for your help :))

Best wishes,
Aysha

[2021-01-07 21:51] rpetit3 commented on #185
No worries! Here it is a downloadable file: [bash_profile.txt](https://github.com/bactopia/bactopia/files/5784084/bash_profile.txt)

If you download the file to your Desktop, you can do this in your terminal:
[code]

After doing that, keep the current terminal open, but also open up another terminal. Then try
[code]
This should hopefully give a better path.

If there are any issues, you can go bac

[2021-01-07 22:06] AyshaSezmis commented on #185
Hi Robert,

This works :)))) This downloaded bash_profile.txt really changed things :))))

Thank you so much for your help.

I have just tried bactopia datasets again and the below is happening :))

(bactopia) MU00102102X:~ asez0001$ bactopia datasets
2021-01-08 09:01:33:root:INFO - Setting up Ariba datasets
2021-01-08 09:01:33:root:INFO - Setting up vfdb_core Ariba dataset

I am guessing it is se

[2021-01-07 22:17] rpetit3 commented on #185
Yay! Enjoy your day!

[2021-01-07 22:17] rpetit3 commented on #185
Also, going to close this for now, please feel free to reopen!

[2021-01-07 22:17] #185 closed

[2021-01-08 05:12] emankhalaf commented on #137
@rpetit3
Does that mean my sequence might not have a good match in the GenBank? Also, should I download the Kraken database on my machine to do that? Any guidelines, please?

[2021-01-08 10:57] JFsanchezherrero commented on #58
Hi @rpetit3,

Thanks for the update and implementation in bioconda.

I did not create the tabular output so far as I was using it as a python module within my pipeline returning a dataframe but it would definitely make sense to create a tabular or csv format when using it independently. I would implemented and let you know.

I would like to thank and give credit again to @mjsull who originally cre

[2021-01-08 13:59] rpetit3 commented on #137
Sure, I'll try my best. A warning though, you might need to adjust some of these commands. (haha haven't actually tested them)

FIrst, let's create a conda env:
[code]

Next, you'll want to download one of the Standard databases at https://benlangmead.github.io/aws-indexes/k2

There are three:
- Standard (40gb) is the full version
- Standard-16 reduced to fit into 16GB of storage
- Standard-8 redu

[2021-01-11 20:58] npavlovikj opened #186 "[question] Question about "FATAL: Error inserting nvidia" error"
Hi,

I am trying to install Bactopia and test it with few Salmonella genomes. However, after creating the conda environment and downloading the necessary databases
[code]
and running Bactopia with
[code]
I am getting the following error:
[code]

Do you have any suggestions on how to fix this error? I am not using any GPUs, and I wonder if this is because of some of the conda packages in the enviro

[2021-01-11 21:03] rpetit3 commented on #186
Hi Natasha!

That's a new one! Shouldn't be any GPUs related things in those envs. I noticed you're using SLURM.

By chance does your SLURM cluster allow Singulatiry or Docker images?

Robert

[2021-01-11 23:27] zirbez opened #187 "Tutorial - Species 'Staphylococcus' not available [bug]"
**Description**
While working through the tutorial, the following error is generated while trying to download and process a single sample from the SRA:

Species 'Staphylococcus' not available, please check spelling or use '--available_datasets' to verify the dataset has been set up. Exiting

Spelling is correct, and --available_datasets shows Staphylococcus aureus is present. This error was reprod

[2021-01-11 23:34] rpetit3 commented on #187
Just to cover our bases what does this look like:

[code]

[2021-01-11 23:38] zirbez commented on #187
ls -lh datasets/species-specific/ generates the following:
total 4.0K
drwxrwxr-x 6 zirbez zirbez 4.0K Jan  8 12:36 staphylococcus-aureus

bactopia --accession SRX4563634 \
         --datasets datasets/ \
         --available_datasets
Generates the following:

Ariba
Found [name:card.tar.gz, last_update:2021-01-08T18:10:57Z]
Found [name:vfdb_core.tar.gz, last_update:2021-01-08T18:10:19Z]

Minmer
Fou

[2021-01-11 23:45] rpetit3 commented on #187
This is actually an easy fix (hopefully!), could you please update bactopia to the latest version?

There was a bug (https://github.com/bactopia/bactopia/issues/174) that caused the issue you are having. It was fixed in v1.5.4 (https://github.com/bactopia/bactopia/releases/tag/v1.5.4)

[2021-01-11 23:47] rpetit3 commented on #187
Apologies, should have left you with this:
[code]

[2021-01-12 01:02] npavlovikj commented on #186
Hi @rpetit3 ,

Thank you for your prompt reply!
Yes, we do support Singularity on our cluster.

I tried running Bactopia using the Docker image, and I am now encountering another error. After
[code]
the database downloaded ok, but with the second command I am getting:
[code]

The name of the PubMLST scheme is "Salmonella enterica", and running `singularity exec docker://bactopia/bactopia bactopia

[2021-01-12 01:05] rpetit3 commented on #186
Yep let me get this fixed for you! (haha 1.5.3 got me twice tonight!) Will update soon

[2021-01-12 01:18] npavlovikj commented on #186
Haha, I am sorry about that :)
And thanks!

[2021-01-12 03:07] rpetit3 commented on #186
Should be all set, let me know if not. I'm going to look into automating this with Github Actions

[2021-01-12 04:36] npavlovikj commented on #186
@rpetit3 - thank you so much for your prompt update, the correct Bactopia version is now provided by the image.

I am really sorry for bothering you, but I encountered a different error now when running the command from above:
[code]

`/opt/conda/envs/bactopia/share/bactopia-1.5.x/conda/envs/gather_fastqs-1.5.x` doesn't exist in the image, but only the directory `/opt/conda/envs/bactopia/share/bac

[2021-01-12 04:41] rpetit3 commented on #186
I know what's happening here. This is due to when I split the conda environments into Linc and Mac. I forgot the update the Dockerfile.

I'll get them fixed, and reupload to DockerHub

[2021-01-12 04:43] rpetit3 commented on #186
Actually, what was the command you used to run bactopia?

[2021-01-12 04:45] npavlovikj commented on #186
`singularity exec docker://bactopia/bactopia bactopia --accessions salmonella_sra_ids.txt --datasets ./datasets --outdir sal_output --species "Salmonella enterica" --cpus 16 --max_time 10080 --max_memory 64 -resume`

[2021-01-12 04:48] rpetit3 commented on #186
Can you use Docker or only Singularity? If only Singularity, I'll rebuild those images, too

[2021-01-12 04:53] npavlovikj commented on #186
I can not use Docker directly on our clusters due to the need for root access, but I can use Docker (as I used above) and Singularity images with Singularity itself, so I guess no need to rebuild both.

[2021-01-12 05:02] rpetit3 commented on #186
Thanks for the info, I usually only use Singularity images myself. Just wanted to check.

I'm going to put them upload new ones to Syslab.io then you should be able to use this:
[code]

The `-profile singularity` will tell nextflow to use the singularity images.

Are you going to be using Bactopia on a SLURM cluster? If so it might be worth setting up a profile configured for your cluster

[2021-01-12 05:11] npavlovikj commented on #186
Thanks @rpetit3 , I can certainly try that!

And, yes, I will to use Bactopia on SLURM cluster.
I am not familiar with Nextflow, so is this an additional file I need to create, with the process.executor option as given here https://www.nextflow.io/docs/latest/executor.html#slurm?

[2021-01-12 05:36] rpetit3 commented on #186
Very rough, and you might need to tweak it some (definitely the `queue` parameter), but here's a start.

# Profile using remote
I think this should work and might be easiest
[code]

#### Profile using locally built Singularity images (*.simg)

I use this method, but to do so the image files need to be accessible on every node (NFS share or something)

[code]

Pick one you would like to try (I thin

[2021-01-12 05:47] rpetit3 commented on #186
I'm rebuilding singularity containers and will push them to Syslabs.

Also, you could I think this would work too (pull the docker containers but use singularity) and wouldn't have to wait
[code]

[2021-01-12 09:43] npavlovikj commented on #186
Thank you so much for your detailed reply @rpetit3 !

I am not sure if I am missing something, but I am still getting the same error message with 1.5.5:
[code]
with the command:
[code]
and the profile from your previous message having 1.5.5 for the container_version.

[2021-01-12 10:23] JFsanchezherrero commented on #58
Hi there @rpetit3 ,

I have updated and set tabular output (either a file or standard out) for spaTyper.

I have added some test genomes (_S. aureus MRSA252_ and _NCTC 8325_) in a test folder as an example.

I have accidentally discovered that spaTyper also supports protein fasta files. You can provide one or thousands of proteins (CDS from annotation) and it detects the repeats in the protein A.

[2021-01-12 13:08] rpetit3 commented on #186
The `-profile standard` is probably your issue. If you used what was above it should be `-profile local` (or `-profile custom`) depending on whats in your custom-profile.config
[code]

Example, if it says "local" after profiles:
[code]
I also changed `--cpus` to 4 instead of 16 (its more efficient, but more infor is here https://bactopia.github.io/usage-basic/#-cpus)

[2021-01-12 13:12] rpetit3 commented on #58
Nice! When you are ok with it, submit a new release on Github and Bioconda will automatically update. Once the new version is on Bioconda I'll get the tool Bactopia Tool made.

[2021-01-12 13:15] JFsanchezherrero commented on #58
Hi there,

It is done already and updated on github and pip. Its new version is 0.3.3.

https://github.com/HCGB-IGTP/spaTyper
https://pypi.org/project/spaTyper/

Best

[2021-01-12 13:18] rpetit3 commented on #58
Ah that's right! I forgot it was on PyPi, I'll keep an eye out for the PR and get it merged into Bioconda. Thanks for the update!

[2021-01-12 19:31] npavlovikj commented on #186
Thanks!

I thought the `profile` comes from Nextflow, which supports `standard`, `cluster` and `cloud`, and thus my selection. By using the correct profile, the job ran a bit longer, but I am still getting an error:
[code]

The directory "/work/npavlovikj/bactopia/work/bactopia/13/1e47e49a714b4af0c5ef9fa4fdd190" exists, but it is empty. Does this error look familiar to you?

[2021-01-12 20:27] zirbez commented on #187
@rpetit3 Thank you so much for your help, updating Bactopia resolved the Species not available error.

However, another error seems to have cropped up in its place at the same step in the tutorial. qc_reads of SRX4563634 fails multiple times and terminates the process with exit status 1.  I was able to reproduce this error using a fresh directory and by copying the commands directly from the tutor

[2021-01-12 20:53] rpetit3 commented on #186
Progress! (sorry its being a pain!)

What was the final config used?

What was the command used?

Was the command above executed on a head node or worker node?

[2021-01-12 20:53] rpetit3 commented on #187
Going to give this a go locally to see whats happening, will update soon

[2021-01-12 23:25] npavlovikj commented on #186
1. The final config is:
[code]

2. I submitted a SLURM job from the login node but the jobs run on the worker nodes. This is the content of the file:
[code]

Thank you for your prompt replies, and please let me know if you need any additional information.

[2021-01-12 23:53] rpetit3 commented on #186
This is great! Thank you

_The directory "/work/npavlovikj/bactopia/work/bactopia/13/1e47e49a714b4af0c5ef9fa4fdd190" exists, but it is empty. Does this error look familiar to you?_

This should be because `scratch = true`.

Question for you, on the login node, have you tried running Bactopia? Nextflow will handle the job queuing for you. Here's aa test with a really small genome if you would like

[2021-01-13 00:20] npavlovikj commented on #186
I tried with both `scratch=true` and `scratch=false` and I got the same error about the directory.

We can only run Singularity on the worker nodes, and not the login one. To run it from the login node, I would need to create a conda environment when which I encountered the first issue mentioned here. I can give the conda env another try and see if it works today...

[2021-01-13 00:31] rpetit3 commented on #187
I was able to get through this, could you post the full error message? Ran into an issue with download_reference which will be fixed in v1.5.6

[2021-01-13 00:33] rpetit3 commented on #186
I think the conda will work this time since we are using your custom profile which should use SLURM with Singularity  (so make sure you run with `-profile local` and  `--nfconfig /work/npavlovikj/bactopia/custom-profile.config`)

[2021-01-13 03:55] npavlovikj commented on #186
@rpetit3 , I tried running Bactopia from the conda env from the login node using the command you shared earlier. The job ran much longer this time, but failed with the following error:
[code]

[2021-01-13 04:44] rpetit3 commented on #186
I'm going to give this a go locally, and follow up soon

[2021-01-13 04:53] npavlovikj commented on #186
Sounds good - thanks and please let me know if you need any additional information.

[2021-01-13 05:40] rpetit3 commented on #186
OK Natasha! I think we are good.

First issue was I had singularity misplaced in the config, it should not have been inside process.

Second, Bactopia will build the conda envs even though you gave a profile, this is a bug and will be fixed in the next version.

Third, I tried using the containers from Dockerhub first but got a error message:
[code]
I'll look into and see how I can make the docker

[2021-01-13 16:21] zirbez commented on #187
@rpetit3  My apologies for the spotty and delayed responses, I have not yet to set up Bactopia on our cluster and so I have been running it on a machine in the lab. The full output is as follows,

Error executing process > 'qc_reads (SRX4563634)'

Caused by:
  Process `qc_reads (SRX4563634)` terminated with an error exit status (1)

Command executed [/home/zirbez/miniconda3/envs/bactopia/share/bac

[2021-01-13 17:03] rpetit3 commented on #187
No worries! That error message isn't very useful huh?

Maybe try this:
[code]

Let's see if this gives an actual error message or atleast what's causing the issue

[2021-01-13 17:22] zirbez commented on #187
Unfortunately, running bash .command.sh does not return any information, instead returning me to the prompt. The .bash.sh file is present.

[2021-01-13 17:25] rpetit3 commented on #187
What's the contents of  `/home/zirbez/bactopia-tutorial/work/bactopia/e2/f18a9529e2595903cd749ee95a6b95`
[code]

[2021-01-13 17:33] zirbez commented on #187
total 709M
drwxrwxr-x 7 zirbez zirbez 4.0K Jan 13 11:27 .
drwxrwxr-x 3 zirbez zirbez 4.0K Jan 12 13:59 ..
-rw-rw-r-- 1 zirbez zirbez 354M Jan 12 14:00 adapter-r1.fq
-rw-rw-r-- 1 zirbez zirbez 355M Jan 12 14:00 adapter-r2.fq
drwxrwxr-x 2 zirbez zirbez 4.0K Jan 13 11:20 bactopia-info
-rw-rw-r-- 1 zirbez zirbez    0 Jan 12 13:59 .command.begin
-rw-rw-r-- 1 zirbez zirbez    0 Jan 12 13:59 .command.err

[2021-01-13 17:42] rpetit3 commented on #187
There are log files in the `qc_reads` directory.  Something useful should be in there.

[2021-01-13 17:52] zirbez commented on #187
The bbduk-adaptor.out file had no content.

the bbduk-phix.err had the following:
java -ea -Xmx16g -Xms16g -cp /home/zirbez/miniconda3/envs/bactopia/share/bactopia-1.5.x/conda/envs/qc_reads-1.5.x/opt/bbmap-38.87-0/current/ jgi.BBDuk -Xmx16g in=adapter-r1.fq in2=adapter-r2.fq out=phix-r1.fq out2=phix-r2.fq ref=phix k=31 hdist=1 tpe=t tbo=t qtrim=rl trimq=6 minlength=35 minavgquality=10 qin=auto qou

[2021-01-13 18:12] rpetit3 commented on #187
You can try running with `--xmx 8g` to limit the memory to 8g.

More details here https://bactopia.github.io/usage-complete/#qc-reads-parameters
[code]

I'm going to adjust how the logs are out put, this error message should have gone to the screen. I'm also going to adjust the xmx parameter 16gb seems excessive and probably shouldn't exceed available memory.

Just curious how much memory is on yo

[2021-01-13 18:30] zirbez commented on #187
I have 8g installed on this machine. I will reboot the machine and try another run with limited memory.

[2021-01-13 20:38] zirbez commented on #187
After a restart, I was able to make the following progress on a run with --xmx 4g:

[code]

at which point the run failed due to an error with download_references
[code]
This may have been the error you mentioned coming across earlier.

[2021-01-13 20:45] rpetit3 commented on #187
Great! Glad we were able to get it going!

And yeah, that was the error I mentioned! I'll be pushing v1.5.6 today with a fix (among others).  If you don't need  the auto variant calling feature you can use `--disable_auto_variants` to avoid it. This would at least allow you to continue.

[2021-01-13 20:45] npavlovikj commented on #186
Thanks @rpetit3  - based on your suggestions I was able to run the test example with one SRA id. However, when I tried running the real pipeline I have, with list of 2,392 SRA ids:
[code]
and the command:
[code]
I am getting the following errors:
[code]

Is the `salmonella_newport_sra_ids.txt` file in the proper format for Bactopia, or I need to include something else in the command?

[2021-01-13 20:53] zirbez commented on #187
@rpetit3 Thank you so much for your help! I'll keep pushing forward with the tutorial and will be closing this issue unless you'd prefer me to keep it open.

[2021-01-13 21:02] rpetit3 commented on #186
That's great! At least we got it working on your cluster!

You're next issue, they should be Experiment accessions
[code]

The issue is [here](https://github.com/bactopia/bactopia/blob/master/templates/gather_fastqs.sh#L96). I'm telling fastq-dl to group the input by experiment accession. So SRR is becoming SRX, but Bactopia is looking for SRR.

But here's the deal! If you are wanting to use Run a

[2021-01-13 21:07] rpetit3 commented on #187
No problem! Feel free to reopen if you have any issues!

[2021-01-13 21:07] #187 closed

[2021-01-14 05:39] rpetit3 commented on #184
Released v1.5.6, should be good to go.

Feel free to reopen if not!

[2021-01-14 05:39] #184 closed

[2021-01-14 05:40] rpetit3 commented on #181
Pushed v1.5.6, so this should be fixed. If not please feel free to reopen

[2021-01-14 05:40] #181 closed

[2021-01-14 15:40] rpetit3 commented on #187
Should be good on v1.5.6. Also when you start the process for setting up on your cluster, check this Issue out for details on using a custom config: https://github.com/bactopia/bactopia/issues/186#issuecomment-759218483 (let me know if I can help on that setup as well)

[code]

[2021-01-14 15:53] rpetit3 commented on #181
Good news, here's a run with v1.5.6
[code]

[2021-01-14 21:05] zirbez commented on #187
Fantastic, thank you!

[2021-01-15 11:33] gtsiamis commented on #181
Dear Robert,

Phyloflash works fine. Many thanks for your assistance and support.

George

On Thu, 14 Jan 2021 at 17:54, Robert A. Petit III <notifications@github.com>
wrote:

--

George Tsiamis, PhD
Associate Professor - University of Patras
Department of Environmental Engineering

p: +30 26410 74149 m: +30 697 6685 012 a: 2 Seferi St., 30100, Agrinio,
Greece
e: gtsiamis@upatras.gr; gtsiamis1@gma

[2021-01-15 21:51] npavlovikj commented on #186
@rpetit3 , thank you so much for your reply, and sorry for not replying earlier - I was testing the provided suggestions. So far, looks like the submitted job has been running fine for ~50 hours.

I would prefer to use Run accessions, but for now, using `bactopia search` works.
Regarding `bactopia search` do you have any idea of the run time?
For one dataset with ~2,000 SRR ids, it took few hours

[2021-01-15 22:13] rpetit3 commented on #186
16 hours for `bactopia search` is a bit excessive, but in hindsight I probably shouldn't have recommended that approach for 2,000 Run accessions. There's a small sleep time in between queries to play nice with NCBI and EBI's servers.

Are all your accessions  from `Salmonella enterica`? If so, you could:
[code]

This would give you everything associated with *Salmonella enterica* and you can pull

[2021-01-15 22:18] rpetit3 opened #188 "[feature] Support for Run accessions or converting to Experiment"
**Related To**

- [X] Bactopia
- [ ] Bactopia Tools

**Is this something you would like to see added?**
Currently Bactopia only supports Experiment accessions, it would be useful to also support Run accessions or provide a method to quickly convert the Run accessions to an Experiment accession.

I personally think a quicker conversion would be ideal. Given Experiment accessions are unique but Runs

[2021-01-15 22:43] rpetit3 commented on #188
Looks like ENA's API now supports POST requests, so I think it should be straight forward to use that method to rapidly convert Run accessions to Experiment accessions

[2021-01-16 04:06] rpetit3 commented on #188
Using POST requests is much better. Was able to convert 25k Run accessions in ~1 minute. I also tested ~200k accessions (S. enterica) and it took ~4.5 minutes.

Considering its now very easy to convert Run accessions to Experiment accessions, I will for the time being drop the idea of supporting Experiment accessions. Again this is due to Run accessions not being "unique" (e.g. the same sample can

[2021-01-16 04:10] rpetit3 commented on #186
Good news Natasha! Made some tweaks to `bactopia search` to better using ENA's API (honestly never considering a request like yours, to thank you very much!).

It took ~1 minute to convert 25k Run accessions to Experiment accessions. Here's full details: https://github.com/bactopia/bactopia/issues/188#issuecomment-761351437
[code]

So yeah, very sorry for wasting 16 hours to convert 2k accessions!

[2021-01-16 05:33] rpetit3 commented on #90
Downloads will be attempted multiple times (Default: 10x), after which an error file will be produced. Other runs will continue.

https://github.com/bactopia/bactopia/commit/2a64810b462b832f6c11e666b7ff66370b79b802

[2021-01-16 05:33] #90 closed

[2021-01-16 06:08] rpetit3 commented on #120
https://github.com/bactopia/bactopia/commit/9bdee3342d91c081295bc22fad13b1a52c115fba html tags are stripped out

[2021-01-16 06:08] #120 closed

[2021-01-16 06:38] rpetit3 commented on #148
https://github.com/bactopia/bactopia/commit/f1438455dccb4af9b40a74a43b3a5fa172dc2acc

Added `--max_retry` (default 5) to retry builds. There is a sleep in between retries, and the amount of sleep time increases per retry (30s x retry)

[2021-01-16 06:38] #148 closed

[2021-01-17 00:18] rpetit3 commented on #172
This is done: https://github.com/bactopia/bactopia/commit/f3c0f412db94dd21d755ed5cf8c52deaa2429a58 and will be apart of v1.6.0

[2021-01-17 00:18] rpetit3 commented on #161
This is done: https://github.com/bactopia/bactopia/commit/f3c0f412db94dd21d755ed5cf8c52deaa2429a58 and will be apart of v1.6.0

[2021-01-17 00:18] #161 closed

[2021-01-17 12:03] emankhalaf commented on #137
Hi @rpetit3
Sorry for my delayed response (urgent administrative work). So, I am back with a few questions as usual:
1- I am following your steps till the line below
nextflow run angelovangel/nextflow-kraken2 -profile test --kraken_db db/
I used
nextflow run angelovangel/nextflow-kraken2 -profile test --kraken2
since I am at kraken2 dir. Also, I copied R1,R2 fastq files of a strain in the same dir

[2021-01-17 16:00] rpetit3 commented on #137
`.command.run: line 68: docker: command not found`

 You need Docker installed. I might have a fork that doesn't require Docker.

 Do  you have Singularity?

[2021-01-17 16:28] emankhalaf commented on #137
Hi @rpetit3
No, I do not, but I installed it now using:
nextflow run angelovangel/nextflow-kraken2 -profile test --kraken2

Then ran:
nextflow run angelovangel/nextflow-kraken2 -profile test --kraken2

I got this:
N E X T F L O W  ~  version 20.10.0
Launching `angelovangel/nextflow-kraken2` [fervent_franklin] - revision: 96462a2a02 [master]
Will use /home/eman/db/kraken/16S_Greengenes13 as kraken_

[2021-01-17 16:29] emankhalaf commented on #137
@rpetit3
I mean using
$sudo apt install singularity

[2021-01-17 17:23] rpetit3 commented on #137
`nextflow-kraken2` by default requires Docker. If you can sudo install stuff, and are ok install Docker, I would recommend installing Docker. Details here: https://docs.docker.com/engine/install/ubuntu/

Otherwise, it might be worth seeing if the dev for https://github.com/angelovangel/nextflow-kraken2 could add a singularity profile or Conda.

Also to install Singularity you would need to follow

[2021-01-18 02:21] npavlovikj commented on #186
@rpetit3 , those are great news! `bactopia search` with ~20,000 ids finished after 18 hours, but I am looking forward to the updates :)

For the job with ~2,000 ids, I got the following message:
[code]
Is there a way for me to see what jobs failed and why?

[2021-01-18 02:47] rpetit3 commented on #186
In this case failed is somewhat misleading.  It should really be "retried", sometimes jobs fail because they exceed the requested amount of memory or time limit. When this happens, Nextflow will retry the job. I've set Bactopia up to double the requested memory and time in case of needing to retry a job.

So you are good!

You can give the [summary](https://bactopia.github.io/bactopia-tools/summar

[2021-01-19 12:59] emankhalaf commented on #137
Hi @rpetit3
I am following the steps in the first link (installing Docker from the repository). When updating apt, I got this message at the end:
Reading package lists... Done
W: An error occurred during the signature verification. The repository is not updated and the previous index files will be used. GPG error: https://cloud.r-project.org/bin/linux/ubuntu bionic-cran35/ InRelease: The following

[2021-01-19 13:05] rpetit3 commented on #137
Maybe this is helpful? https://community.rstudio.com/t/completely-removing-r-on-ubuntu/86603/2

[2021-01-19 14:13] emankhalaf commented on #137
@rpetit3
Sorry for asking so many questions, but it has not been solved yet.
The first issue of the keyserver is solved, then I followed the installation steps of Docker. However, at the step of Docker engine installation, I used the default without specifying a version. Then, after finishing the installation along with its test, I ran the following:
nextflow run angelovangel/nextflow-kraken2 -pro

[2021-01-19 14:28] rpetit3 commented on #137
Probably need to add your user to the docker group: https://docs.docker.com/engine/install/linux-postinstall/

[2021-01-19 15:21] emankhalaf commented on #137
@rpetit3
I created a docker group
$sudo groupadd docker
and got this
groupadd: group 'docker' already exists

Then added my user to the docker group.

$ sudo usermod -aG docker $USER(my user)
Then got this:
Usage: usermod [options] LOGIN

Options:
  -c, --comment COMMENT         new value of the GECOS field
  -d, --home HOME_DIR           new home directory for the user account
  -e, --expiredate

[2021-01-19 15:28] rpetit3 commented on #137
for `sudo usermod -aG docker` try giving your actual username instead of `$USER`

[code]

[2021-01-19 16:46] emankhalaf commented on #137
@rpetit3
Done and worked (you are great!) but when ran nextflow ran
nextflow run angelovangel/nextflow-kraken2 -profile test --kraken2
got this error:

N E X T F L O W  ~  version 20.10.0
Launching `angelovangel/nextflow-kraken2` [chaotic_kirch] - revision: 96462a2a02 [master]
Will use /home/eman/db/kraken/16S_Greengenes13 as kraken_store dir
===========================================
 K R A K E

[2021-01-19 17:15] rpetit3 commented on #137
Try running with `--skip_krona` to skip Krona.

Also just a heads up, the default for `--kraken_db` is 16S database. Is that ok? Otherwise, you'll want to change it

[2021-01-19 17:30] emankhalaf commented on #137
@rpetit3
Yes, it is okay! I ran
nextflow run angelovangel/nextflow-kraken2 -profile test --kraken2 --skip_krona

Then got this (new error):
N E X T F L O W  ~  version 20.10.0
Launching `angelovangel/nextflow-kraken2` [astonishing_morse] - revision: 96462a2a02 [master]
Will use /home/eman/db/kraken/16S_Greengenes13 as kraken_store dir
===========================================
 K R A K E N 2 - B

[2021-01-19 17:36] rpetit3 commented on #137
What are the contents of `/home/eman/Documents/kraken2/work/49/6c57db7523a603b502417f1e8a65ca`?

[code]

[2021-01-19 17:43] emankhalaf commented on #137
@rpetit3
a folder titled 16S_Greengenes_k2db that contains files in the attached photo
![IMG-2390](https://user-images.githubusercontent.com/26454871/105072442-d1963680-5a53-11eb-8a53-606ebd22b463.jpg)

[2021-01-19 17:47] emankhalaf commented on #137
@rpetit3
I am sorry to confuse you, but I just have received a couple of e.mails from GenBank reporting errors in my assembly files and requested fixing this issue. The assembly was created using Bactopia and their report includes the following:

It appears that you have labeled a sequence as 'chromosome' and given that
sequence the ID '123_P1_101222_20191128N_AACAACCA_S257_L002'.  However,
your f

[2021-01-19 18:08] rpetit3 commented on #137
For the `nextflow-kraken2` error, it might be worth reaching out to the dev of that workflow. I'm kind of hitting my limits on what I can help with on that end. The dev of `nextflow-kraken2` should much better understand what's happening.

Could you attach the assembly here?

[2021-01-20 15:33] emankhalaf commented on #137
[123_P1_101222_20191128N_AACAACCA_S257_L002.txt](https://github.com/bactopia/bactopia/files/5843489/123_P1_101222_20191128N_AACAACCA_S257_L002.txt)
@rpetit3
Thanks for your support. I will keep trying and keep the forum posted with any promising results.
I have attached the assembly file. It is fna file but I changed the extension to txt since I could not upload it in its original format.
Thanks i

[2021-01-20 16:18] rpetit3 commented on #137
Yep, you can just rename the headers to fit GenBanks requirements

[2021-01-20 16:21] emankhalaf commented on #137
Great! Thanks again for your help!

On Wed, Jan 20, 2021 at 6:18 PM Robert A. Petit III <
notifications@github.com> wrote:

--
Eman M Khalaf, BPharm, PhD
Postdoctoral fellow, University of Guelph, ON, Canada.
Lecturer of Microbiology, Faculty of Pharmacy
Damanhour University, Egypt
ORCID ID: https://orcid.org/0000-0001-7844-8946
Scopus Author ID: 57190020667
<http://www.scopus.com/inward/authorDet

[2021-01-22 07:02] gtsiamis opened #189 "Run time issue"
**Description**
I am using bactopia for the last week with a series of genomic data without any issue. With one particular set of data bactopia is crashing with the indication

[code]

[2021-01-22 12:37] rpetit3 commented on #189
I know exactly whats happening here. `mapping_query` is only retried 1 time. The first time its tried the max time allowed is 60 minutes, on the second time the max time allow is 120 minutes (60m * attempt).

I'm adding a parameter called `--min_time` that I think will help in your situation. New version will be pushed today or tomorrow with these changes.

I have a question for you, is the runtim

[2021-01-22 14:16] gtsiamis commented on #189
Hi Robert,

This sounds excellent. Once the new version is out I will run the command
again with the --min_time option.

With respect to your question yes, there are a lot of sequences so it will
take time to do the mapping.

Regards
George

On Fri, 22 Jan 2021 at 14:38, Robert A. Petit III <notifications@github.com>
wrote:

--

George Tsiamis, PhD
Associate Professor - University of Patras
Depart

[2021-01-22 20:35] rpetit3 commented on #189
I've released v1.6.0 (https://github.com/bactopia/bactopia/releases/tag/v1.6.0) hopefully this should fix your problem.

Please feel free to reopen if not! Thank you very much for using Bactopia! Let me know if you have any feedback.

Robert

[2021-01-22 20:35] #189 closed

[2021-01-22 20:35] rpetit3 commented on #188
Bactopia v1.6.0 (https://github.com/bactopia/bactopia/releases/tag/v1.6.0) has been released and should now make converting Run accessions super quick.

[2021-01-22 20:35] #188 closed

[2021-01-22 20:36] rpetit3 commented on #172
AMRFinder+ databases are now included as a dataset in Bactopia v1.6.0 (https://github.com/bactopia/bactopia/releases/tag/v1.6.0)

Going to close this for now

[2021-01-22 20:36] #172 closed

[2021-02-02 17:45] rpetit3 opened #191 "[feature] Option to skip some steps (e.g. only assemble and annotate)"
**Related To**

- [x] Bactopia

**Is this something you would like to see added?**
It has been suggested to look into adding an option to skip some steps.

**Describe the solution you'd like**
Something like `--assembly_only` this would run the QC and assembly step, but skip the rest.

**Additional Information**
I think it would be useful, but its not high priority.

[2021-02-02 17:46] plasmid02 commented on #191
Could this create issues with bactopia_tools looking for files that don't exist?

[2021-02-02 17:49] rpetit3 commented on #191
Bactopia Tools check for files at the start, then let the user know how many samples would be processed.

So I think "no", but it would be fair to warn the user "using this option can affect down stream analyses with Bactopia Tools"

[2021-02-12 18:29] zirbez opened #192 "Using Bactopia prepare with long fastq.gz file names[question]"
Hello,

I was wondering if there is a way to use Bactopia's prepare function on a directory full of fastq's that have long names containing numbers. They do follow a pattern, and some examples are provided below:

[code]

I tried using the following to prepare the FOFN:

[code]

But was met with the following errors:

[code]
I have tried several variations of patterns, such as "R1"/"R2", "R1_001"/

[2021-02-12 18:52] rpetit3 commented on #192
Hey! Hope all is well on your end @zirbez.

Since it looks like all the extensions are "_001.fastq.gz" you can try:
[code]

[2021-02-12 18:57] zirbez commented on #192
I am happy to report that upon moving my work to our cluster, I was able to smoothly progress through the rest of the tutorial and am looking forward to processing our sequences. I hope you are also doing well @rpetit3!

Your suggestion worked like a charm, thank you again for your help!

[2021-02-12 18:57] #192 closed

[2021-02-18 15:12] andriesfeder opened #193 "[question] Index 1 out of bounds for length 1 Error"
Hello!

I have been running into a problem with Call Variants Auto (everything else in Bactopia has been working for me).  I have been getting an index out of bounds error and am not sure why.  I have paste the execution summary below.

Any help would greatly appreciated!

Andries

        `  Bactopia Execution Summary
            ---------------------------
            Command Line    : nextflow

[2021-02-18 15:25] rpetit3 commented on #193
Looks like the issue is here:

[code]
Its returning `null` (`(S.191121.00364 - null)`) when it should be the reference name.

Was there more to the STDERR to work with? I'm curious if `download_references` downloaded anything, and if it did if there was something about its name that broke that one line.

Could you also post your dataset summary? Should be `/Users/afeder/Desktop/PJP/bactopia/datase

[2021-02-18 15:38] andriesfeder commented on #193
Thanks for the quick response! There was nothing else I was getting.  It looked like `download_references` completed successfully with one reference downloaded.

[summary.json.zip](https://github.com/bactopia/bactopia/files/6003923/summary.json.zip)

[2021-02-18 16:39] rpetit3 commented on #193
Going to see if I can replicate this. I'm wondering if the sample name `S.191121.00364` might be causing the problem.

Will update soon

[2021-02-18 17:51] rpetit3 commented on #193
Good news! I'm getting the error too!
[code]

I'll get this fixed

[2021-02-18 18:25] rpetit3 commented on #193
Ok figured it out. I was using `.getSimpleName()` when I should have used `.getBaseName()`. Here's details from Nextflow docs

Name | Description
-- | --
getName | Gets the file name e.g. /some/path/file.txt -> file.txt
getBaseName | Gets the file name without its extension e.g. /some/path/file.tar.gz -> file.tar
getSimpleName | Gets the file name without any extension e.g. /some/path/file.tar.gz 

[2021-02-18 18:30] andriesfeder commented on #193
Sounds good! Thanks so much for your help!

[2021-02-21 18:00] emankhalaf commented on #137
Hi @rpetit3

I have a new batch of sequenced genomes. When ran bactopia tools summary for one of the genomes, the coverage was 88.7% (silver rank). Also, k51 showed top hit of Pantoea sp. (with 3.7 mbp overlap), second was Bacillus (0.6 mbap overlap), third was another species of Pantoea (400 kbp overlap).
I am wondering why bacillus comes in the second hit? and why the coverage is low (silver ran

[2021-02-22 14:36] rpetit3 commented on #193
@andriesfeder bactopia v1.6.1 has been released.

This version should fix your problem, if not please feel free to reopen.

Let me know if there's anything else I can help out with!

[2021-02-22 14:36] #193 closed

[2021-02-22 15:03] rpetit3 commented on #137
Hmmm, first the quality grade.

You might want to compare the original fastq stats to the post-qc stats. What was the original coverage (will have to add R1 and R2)? How did the average quality look?

Keep in mind though, you can set the criteria for what is "Gold", "Silver", and "Bronze". They are mostly there for a quick assessment of quality. Your "Silver" genome is probably fine especially sin

[2021-02-22 16:05] emankhalaf commented on #137
Hi @rpetit3
What was the original coverage (will have to add R1 and R2)? How did the average quality look?

- the original coverage is 89.535. where can I find the average quality (which file?) Sorry!

Now for the k-mers, have you compared it to the Mash and other sourmash results? Does the checkm report look ok?

- May you please guide me on how to use Mash/sourmash? should both be implemented in

[2021-02-22 18:46] emankhalaf commented on #137
@rpetit3
I found PLSDB-k21 txt file. yes it contains long list of plasmid hits with bacillus plasmids as top 2 hits. But why it is assigned to k21 only, and how can you interpret the file content (attached)?
Also, do you mean sample_namek21.msh file? if yes, I am trying to open it. it requires java installation. why it is for k21, k31 only?

[155_43_106621_20201225NA_GATAGACA_S302_L004-plsdb-k21.t

[2021-02-22 22:08] rpetit3 commented on #137
No problem here. By default 100x is needed for "Gold", you went from ~90x coverage to 88.7x coverage so I think that's fine and suggests your data was good.

That would be these files: https://bactopia.github.io/output-overview/#minmers

Looking at this: https://github.com/Ecogenomics/CheckM/wiki/Reported-Statistics

- **contamination**: estimated contamination of genome as determined by the prese

[2021-02-23 14:52] emankhalaf commented on #137
@rpetit3
Since p-value = 0, so the results are false positive? Does that mean PLSDB results are not reliable here/not correct?
The genome size is 5135400 which is the average size for Pantoea species, so I think it is not likely due to contamination during the library preparation.

[2021-02-23 15:12] rpetit3 commented on #137
p-value of 0 in this case was probably extremely small so it was reported as 0. I was looking more at the identity (close to 1) and share-hashes columns (close to 1000/1000).

If you think everything looks fine and expected, then I would keep going with your analysis.

[2021-02-23 17:19] emankhalaf commented on #137
@rpetit3

Great! so,  that means to consider the top hit (Pantoea sp. MBLJ3), along with the second top hit; Bacillus sp. EGD-AK10 as a source of the predicted plasmid. Sorry for asking many questions, but it is confusing!
Also, how can I know if the genome contains plasmids or not?

[2021-02-23 17:27] rpetit3 commented on #137
I think based on the info you have, its safe to say you have Pantoea (which you expect) and **_if_** there is a plasmid/contamination it could potentially be from Bacillus (but that would need to be better verified, because it could just be a false positive).

There is a tool RFPlasmid (https://github.com/aldertzomer/RFPlasmid) that takes an assembly and predicts if a contig is chromosomal or plas

[2021-02-23 17:43] emankhalaf commented on #137
@rpetit3
Many thanks for your recommendations!

[2021-02-23 17:51] emankhalaf commented on #137
@rpetit3
One more question, these strains are suggested to be beneficial microbes for crop production, so should I consider the antimicrobial resistance file that shows the predicted virulent determinants especially if we will be testing then in field trials?

[2021-02-23 18:03] rpetit3 commented on #137
I think it is worth taking a look at, because it could raise some interesting questions if there is extensive AMR or virulence that is predicted.

[2021-02-23 18:54] emankhalaf commented on #137
@rpetit3
Okay! again much thanks!

[2021-02-23 20:38] rpetit3 commented on #137
No problem! Looking forward to seeing where your project goes!

[2021-03-01 19:55] andriesfeder opened #195 "BLAST Failing with FOFN input"
When I run Bactopia on multiple samples using a FOFN file, BLAST against the PLSDB fails. I haven't had that issue when using Bactopia one sample at a time.  Here is the call that has been causing this issue and I've attached a FOFN similar to the one I'm trying to use.

` $ bactopia --fastqs fastqs.txt \
             --datasets bactopia/datasets/ \
             --species "Staphylococcus aureus" \

[2021-03-01 20:02] rpetit3 commented on #195
Well that's a weird one! What version of bactopia are you using? (`bactopia --version`)

[2021-03-01 20:04] andriesfeder commented on #195
I'm using bactopia 1.6.1

Really am not sure why this would be happening!

[2021-03-01 20:08] rpetit3 commented on #195
Going to try and reproduce locally.

Is it giving a specific error message?

[2021-03-01 20:11] andriesfeder commented on #195
It is not beyond:

'NOTE: Process `plasmid_blast (Ho_00364)` failed -- Execution is retried (1)'

[2021-03-01 20:56] rpetit3 commented on #195
Haha, not the most helpful huh?

Looking into it now

[2021-03-01 22:47] rpetit3 commented on #195
Hmmm, I was unable to replicate. Here's what I did:

[code]

Could you give the `ls -lh` output of the `bactopia/datasets/plasmid` directory? I wonder if something is going on there.

[2021-03-01 22:57] andriesfeder commented on #195
Hmm ok it definitely seems like it is something specific to my set up.  I built the dataset following the Bactopia tutorial.  Here is the output of `ls -lh`
[code]

[2021-03-01 23:18] rpetit3 commented on #195
Hmmmm, let's see if we can find in the `work` directory.

Maybe some thing like `find . -p "*plasmid_blast*"`

[2021-03-02 00:16] andriesfeder commented on #195
Ok I've found the work directory.  Anything I should be looking for?

[2021-03-02 00:56] rpetit3 commented on #195
If you found one with `plasmid_blast` in it, what does the `ls -lh` look like?

[2021-03-02 15:15] andriesfeder commented on #195
Inside `plasmid_blast` `ls -lh` yields:
[code]
One directory back I've got:
[code]

[2021-03-02 16:53] amymariecampbell commented on #65
Hi there,

I'm having a similar issue to the above (https://github.com/bactopia/bactopia/issues/65#issuecomment-585762554) when I run the tutorial. I get the following error:

`Error executing process > 'gather_fastqs (SRX4563634)'

Caused by:
  Conda prefix path does not exist or it's not a directory: /home/amymariecampbell/miniconda3/envs/bactopia/share/bactopia-1.6.x/conda/envs/gather_fastqs-1.

[2021-03-02 17:33] rpetit3 opened #196 "Conda prefix path does not exist"
Hi there,

I'm having a similar issue to the above (https://github.com/bactopia/bactopia/issues/65#issuecomment-585762554) when I run the tutorial. I get the following error:

`Error executing process > 'gather_fastqs (SRX4563634)'

Caused by:
  Conda prefix path does not exist or it's not a directory: /home/amymariecampbell/miniconda3/envs/bactopia/share/bactopia-1.6.x/conda/envs/gather_fastqs-1.

[2021-03-02 17:35] rpetit3 commented on #196
Hi @amymariecampbell!

I created a new issue here. Let's see if we can get this figured out!

What version of bactopia are you using (`bactopia --version`)?
What was the command you used to run bactopia?
What's the output of `ls -lh /home/amymariecampbell/miniconda3/envs/bactopia/share/bactopia-1.6.x/conda/envs/`?

Thanks!

[2021-03-02 17:37] rpetit3 commented on #195
Getting close! In this directory, there should be some nextflow files `.command.*`

What does `.command.log` or `.command.err` look like?

[2021-03-02 18:11] andriesfeder commented on #195
Great! I really appreciate all your help with this.  I've gone through and looked at all the `.command.log` and `.command.err` in directories related to `plasmid_blast`.  They are all blank which seems odd?

[2021-03-02 18:25] rpetit3 commented on #195
Haha this one is really being elusive huh?

Curious, did `Ho_00364` finish fine when it was one as a single sample?

[2021-03-02 18:26] andriesfeder commented on #195
It did, yea.

[2021-03-02 18:45] rpetit3 commented on #195
Lets try in a fresh directory and remove `--cleanup_workdir`. I don't think `--cleanup_workdir` is the issue but since we're testing I'd rather keep the work directory.

Maybe something like this? (in the directory you were in)
[code]

What I'm hoping is with the fresh work directory, we shouldn't have to worry about some if the successful runs.

Also, what operating system are you on? I tested on

[2021-03-02 20:16] amymariecampbell commented on #196
Hi Robert,

That's great thanks so much!

Version: bactopia 1.6.1

I did conda activate bactopia and then all the commands listed here (https://bactopia.github.io/tutorial/) up to when I first got the error for this section for this part:
`bactopia --accession SRX4563634 \
         --datasets datasets/ \
         --species "Staphylococcus aureus" \
         --coverage 100 \
         --genome_size

[2021-03-02 20:59] rpetit3 commented on #196
Thank you!

Do you think you can include the ls command in the output as well. Because something looks off, and just want make sure we're on the same page.

Here's an example of what things should look like:
[code]

Another thing that would be helpful is the complete output from the bactopia command. There might be some info that we can use. There should have been some text that described the envi

[2021-03-03 00:11] andriesfeder commented on #195
Well good news! That went off without a hitch.

I'm on MacOS which I know is not directly supported for Bactopia (and really appreciate your help with this even though I'm not on Linux!)  I've got a computer running Ubuntu but it is cranky and I am hoping to avoid needing it.

[2021-03-03 00:21] rpetit3 commented on #195
oh! that's is good news!

I've had something similar happen in the past. (e.g. moving directories and rerunning was the solution). I've going to tag this incase something similar pops up again.

Haha I have the opposite problem then you! My old mac book is the cranky one!

I'm going to close this for now, please don't hesitate to reopen or reach out if another issue pops up.

[2021-03-03 00:21] #195 closed

[2021-03-03 00:23] rpetit3 commented on #186
Hi @npavlovikj!

I think we are good here, I'm going to go ahead and close this issue. Please feel free to reopen!

Thanks!
Robert

[2021-03-03 00:23] #186 closed

[2021-03-03 01:46] andriesfeder commented on #195
Thanks so much for your help, Robert! I really appreciate it.

[2021-03-03 02:05] amymariecampbell commented on #196
Of course:

`(bactopia) [amymariecampbell@podmt2-0c9d5bf ~]$ ls -lh /home/amymariecampbell/miniconda3/envs/bactopia/share/bactopia-1.6.x/conda/envs/
total 640K
-rw-rw----. 1 amymariecampbell amymariecampbell   33 Feb 26 15:00 annotate_genome.md5
-rw-rw----. 1 amymariecampbell amymariecampbell 7.9K Feb 26 15:00 annotate_genome.yml
-rw-rw----. 1 amymariecampbell amymariecampbell   33 Feb 26 15:00 an

[2021-03-03 02:24] rpetit3 commented on #196
This is very helpful! Thank you!

The conda environment is complaining about package conflicts. I was able to build the environment today, and this part sticks out to me.
[code]
Can you tell me a little more about the virtual machine? I'm wondering if it has to do with how conda is set up on the virtual machine.

On the virtual machine, could you check if there is a `~/.condarc`? and if so, post i

[2021-03-03 10:53] amymariecampbell commented on #196
Great- glad that was helpful.

I'm using POD penguin computing MT2.

`(base) [amymariecampbell@podmt2-0c9d5bf ~]$ cat ~/.condarc
channels:
  - conda-forge
  - bioconda
  - defaults
channel_priority: strict`

And here is the output of conda info:

`(base) [amymariecampbell@podmt2-0c9d5bf ~]$ conda info

     active environment : base
    active env location : /home/amymariecampbell/miniconda3

[2021-03-03 10:56] amymariecampbell commented on #196
Great- glad that was helpful.

I'm using POD penguin computing MT2.

`(base) [amymariecampbell@podmt2-0c9d5bf ~]$ cat ~/.condarc
channels:
conda-forge
bioconda
defaults
channel_priority: strict
`

And here is the output of conda info:

`(base) [amymariecampbell@podmt2-0c9d5bf ~]$ conda info
 active environment : base
active env location : /home/amymariecampbell/miniconda3
        shell level : 1

[2021-03-03 16:53] rpetit3 commented on #196
Looking at the docs on POD Penguin, it looks like they have a PBS Torque job scheduler (https://pod.penguincomputing.com/documentation/scheduler.html#).

I think we should try using PBS Torque with Singularity images. I can help to create a profile (https://www.nextflow.io/docs/latest/executor.html#pbs-torque) if you want (can't test though since I have no PBS Torque system to test on)

What do yo

[2021-03-03 18:07] rpetit3 opened #197 "Bactopia Usage Survey"
Hello everyone!

I would like to get a sense of how everyone is using Bactopia, and more importantly any feedback you might have,

To help out, I put together a short survey. If you have some time to spare, please take a moment to fill it out. Your feedback will help direct the future steps of Bactopia!

https://forms.gle/PTgUxEBwCsCdbQjr7

Thank you very much!
Robert

[2021-03-04 00:11] #19 closed

[2021-03-04 00:11] #64 closed

[2021-03-04 11:07] amymariecampbell commented on #196
Hi there, sounds good let's give it a go!

I've been informed that it would be worth letting you know that POD uses CentOS (and not Ubuntu), so previously have had issues using Singularity containers built for Ubuntu, just in case that's important/ helpful!

[2021-03-04 15:05] rpetit3 commented on #196
Thanks for the info, the containers are Debian, so let's hope it was an Ubuntu specific thing.

Here's what I've put together:

First as a text file: [torque-profile.txt](https://github.com/bactopia/bactopia/files/6084242/torque-profile.txt)

Which looks like this:
[code]

After downloading the text file, put it in the same directory you are running bactopia from, then do this:
[code]

Key things

[2021-03-04 15:32] haruosuz opened #198 "Unicycler for short reads only"
Bactopia can run Unicycler even if I only have short reads?

I wonder how to run Bactopia to process multiple samples (paired-end reads only) using Unicycler?

References:
- https://bactopia.github.io/tutorial/#multiple-samples-fofn
- https://github.com/rrwick/Unicycler/blob/master/README.md#a-note-on-trycycler
If you only have short reads, use Unicycler (Trycycler does not do short-read assembly)

[2021-03-04 15:59] rpetit3 commented on #198
Hi @haruosuz!

At the moment, this is not possible. But, I think with a few tweaks I can make this happen.

I'll update soon!
Robert

[2021-03-04 16:12] marcelladane opened #199 "[bug] create database"
**Description**
Hello, me again, long time I dont bother you. =)
I needed to reinstall bactopia in the new server and it is failing to create the database.

**Steps to Reproduce**
I installed the environment, but it found some issues to resolve the environment. After a while, it worked. Then I activated bactopia and tried to create the DB.
I used the following command:
[code]
The error that shows

[2021-03-04 16:21] rpetit3 commented on #199
Hi @marcelladane!

Welcome back! This might be related to https://github.com/bioconda/bioconda-recipes/issues/22836. Could I get the output of `conda env export` for the bactopia environment?

Also was this built in a fresh environment?

Thanks!
Robert

[2021-03-04 16:34] marcelladane commented on #199
Below you can find the output, exactly as its exported with color only for
bowtie2 version. And for your second question, this is build in a totally
fresh environment, since the old server is no longer running and we got a
new one, I am installing all over again.
channels:
  - conda-forge
  - bioconda
  - defaults
dependencies:
  - _libgcc_mutex=0.1=conda_forge
  - _openmp_mutex=4.5=1_gnu
  - alsa

[2021-03-04 17:06] rpetit3 commented on #199
This all looks good! I'm going to see if I can replicate this and update soon.

Side-note: we've notices the conda installs (not just bactopia) taking much longer as well. I've started using [Mamba](https://github.com/mamba-org/mamba) more often, and might start recommending it to install Bactopia.

[2021-03-04 17:12] rpetit3 commented on #199
Oh! In the Bactopia environment, do you get this when trying `bowtie2 --version`?
[code]

[2021-03-04 17:28] marcelladane commented on #199
I actually didn't run that, but I tried to install another version of of
bowtie2. One before the 2.3.5 and it said all pkgs were already installed.

:)

On Thu, 4 Mar 2021, 18:12 Robert A. Petit III, <notifications@github.com>
wrote:

[2021-03-04 17:31] rpetit3 commented on #199
It's looking like a new version of `tbb` is not working right with `bowtie2`

Let's try downgrading `tbb`:
[code]

Then try running `bowtie2 --version`:
[code]

[2021-03-04 17:32] marcelladane commented on #199
I will try that. :)

Thx a lot for the help. :)

On Thu, 4 Mar 2021, 18:31 Robert A. Petit III, <notifications@github.com>
wrote:

[2021-03-04 18:39] marcelladane commented on #199
Not it's working. :)
I also just answered your survey. Hope you like the idea. :)

And thx a lot for the help.

[2021-03-04 18:39] #199 closed

[2021-03-04 19:17] rpetit3 commented on #199
Great glad its working! And thank you very much for filling out the survey, it really means a lot! (Thank you!!)

I'll take a look.

I also submitted a PR (https://github.com/bioconda/bioconda-recipes/pull/27174) to bioconda to see about getting the bowtie recipe fixed.

[2021-03-04 20:04] amymariecampbell commented on #196
Thank you for this! Gave it a go, editing the queue names and time etc. It definitely seemed to get rid of the initial gather_fastqs error as this step actually started progressing which was nice to see! However it terminates before it finishes and then I get this:

`executor >  pbs (21)
[de/59e51d] process > gather_fastqs (SRX4563634) [100%] 21 of 21, failed: 21, retries: 20 ✘
[-        ] process

[2021-03-04 20:14] rpetit3 commented on #196
Progress! I'm guessing our issue is this: `env: singularity: No such file or directory`

Looks like I missed adding a module (https://pod.penguincomputing.com/documentation/applications.html#singularity-recipes-created-by-penguin-for-pod) (`module = 'singularity/2.4'`)

Here's an updated config:
[code]

Text file: [torque-profile.txt](https://github.com/bactopia/bactopia/files/6086402/torque-profi

[2021-03-04 21:14] amymariecampbell commented on #196
Unfortunately same error so far, sorry!

`
Command exit status:
  127

Command output:
  (empty)

Command error:
  env: singularity: No such file or directory

Work dir:
  /home/amymariecampbell/bactopia/bactopia-tutorial/work/bactopia/7c/b59c7f17bc54b398949b563fa0286a

Tip: when you have fixed the problem you can continue the execution adding the option `-resume` to the run command line

    Laun

[2021-03-04 21:14] amymariecampbell commented on #196
Unfortunately same error so far, sorry!

`Command exit status:
  127

Command output:
  (empty)

Command error:
  env: singularity: No such file or directory

Work dir:
  /home/amymariecampbell/bactopia/bactopia-tutorial/work/bactopia/7c/b59c7f17bc54b398949b563fa0286a

Tip: when you have fixed the problem you can continue the execution adding the option `-resume` to the run command line

    Launc

[2021-03-04 21:17] amymariecampbell commented on #196
Unfortunately same error so far, sorry!

[code]

[2021-03-04 21:18] rpetit3 commented on #196
In this directory: `/home/amymariecampbell/bactopia/bactopia-tutorial/work/bactopia/7c/b59c7f17bc54b398949b563fa0286a`

There should be a file `.command.sh` could you post that file?

[2021-03-04 21:23] amymariecampbell commented on #196
Yep, here it is:
[code]

Also in case helpful, here is the torque-profile.txt file with our cluster parameters added in:
[code]

[2021-03-04 21:42] rpetit3 commented on #196
Thank you!

Let's try this:
[code]

What should this do? Just want to make sure it's doing what you expect it to.
[code]

If its "use no more then 4 cpus total", I think you'll want to use `-qs 4` (described in more detail [here](https://bactopia.github.io/usage-basic/#-qs)) (never tested on on a cluster though, only shared server)

[2021-03-04 23:05] amymariecampbell commented on #196
I'm afraid the same error still! Is there anything I need to install or something?

And yes we discussed and realise we probably didn't need that section so removed it! Thanks!

[2021-03-04 23:31] rpetit3 commented on #196
Mind giving me the full command and all the output, maybe there's something I can pull out of it.

Also in a failed directory like this `/home/amymariecampbell/bactopia/bactopia-tutorial/work/bactopia/7c/b59c7f17bc54b398949b563fa0286a` there should be a `.command.run` file. Can I have that too?

[2021-03-04 23:34] amymariecampbell commented on #196
Of course! Apologies it's quite long but hope there is something helpful in there:

[code]

[2021-03-04 23:35] amymariecampbell commented on #196
And here is the .command.run file:

[code]

[2021-03-04 23:39] rpetit3 commented on #196
Also, this might be helpful. What modules are available? (https://pod.penguincomputing.com/documentation/applications.html#show-pre-installed-applications) Haha hopefully we aren't asking for a version that doesn't exist. I think ideally we want version 3+ of singularity.

[code]

[2021-03-04 23:41] amymariecampbell commented on #196
[code]

Ah well this may be the issue....! Would we be able to get it working with these versions?

[2021-03-04 23:49] rpetit3 commented on #196
2.5.2 might actually be ok! In the penguin docs they had ` module load singularity/2.4` but its not available (at least from the modulae avail command)

Let's try this in your profile. (going back to the original module)
[code]

Also, did this go away?
[code]

Fingers crossed!

[2021-03-05 00:08] amymariecampbell commented on #196
That seemed to do something! As we now have a new error! But at least means hopefully getting somewhere!

[code]

[2021-03-05 00:17] rpetit3 commented on #196
Nice! At least we know singularity is running now.

Let's try this suggestion: **https://github.com/hpcng/singularity/issues/2915#issuecomment-477522399**, by adding `singularity.engineOptions = "--writable"`

[code]

[2021-03-05 00:19] rpetit3 commented on #196
And if that doesn't work, we can try removing automounts

[code]

[2021-03-05 00:36] amymariecampbell commented on #196
I've just tried the first and it doesn't seem to recognise -writeable as an argument (see below). I will try and run without that or the automounts now and let you know! Thanks again for being so responsive and helpful!

[code]

[2021-03-05 00:55] amymariecampbell commented on #196
The second option had the same error as previously-  Failed creating home directory in container /public/apps/singularity/2.5.2/var/singularity/mnt/final/home/amymariecampbell: Operation not supported

It's quite late here now so I'll log off but will keep thinking/ trying in the morning! Thanks again!

[2021-03-05 01:06] rpetit3 commented on #196
Bummer!

I think since we got this far, it might be worth checking with Penguin Support (https://pod.penguincomputing.com/account/support) to see if they have experience with Nextflow on their cluster. They might recognize that error message.

Otherwise I'm happy to continue helping.

[2021-03-05 10:29] vertisAG opened #200 "bactopia bowtie2 ERROR"
Hi,
I installed bactopia on my Linux system (Rhel 7)
In advance I have updated conda:
conda info
     active environment : bactopia
    active env location : /home/bcl2fastq/anaconda3/envs/bactopia
            shell level : 3
       user config file : /home/bcl2fastq/.condarc
 populated config files : /home/bcl2fastq/.condarc
          conda version : 4.9.2
    conda-build version : 3.20.5

[2021-03-05 12:49] rpetit3 commented on #200
Hi @vertisAG

There is currently and issue with Bowtie2 on Bioconda. The solution is to downgrade`tbb`. In your bactopia environment run the following:
[code]

More details are avaialble here https://github.com/bactopia/bactopia/issues/199#issuecomment-790793213 and  https://github.com/bioconda/bioconda-recipes/pull/27174

Let me know if this doesn't work!

[2021-03-05 13:55] rpetit3 opened #201 "[bug] bactopia dataset bowtie2 error"
There is currently and issue with Bowtie2 on Bioconda. The solution is to downgrade `tbb`. In your bactopia environment run the following:
[code]

More details are avaialble here https://github.com/bactopia/bactopia/issues/199#issuecomment-790793213 and  https://github.com/bioconda/bioconda-recipes/pull/27174

Let me know if this doesn't work!

[2021-03-07 05:10] haruosuz opened #202 "ClonalFrameML"
Thank you for suggesting `--skip_clonalframe` in
https://github.com/bactopia/bactopia/issues/100

In [Bactopia Tools - pirate](https://bactopia.github.io/bactopia-tools/pirate/), [Input for ClonalFrameML](https://github.com/xavierdidelot/clonalframeml/wiki#input) `alignment.fa` is a copy of `core_alignment.fasta` produced by PIRATE?
[code]

If [PIRATE](https://bactopia.github.io/bactopia-tools/pir

[2021-03-08 10:10] vertisAG commented on #200
Dear @rpetit3

Problem solved - many thanks!

[2021-03-08 10:10] #200 closed

[2021-03-08 15:16] emankhalaf commented on #137
@rpetit3
Hello, I am wondering if you could help me to understand the meaning of p-match and p-query since I am confused in interpreting the taxonomy for some strains.
Also, is the higher the p-match the more confidence in the top hit? could we use low p-match as an indicator for contamination, when combined with the genome size
Your help is much appreciated!
Eman

[2021-03-09 13:31] rpetit3 commented on #198
Hi @haruosuz

I've added this in https://github.com/bactopia/bactopia/commit/82d0b57712847477ef5ea0335c13e28d51eddc9d and it will be in the next version.

You will be able to give `--assembler unicycler` to use Unicycler on Illumina only read sets.

[2021-03-09 13:31] rpetit3 commented on #202
Thank you for bringing this to my attention! I will see if I can implement this into the Roary/PIRATE tools.

[2021-03-09 16:51] emankhalaf commented on #137
@rpetit3
Also, if p-match is 100%, does that mean it is exactly the same strain?

[2021-03-09 17:14] rpetit3 commented on #137
Hi @emankhalaf

I'm not an expert on sourmash, and really couldn't find detailed information about `p_match` and `p_query`. The closest I could find was this https://github.com/dib-lab/sourmash/issues/1289.  It would probably be best to reach out to them for clarification (https://github.com/dib-lab/sourmash).

To attempt to answer your question, I think its best to take the results of mash and so

[2021-03-09 18:36] emankhalaf commented on #137
@rpetit3
Thank you! I am using files of kmer21,31,51 for taxonomic identification since I could not open sourmash/mash files, do they contain different results from those of kmer files? and what is the easiest way to open them?
Also, you suggested using GTDB for further investigation, is not it already integrated into bactopia pipeline?
Anyway, I will try GTDB, genome grist, and see how it goes? H

[2021-03-09 18:44] rpetit3 commented on #137
The sourmash (.sig) and mash (.msh) files are a sketch of your assembly, so no need to open those.

I have a Bactopia Tool for it.  The database required is too big to make it apart of the standard pipeline.

Most definitely!

[2021-03-16 12:02] telatin opened #203 "[bug] help running bactopia"
**Description**
Pipeline exits prematurely without error,s, in the `logs/fastq_status/fastq_status.err` I find:

[code]

**Steps to Reproduce**

[code]

**Expected Behavior**
I'm trying bactopia for the first time (but I already love it)

**Execution Environment**
Using a VM with Ubuntu (64 cores, 80 Gb RAM), I installed bactopia as follows

- Bactopia Version: **bactopia 1.6.1**
- OS: Ubuntu 16.0

[2021-03-16 14:01] rpetit3 commented on #203
Hi @telatin! Thanks for trying out Bactopia! I'm going to see if I can reproduce this one, and get it fixed.

In the meantime, if don't think there are any issues with your input FASTQs, you can can use `--skip_fastq_check`. It's mostly a sanity check and helpful dealing with ENA/SRA data.

[2021-03-17 14:43] siwei-deng opened #204 "Error executing process fastq_status"
Hi,

I'm running Bactopia but always have errors when it starts processing. The error message is [here](https://github.com/bactopia/bactopia/files/6157180/error.txt).

This is how I install and run:
[code]

The Linux machine is Ubuntu 20.04.

Thank you for any help!

[2021-03-17 15:40] rpetit3 commented on #204
Hi @siwei-deng! This looks like aduplicate of https://github.com/bactopia/bactopia/issues/203.

I'm going to get that fixed and push a new version today.

In the meantime, if don't think there are any issues with your input FASTQs, you can can use `--skip_fastq_check`.

[2021-03-17 15:46] rpetit3 commented on #204
Disregard the previous comment, this is different:

EDIT: This looks different
[code]

This is due to the input FASTQs not being compressed, when they are expected to be.

[code]

The easiest would be to compress your FASTQs

However, I think being able to start analysis with incorrect inputs is a bug that I should fix. So, I'm going correct this and either force a check before starting analysis o

[2021-03-18 14:58] siwei-deng commented on #204
Thanks for @rpetit3 comments! That's all fixed!

[2021-03-18 14:58] #204 closed

[2021-03-19 08:16] AaronHY opened #205 "[bug]Get stuck in minmer_query"
**Description**
A description of the bug you are experiencing.

I have tried to run the whole pipeline and get stuck in the process of minmer-query as below. Please help with it. Thanks in advance.

[code]

**Steps to Reproduce**
Steps to reproduce the behavior:
[code]

**Expected Behavior**
A description of what is expected to happen.

**Execution Environment**

- Bactopia Version: [output from `

[2021-03-19 13:00] rpetit3 commented on #205
Hi @AaronHY

Let's see if we can get this figured out.

What was the original command used?

Thanks!

[2021-03-19 14:05] telatin opened #206 "[bug] amrfinder database version"
**Description**
AMR finder fails complaining about the database version:
[code]

**Steps to Reproduce**
Steps to reproduce the behavior:
[code]

**Expected Behavior**
A description of what is expected to happen.

**Execution Environment**

- Bactopia Version: **bactopia 1.6.1**
- OS: **"Ubuntu 16.04.4 LTS"**
- Environment: Ubuntu VM with Conda

**Additional Information**
Hello @rpetit3 !
I'm sorry

[2021-03-19 14:10] rpetit3 commented on #206
Not a problem at all!

Looks like AMRFinder+ is making some changes, is starting to associate DB to program version more often now. Haha they got me right around ~v1.6.0 last time

I'm going to get this fixed today (as well as your other one) and push a version update.

[2021-03-19 14:16] telatin commented on #206
Many thank for this incredibly quick reply :)
Do you have a recommended "stable" release to get started?

[2021-03-19 15:17] rpetit3 commented on #203
Good news, this should be fixed https://github.com/bactopia/bactopia/commit/1da277b8c373338e1acd666bea4955e91ddf044c

It will be the next version (v1.6.2)

[2021-03-19 15:19] rpetit3 commented on #206
This will be fixed the next version (v1.6.2), but it doesn't fix the root cause. Will push update once CI passes

I've reached out to the AMRFinder+ team (https://github.com/ncbi/amr/issues/51) to see if there are alternatives methods to deal with this.

[2021-03-19 18:59] rpetit3 commented on #206
I released v1.6.2, and it should be available on Bioconda soon.

So here's what happened. I use AMRFinder+ in two spots with bactopia. The version of AMRFinder+ that downloaded the database (`bactopia datasets`) was not the same version used in the Bactopia analysis.

I'm going to start thinking of a more permanent solution, but v1.6.2 should resolve this issue for the time being.

Going to close

[2021-03-19 18:59] #206 closed

[2021-03-19 19:00] rpetit3 commented on #203
I've released v1.6.2, which should fix this issue. Please feel free to reopen if it doesn't! Thank you for your help!

[2021-03-19 19:00] #203 closed

[2021-03-19 19:01] rpetit3 commented on #198
I've released v1.6.2, which will allow you to use unicycler on Illumina reads only.

Please let me know if there are any issues. I'm going to close this for now. Thank you for your suggestion!

[2021-03-19 19:01] #198 closed

[2021-03-20 02:50] haruosuz commented on #198
Thank you. To process multiple samples (only paired-end reads `_R1.fastq.gz` `_R2.fastq.gz` for each sample) using Unicycler, Could I run Bactopia as follows?
[code]

References
https://bactopia.github.io/tutorial/#local-samples
https://bactopia.github.io/tutorial/#paired-end
https://bactopia.github.io/tutorial/#multiple-samples-fofn
https://github.com/bactopia/bactopia/blob/master/README.md#quick

[2021-03-20 02:52] rpetit3 commented on #198
Yep! Once v1.6.2 is available on BioConda that should work.

[2021-03-21 04:28] AaronHY commented on #205
Thanks for the prompt response. Actually the issue I mentioned before has been solved by updating the datasets. But I met a new one as below. I have updated the software ncbi-amrfinderplus and also checked its version is already 3.10.1 in the Bactopia env. I have no idea why this error happens. Your help will be very much appreciated.

Command error:
  Running: amrfinder -n SRR10018193.ffn -d amrf

[2021-03-21 15:53] rpetit3 commented on #205
Ah, we just discovered this one here: https://github.com/bactopia/bactopia/issues/206

It will be fixed in v1.6.2. which has been released and should be on Bioconda soon.

I think it you want to move forward and not wait for v1.6.2, you can downgrade the amrfinder+ program version in the bactopia environment.

[code]

Then redownload the amrfinder dataset.

[2021-03-22 10:11] embatty opened #207 "[bug] sequence_type process fails for Acinetobacter"
**Description**
MLST typing fails due to an extra column in the allelic profiles for Acinetobacter baumannii.

**Steps to Reproduce**
Run bactopia using the default Acinetobacter baumannii datasets, and it fails during the sequence_type task with the following error:
[code]

I think the error is because the [Acinetobacter baumannii Oxford MLST profiles](https://pubmlst.org/bigsdb?db=pubmlst_abauma

[2021-03-22 13:08] rpetit3 commented on #207
Thanks for bringing this up! I'll get this fixed and updated soon

[2021-03-22 15:01] rpetit3 commented on #207
Thanks again @embatty for bringing this up. I'm sorry you ran into the error, but also kind of glad!

I wasn't aware some profiles included a `species` column. I'm going to make some changes to first fix your error, but more importantly include the values for the `clonal_complex` and `species` columns in the results. At the moment they are tossed, and that seems pretty annoying to have to go back

[2021-03-22 18:21] ameynert opened #208 "[bug]"
**Description**
Dataset building fails on setting up card Ariba dataset step.

**Steps to Reproduce**
Steps to reproduce the behavior:
[code]

**Expected Behavior**
Datasets downloaded and built.

**Execution Environment**

- Bactopia Version: 1.6.2
- OS: Ubuntu
- Environment: conda, SGE cluster

**Additional Information**

Command line output
[code]

[2021-03-22 18:40] rpetit3 commented on #208
Hi @ameynert

This looks very similar to https://github.com/bactopia/bactopia/issues/113

Can you verify the version of ariba? I think something like this
[code]

[2021-03-23 01:56] rpetit3 commented on #208
I updated the Bactopia recipe so that older Ariba versions will no longer be installed. https://github.com/bioconda/bioconda-recipes/pull/27511

In the meantime you can update ariba
[code]

[2021-03-23 02:55] rpetit3 commented on #207
Ok submitted a fix: https://github.com/bactopia/bactopia/commit/1b1f0f5bd0f76521dbe135c87ce43097bbfa3d86

Also added extra fields to the output:
[code]

I'm going to test some more and likely push a version update in the next few days

[2021-03-23 06:57] haruosuz commented on #155
[6268884.zip](https://github.com/bactopia/bactopia/files/6187492/6268884.zip)

I'm attaching log files when Installation and Build Dataset was done using:
[code]

This created a folder ./datasets but did not build datasets such as `plasmid` and `minmer` as follows:
[code]

I checked versions as follows:
[code]

[2021-03-23 12:15] rpetit3 commented on #155
Your datasets command was affected by this https://github.com/bactopia/bactopia/issues/208 . What happened was conda selected an older version of Ariba that fails on downloads from CARD. I've updated the Bactopia recipe so that only the newest version of Ariba is always chosen. (https://github.com/bioconda/bioconda-recipes/pull/27511)

`bactopia tools --h`
I don't like the output of that. You aske

[2021-03-23 13:37] AaronHY commented on #205
Thanks again. I have reinstalled the bactopia env and still stuck in the process of antimicrobial_resistance. But now the error seems different as below. Shall I still need to downgrade the ncbi-amrfinderplus and redownload the amrfinder dataset?

Command error:
  .command.sh: line 40:  1152 Aborted                 (core dumped) amrfinder -n SRR10247458.ffn -d amrfinderdb/ -o antimicrobial-resista

[2021-03-23 13:42] ameynert commented on #208
Thank you @rpetit3 for the quick response - can confirm that updating to 2.14.6 fixed the problem.

[2021-03-23 14:19] rpetit3 commented on #205
AMRFinder+ looks ok now. What type of system are you running on?

[2021-03-23 14:19] rpetit3 commented on #208
Great! I'm going to go ahead and close this, please feel free to reopen

[2021-03-23 14:19] #208 closed

[2021-03-23 14:29] haruosuz commented on #155
Thank you for your advice. Installation was done again, then `bactopia datasets` built the following datasets:
[code]

[2021-03-24 04:28] haruosuz opened #209 "Tutorial - De novo Assembly"
https://bactopia.github.io/tutorial/

I'm working through the tutorial.
[code]

Does the above commands also perform De novo Assembly as well as Quality Control?

After running the commands, FASTQs from the SRX4563634 sample were not found in `./ena-single-sample/SRX4563634/quality-control/SRX4563634*.fastq.gz` but in the `./work/bactopia/` directory as follows:

[code]

[2021-03-24 09:31] rpetit3 commented on #209
Hi @haruosuz

Going to look into this. In the mean time is there any useful messages in this file?
[code]

I'm going to test locally as well

[2021-03-24 09:56] haruosuz commented on #209
Here are messages:
[code]

[2021-03-24 10:04] rpetit3 commented on #209
Hmmm, that's causing problems again (https://github.com/bactopia/bactopia/issues/203). I thought I fixed, but looks like I didn't.

Working on it now, will update soon.

[2021-03-24 12:07] rpetit3 commented on #209
I'm not able to reproduce locally.

What OS/setup are you running on? I'm wondering if there's a way to verify the Python3 version that's being used.

[2021-03-24 12:20] haruosuz commented on #209
My environment is as follows:
[code]

[2021-03-24 12:27] rpetit3 commented on #209
How about this:
[code]

I think I found my issue. The conda environment (https://github.com/bactopia/bactopia/blob/master/conda/linux/qc_reads.yml) used by `fastq_status` doesn't include python3 so it becomes unpredictable which version is being used.

I'm going to update this yaml to include an install of Python3

[2021-03-24 12:30] haruosuz commented on #209
Output is as follows:
[code]

[2021-03-24 12:31] rpetit3 commented on #205
Was able to reproduce your error.
[code]
Looking into it now.

[2021-03-24 14:55] AaronHY commented on #205
The system I used before is WSL Ubuntu. Today I have changed to use WSL2 Ubuntu and problem seems reproduced as below.
What system would you suggest to use for this pipeline? I also wonder if it will be possible to skip the process of amrfinder. Thanks indeed.

Command error:
  .command.sh: line 40: 30682 Aborted                 amrfinder -n SRR10232164.ffn -d amrfinderdb/ -o antimicrobial-resista

[2021-03-24 14:55] AaronHY commented on #205
The system I used before is WSL Ubuntu. Today I have changed to use WSL2 Ubuntu and problem seems reproduced as below.
What system would you suggest to use for this pipeline? I also wonder if it will be possible to skip the process of amrfinder. Thanks indeed.

Command error:
  .command.sh: line 40: 30682 Aborted                 amrfinder -n SRR10232164.ffn -d amrfinderdb/ -o antimicrobial-resista

[2021-03-24 19:39] rpetit3 commented on #205
Something seems to have changed between AMRFinder+ 3.9.8 and 3.10.1. I'm working on a solution and will hopefully have news soon.

[2021-03-25 00:27] #111 closed

[2021-03-25 21:45] rpetit3 commented on #205
Great news @AaronHY I figured out what was happening.

When a new Bactopia environment was built it is very likely to to include BLAST+ v2.11.0 or v2.10.1. In these versions of BLAST, `makeblastdb` (used by AMRFinder+ when you ran `bactopia datasets`) builds a Version 5 BLAST database.

Now, when you ran bactopia, the conda environment for `antimicrobial_resistance` had BLAST v2.9.0 in it which I'

[2021-03-26 13:15] rpetit3 commented on #205
@AaronHY I've released v1.6.3 which hopefully will take care of this situation. After you update to v1.6.3, you might have to remake the AMRFinder+ database.

[code]

Please let me know if the problem persists

[2021-03-26 13:17] rpetit3 commented on #209
Hi @haruosuz

I released v1.6.3 which adds a Python3 to the `fastq_status` environment, so that which Python3 version being used should be known now.

Let me know if this doesn't fix your problem!

Thank you!
Robert

[2021-03-26 13:18] rpetit3 commented on #207
Hi @embatty

I released v1.6.3, which includes the changes to `mlst-blast`. I think this should take care of things for you.

Please let me know if not.

Thank you!
Robert

[2021-03-26 13:33] rpetit3 commented on #201
This should no longer be an issue as of v1.6.3

[2021-03-27 00:57] haruosuz commented on #209
Thank you @rpetit3

I installed v1.6.3. Attached is a bash script *pbs.bactopia.sh* to run the tutorial commands. There may be some issue, as shown in *pbs.bactopia.sh.o6273999*:
[code]
[6273999.zip](https://github.com/bactopia/bactopia/files/6214901/6273999.zip)

[2021-03-27 01:09] rpetit3 commented on #209
[code]

Seems like we did fix the original issue.  But now looks like it popped up else where. The issue is with f-strings, which would cause an error on Python<v3.6. I will need to add Python3 to `antimicrobial_resistance` environment.

Are you submitting jobs to a cluster?

[2021-03-27 01:10] haruosuz commented on #209
yes, I am submitting jobs to a cluster.

[2021-03-27 01:43] rpetit3 commented on #209
I'm going to get a fix of python3 done tonight (my time).

Would you be interested in working together setting up a profile for your cluster? See [PBS Executor](https://www.nextflow.io/docs/latest/executor.html#pbs-torque)

Here's an example: https://github.com/bactopia/bactopia/issues/196#issuecomment-790683929

[2021-03-28 03:29] rpetit3 commented on #209
I released v1.6.4 which should hopefully fix this

[2021-03-28 07:39] haruosuz commented on #209
Dear @rpetit3
[6274095.zip](https://github.com/bactopia/bactopia/files/6216978/6274095.zip)

I installed v1.6.4, and then submitted the job using `qsub pbs.bactopia.sh`. There are error messages in `pbs.bactopia.sh.o6274095`. As shown in the `my.find.ena-single-sample.txt` file, the `ena-single-sample/SRX4563634/assembly` directory was not created by v1.6.4, while it was created by v1.6.3.

[2021-03-28 10:14] AaronHY commented on #205
Bravo👍My best honored to have a try at first.  it is working smoothly for the quick start. But by following the Tutorial, I met some error  suggesting " Species 'Staphylococcus aureus' not available". Actually, I follow the tutorial and cp the species specific folder to the datasets by directly using the posted script. Shall I need to change something? I found some minor difference between the nam

[2021-03-28 13:07] rpetit3 commented on #205
In the `datasets` folder.

Could you post the contents for the `summary.json`? As well as `find` command?

[2021-03-28 13:16] rpetit3 commented on #209
I apologize. When I updated the Conda environments to include python 3.6+, SOurmash was upgraded to v4.0.0 which changed its command line arguments.

I will get this fixed asap

[2021-03-28 13:20] AaronHY commented on #205
Yes, I am aware of that I didn't built e dataset and thus I do it. I am still stuck in downloading the amrfinder (bactopia) datasets.

aaronhy@DESKTOP-1G27M0I:/mnt/e/labwork/bactopia-tutorial$ bactopia datasets   --species "Staphylococcus aureus"     --include_genus     --cpus 4
2021-03-28 21:10:47:root:INFO - Staphylococcus aureus verified in ENA Taxonomy database
2021-03-28 21:10:47:root:INFO -

[2021-03-28 13:35] rpetit3 commented on #205
Bah, still having issues. I think I've seen something like this before.

Do you mind providing some details about your bactopia environment? I'm interested to see the AMRFinder+ version as well as curl libraries that were installed. Here are mine:
[code]

[2021-03-28 13:43] AaronHY commented on #205
Mine is ：
ncbi-amrfinderplus=3.10.1=h671e170_0

 - curl=7.75.0=h979ede3_0
  - libcurl=7.75.0=hc4aaa36_0

they seems same as yours.

[2021-03-28 13:49] rpetit3 commented on #205
Just curious, try rerunning the `bactopia datasets` command again. I reran, it and it worked this time. Given the issue was related to curl, I wonder if it was a temporary download issue for us

[2021-03-30 18:39] ameynert opened #210 "[bug] minmer_query failing on sourmash command"
**Description**

Fresh install of bactopia & build of datasets, testing on a single sample. Fails on minmer_query with unrecognized arguments to sourmash.

[code]

**Steps to Reproduce**

[code]

**Expected Behavior**
A description of what is expected to happen.

**Execution Environment**

- Bactopia version 1.6.4
- OS Linux, local executor
- Conda

**Additional Information**

I got fairly far wit

[2021-03-30 19:00] ameynert commented on #210
This is fixed by manual editing in of the changes here: https://github.com/bactopia/bactopia/commit/6a58f8f5356f0ac680aece5eb98c578841a35eae

[2021-03-30 21:06] ameynert commented on #210
Removing line 42 `--coverage !{params.prokka_coverage} \` from annotate_genome.sh has got me farther. Now Prokka wants blastp at least version 2.2, even though it's already got 2.11. It's a bug in the tool version checking in Prokka 1.13.

[code]

Upgrading Prokka as suggested: https://github.com/tseemann/prokka/issues/544 - trying a straight `conda install -c bioconda prokka=1.14.6` failed, conda

[2021-03-30 22:18] rpetit3 commented on #210
Hey that's great news!

I've fixed the sourmash 4.0.0 issues here https://github.com/bactopia/bactopia/commit/6a58f8f5356f0ac680aece5eb98c578841a35eae as well as the Prokka 1.14.6 here https://github.com/bactopia/bactopia/commit/47668d4b720ca082e1572a49896d0345c6b601d5

Haha you caught Bactopia in a turbulent time dealing with changes in the conda envs. To help deal with this in the future I've pi

[2021-03-31 17:27] rpetit3 commented on #209
Good news, I think everything is fixed with v1.6.5

[code]

[2021-04-01 04:56] haruosuz commented on #209
Thank you @rpetit3
Running the tutorial commands on v1.6.5 created the **ena-single-sample/SRX4563634/assembly/** directory.

I wonder if FASTA header `_Circ_pilon` in the **skesa.fasta** file indicates circular elements (e.g. plasmids) closed by Pilon?
https://github.com/broadinstitute/pilon/releases/
[code]

In the following page (https://bactopia.github.io/output-overview/#assembly), `cointigs.

[2021-04-01 13:52] rpetit3 commented on #209
Bactopia has an additional renaming to add the sample name and other metadata, to the contig header and also orders the contigs by length. But `cointigs.fa` is a typo in the docs. it should be `${SAMPLE_NAME}.fna`, I will correct that.

Original
[code]

Final Renamed
[code]

As for your question, does `Circ` mean plasmid or not. I did a quick check and it looks like the `Circ` was added by SKESA (

[2021-04-01 16:01] haruosuz commented on #209
Thank you @rpetit3. Yes, it would be useful if bactopia can identify circular elements (chromosome or plasmids).

For sample "SRX4563634" used in bactopia-tutorial, one contig was annotated as "Circ" by SKESA, while none was annotated as "circular=true" by Unicycler.
[code]

For sample "SRX738007", one contig was annotated as "Circ" by SKESA, while two contigs were annotated as "circular=true" by

[2021-04-01 16:05] rpetit3 commented on #209
I'll get look to keeping Circular info in the final renamed contigs.

I think it would be best to set up a profile for your cluster, and am happy to help out with it.

[2021-04-11 14:25] emankhalaf commented on #137
@rpetit3

Hello,
I am trying to install local databases to match the assembled genomes. I tried BLAST+  as follows:

download BLAST+ packages via https://ftp.ncbi.nlm.nih.gov/blast/executables/LATEST/
#Then installation

$tar zxvpf ncbi-blast-2.11.0+-x64-linux.tar.gz

#for configuration $export PATH="/home/eman/miniconda2/bin:$PATH" $export PATH="/home/eman/ncbi-blast-2.11.0+/bin:$PATH" $export BL

[2021-04-12 00:03] emv6 opened #211 "bactopia datasets issue when setting up vfdb_core Ariba dataset"
Hi,

I have recently installed Bactopia on a cluster and the installation with conda occurred with no issues. But when I tried to complete the next step of installing the databases I get the following error with the command bactopia datasets

[code]

I have tried to deactivate the conda environment and activate bactopia again and this error proceeds. Any help anyone can give will be greatly apprec

[2021-04-12 12:31] rpetit3 commented on #211
It might have been an connection issue with VFDB, do you still get the error?

If it persists you can use `--ariba card` to skip downloading VFDB datasets.

[2021-04-12 13:09] rpetit3 commented on #137
I would suggest just install it via conda.
[code]

But if there's a reason not to, something looks weird with the PATH,  a lot of things (`/bin:/usr/bin:/usr/local/bin` etc...) are missing.
[code]

Maybe try, without the quotes
[code]

[2021-04-12 21:48] emv6 commented on #211
Yes it does seem to be an issue with the connection to the database but our IT department is looking into why we can't seem to access this database. I tried your solution --ariba card and the databases install successfully so it just seems to be an issue with the VFDB. Thanks for your help

[2021-04-13 13:36] rpetit3 opened #212 "[bug] WARN: Unable to resume cached task -- See log file for details"
**Description**
Nextflow's resume (`-resume`) function is not working

**Steps to Reproduce**
Steps to reproduce the behavior:
[code]

**Expected Behavior**
Pipelines should resume where they left off at

**Execution Environment**

- Bactopia Version: 1.6.5
- OS: Debian 10
- Environment: SLURM

**Additional Information**
I messed with the work directory, that might be the cause.

[2021-04-13 15:34] rpetit3 opened #213 "[feature] --min_coverage parameter"
**Related To**

- [x] Bactopia
- [ ] Bactopia Tools

**Is this something you would like to see added?**
There should me a `--min_coverage` parameter. At the moment you have to use `--min_basepairs` and do the math.

**Describe the solution you'd like**
`--min_coverage 10` instead of `--min_basepairs 28000000`

[2021-04-13 15:34] rpetit3 commented on #213
https://github.com/bactopia/bactopia/commit/784a36d047d79fdd15afb178e2c7cbbea0add0c6

[2021-04-13 15:34] #213 closed

[2021-04-13 15:36] emankhalaf commented on #137
@rpetit3
it worked when I tried
$ perl /home/eman/ncbi-blast-2.11.0+/bin/update_blastdb.pl --passive --decompress 16S_ribosomal_RNA

but when tested as posted on blast website, gave me an error
$blastdbcmd -db 16S_ribosomal_RNA -entry nr_025000 -out 16S_query.fa
I got this
BLAST Database error: Error: Not a valid version 4 database.

I am wondering, it is 16SrRNA database but I want to blast assem

[2021-04-14 11:24] emankhalaf commented on #137
@rpetit3
Something I need to confirm when using 16S databases like BLAST+, kraken2, so that means I am assigning the taxonomy of a whole bacterial genome (assembled)  based on matches with the 16S gene sequence??? If that is true, is there any other public databases to assign the taxonomy of assembled genomes? I am stuck and need help.

Best,
Eman

[2021-04-14 12:29] rpetit3 commented on #137
```BLAST Database error: Error: Not a valid version 4 database```

I'm not sure how to handle this error. I know at version 2.10 BLAST+ switched from V4 to V5 as the default database.

BLAST's 16S database is only going to classify based on the 16S rRNA gene, Kraken2 is going to classify based on k-mers from the whole genome.

You can try GTDB for classification: https://bactopia.github.io/bactopi

[2021-04-14 13:17] emankhalaf commented on #137
@rpetit3

bactopia tools gtdb \
    --bactopia Asaia_platycodi_19307BG_73441ASM_21v1 \         #name of the folder including bactopia output (--R1,--R2)
    --gtdb datasets/gtdb/db \                                                       #I checked the folder of the database and did not find gtdb/db
    --exclude bactopia-tools/summary/bactopia-exclude.txt \
    --cpus 4

# I got this error:
Please

[2021-04-14 13:46] emankhalaf commented on #137
@rpetit3

Also, I ran this (as you sent)

bactopia tools gtdb \

2021-04-14 09:02:13:root:INFO - Found /home/eman/miniconda3/envs/bactopia//share/bactopia-1.5.x/tools/gtdb/environment-linux.yml, begin build to /home/eman/miniconda3/envs/bactopia//share/bactopia-1.5.x/conda/envs/tools-gtdb-1.5.x
N E X T F L O W  ~  version 20.10.0
Launching `/home/eman/miniconda3/envs/bactopia/share/bactopia-1.5.x/

[2021-04-14 14:18] jellyvanderwoude opened #214 "Issue with nucmer dependency on Bactopia v1.6.5"
I ran into an issue with creating the datasets on v.1.6.5 that I didn't have previously on v1.6.1. Looks like a similar error that some people have run into with bowtie2/ tbb in previous versions of Bactopia:

"(bactopia) bio-24046:bactopia-folder jvanderwoude3$ bactopia datasets
2021-04-14 10:11:33:root:INFO - Setting up Ariba datasets
2021-04-14 10:11:33:root:INFO - Setting up vfdb_core Ariba da

[2021-04-14 14:23] jellyvanderwoude commented on #214
It seems when I hunt down the nucmer file in miniconda>envs>bactopia>bin and open it, I get this in the Terminal:

/Users/jvanderwoude3/miniconda3/envs/bactopia/opt/mummer-3.23/nucmer ; exit;
(base) bio-24046:~ jvanderwoude3$ /Users/jvanderwoude3/miniconda3/envs/bactopia/opt/mummer-3.23/nucmer ; exit;
-bash: /Users/jvanderwoude3/miniconda3/envs/bactopia/opt/mummer-3.23/nucmer: /usr/local/bin/perl:

[2021-04-14 14:25] rpetit3 commented on #214
Ah, well that's weird. What's the shebang line (`head -n 1 /Users/jvanderwoude3/miniconda3/envs/bactopia/opt/mummer-3.23/nucmer`), look like?

[2021-04-14 14:26] jellyvanderwoude commented on #214
#!/usr/local/bin/perl

[2021-04-14 14:28] jellyvanderwoude commented on #214
Not sure if this is helpful it's a bit above my head
https://stackoverflow.com/questions/17131249/how-to-solve-bad-interpreter-no-such-file-or-directory/17131267

[2021-04-14 14:34] rpetit3 commented on #214
I think this is something that needs to be fixed in the mummer bioconda recipe. It should use perl installed from conda.

You have to options: 1. skip ariba all together, or 2: edit the shebang line in nucmer

skip ariba:
Just add `--skip_ariba` to the bactopia datasets command

Edit Nucmer shebang:
Verify `/Users/jvanderwoude3/miniconda3/envs/bactopia/bin/perl` exists and if so replace `/usr/loca

[2021-04-14 15:00] jellyvanderwoude commented on #214
This seems to have done the trick, thanks!

[2021-04-14 19:10] jellyvanderwoude commented on #214
Just so others know- there are multiple nucmer perl executable files in different folders corresponding to different tasks (sequence_type, ariba_analysis) and they will all have to be changed as above in order for the code to run

[2021-04-14 19:10] #214 closed

[2021-04-15 00:50] rpetit3 commented on #214
Curious, is perl installed on your system?

[2021-04-15 15:08] ahmedmagds commented on #111
@rpetit3 been a long time but I am currently working on the download script and we should discuss soon.

[2021-04-15 17:40] jellyvanderwoude commented on #214
oh you know what, I'm using a brand new computer in the lab, so I don't believe so. That would probably explain why the perl doesn't run when it's linked outside Bactopia.

[2021-04-22 22:54] #211 closed

[2021-04-22 22:54] emv6 commented on #211
This issue has been fixed now

[2021-04-27 04:26] rpetit3 commented on #58
This is done (https://github.com/bactopia/bactopia/blob/master/tools/staph-typer/README.md) and will be in the next version of Bactopia.

[2021-04-27 04:26] #58 closed

[2021-04-27 04:27] #201 closed

[2021-04-27 04:27] rpetit3 commented on #210
This should no longer be an issue in v1.6.5, if it is please feel free to reopen

[2021-04-27 04:27] #210 closed

[2021-04-27 04:28] rpetit3 commented on #207
Going to close, feel free to reopen

[2021-04-27 04:28] #207 closed

[2021-04-27 04:29] rpetit3 commented on #205
This should be fixed now, if not please feel free to reopen.

[2021-04-27 04:29] #205 closed

[2021-04-29 01:22] mdhfz89 opened #215 "Error during process 'assemble_genome' - segmentation fault?"
Hi,

I am trying to use bactopia with 2 samples (i have qc-ed llumina and nanopore fastq so I am using the hybrid assembly option here) but keeps exiting with an error during the assembly step. The log file in the `work/bactopia/d9/a82e36c9e1ed96e708782365a3877f` folder shows this but I'm not too sure what the problem is either.

/datadrive03/hafiz/data/kemin/bactopiaAnalysis/work/bactopia/d9/a82e

[2021-04-29 01:26] rpetit3 commented on #215
Hi @mdhfz89

Let's see if we can get this figured out. Is there anything in `/datadrive03/hafiz/data/kemin/bactopiaAnalysis/work/bactopia/d9/a82e36c9e1ed96e708782365a3877f/` we can use? There might be a folder `assemble_genome` or `logs` that might have log files in it.

[2021-04-29 01:48] mdhfz89 commented on #215
Hi,

I found 3 files in the assemble_genome folder but the unicycler.err file is empty. I can't upload the .err file since its empty and I had to append a .txt at the end to be able to upload these. Thank you for helping me figure out whats going on.

[assemble_genome.versions.txt](https://github.com/bactopia/bactopia/files/6395820/assemble_genome.versions.txt)
[unicycler.out.txt](https://github.c

[2021-04-29 01:57] rpetit3 commented on #215
I think I have some illumina with matching nanopore data that I can test on my end. Hopefully this can help us narrow it down.

[2021-04-30 03:14] rpetit3 commented on #215
I was unable to replicate using my data

[code]

Do you think you could try running unicycler directly? Also, would you be up for trying the singularity images and maybe even creating a profile for your cluster? (I can help with that)

[2021-04-30 04:21] mdhfz89 commented on #215
Hi Robert,

I don't have sudo access in the server I'm in so I can't install either docker or singularity. I'll give running unicycler directly a shot. With regards to this, if I run bactopia using an assembly (the unicycler output), would the output be as complete as if I run bactopia with the fastq reads? Is it possible to run bactopia with an assembly and yet also provide the fastq reads as wel

[2021-05-03 23:57] uloeber opened #216 "[bug] bactopia v 1.7.0 gtdbtk v 1.5.0"
Hi @rpetit3 ,
It seems that updating bactopia to v 1.7.0 triggers a downgrade of gtdbtk

`conda install -c bioconda bactopia==1.7.0`
`gtdbtk                                 1.5.0-pyhdfd78af_0 --> 1.0.2-py_2`

while updating gtdbtk to v 1.5.0 triggers a bactopia downgrade

`conda install -c bioconda gtdbtk==1.5.0 `
`bactopia                                 1.7.0-hdfd78af_0 --> 1.5.6-0`

gtdbtk 1.5.

[2021-05-04 00:58] rpetit3 commented on #216
Hi @uloeber! Hope all is well for you!

I think it might be best to use the Bactopia Tool for GTDB (`bactopia tools gtdb`) since it won't create conflicts.

But looking at that I will need to push the GTDB version from 1.4.0 to 1.5.0 on the bactopia tool. I'll get that put into 1.7.1 and push it soon.

Also heads up, I'm probably going to start recommending to use [Mamba](https://github.com/mamba-

[2021-05-04 01:01] rpetit3 commented on #215
Apologies! Read this and forgot to follow up.

If you provide an assembly Bactopia will simulate FASTQ reads from the assembly in order to do the FASTQ based steps (e.g. Ariba's MLST and variant calling).

[2021-05-04 06:03] uloeber commented on #216
Dear @rpetit3 ,
Ah, okay, I was not aware that I installed gtdbtk alongside. I intended to use it via bactopia tools and thought there are versioning conflicts. Yes, pushing it in the next version would be great, thanks!
Best,
Ulrike

[2021-05-06 06:39] mdhfz89 commented on #215
Hi Robert,

I manged to get singularity 3.7 installed in the server. I got this message when I pulled the singularity image

`singularity pull library://rpetit3/bactopia/bactopia`

I started the bactopia image using:

`singularity shell bactopia_latest.sif`

and tried running bactopia with this script:

[code]

However I get this error:

What I also noticed is that nextflow does not really limit t

[2021-05-13 19:31] abhi18av opened #217 "[bug] Unable to install datasets"
Hi Bactopia team,

First off thanks for this wonderful tool! I have been really eager to try this out 😊

However, when I tried to setup this on a server, I ran upon a glitch. I'd like to know whether there's anything I could change to get the databases setup locally.

**Description**

The installation process for datasets fails.

**Steps to Reproduce**

[code]

**Expected Behavior**

Complete the

[2021-05-13 20:24] abhi18av commented on #217
Update: For the time being I'm making progress by using the `bactopia datasets --skip_plsdb ` option.

[2021-05-13 20:25] abhi18av commented on #201
Hey @rpetit3 , I saw that this issue is still pinned and since it has been resolved, we can allow this issue to be forgotten :)

[2021-05-14 01:19] mdhfz89 commented on #215
Hi Robert,

Just an update. I may have an inkling why bactopia was not working on either the server I had access to and on my local computer. I think it might have to do with how nextflow does not limit the number of cores that it can access using the `-qs` option. On the server, I wanted to use `--cpus 12 --max_memory 100 -qs 24` but because it still saw 72 cores, it ran 6 concurrent jobs which m

[2021-05-14 01:26] mdhfz89 commented on #215
Oh gosh my mistake. I somehow missed it before this and did not realise you had some guides on the visualisation. Anyway thanks for the help you've given.

Cheers,
Hafiz

[2021-05-14 15:22] MHargita opened #218 "error during assemble_genome"
Hey Robert,

I successfully created my datasets and then tried to run bactopia on one sample (paired end). I used the following

[code]

While running the assemble_genome process usually gets to about [75%] 3 of 4 failed: 3, retries: 3

[code]

Maybe I didn't run the bactopia command correctly, appreciate your help and feedback!

Thanks again!
Michelle

[2021-05-18 19:31] rpetit3 commented on #218
Hi Michelle!

Back in business on my end so I'm going to look into this on my end, I'll update soon.

Robert

[2021-05-18 19:33] rpetit3 commented on #217
Hi @abhi18av !

This is probably due to removing PLSDB from the main pipeline in v1.7.0. Thank you very much for bringing to my attention. I'll get a fix for it soon.

Robert

[2021-05-18 19:34] rpetit3 commented on #201
Hi @abhi18av! You're right, thanks for reminding me!

[2021-05-18 19:35] rpetit3 commented on #216
Hi @uloeber,

I'm available to start working on this, and will get an update pushed soon.

Robert

[2021-05-18 19:56] abhi18av commented on #217
Oh, I see. Happy to see that this is nothing serious :)

[2021-05-19 13:13] uloeber commented on #216
Hi @rpetit3 ,
this would be great! Thank you so much!
Ulrike

[2021-05-19 19:30] zirbez opened #219 "Calculating Genome Coverage [question]"
Hello again rpetit3!

I was curious whether there is anywhere in the output that I could find the estimated base coverage across the genome. I looked through the output documentation, and though I do not have the mapping folder, I found that at the end of the shovill text file in the assembly folder there is the following line:

[code]

I was wondering whether this would be the genome coverage for

[2021-05-20 08:40] mboum opened #220 "[bug] Unable to build datasets"
**Description**
Congrats for this new tool, curious to try out.
While I successfully installed the bactopia conda environment on my mac, when trying to run the tutorial, at the build datasets step, I ran in the following error :

**Steps to Reproduce**
bactopia datasets
2021-05-20 10:30:48:root:INFO - Setting up Ariba datasets
2021-05-20 10:30:48:root:INFO - Setting up vfdb_core Ariba dataset
Exte

[2021-05-20 14:41] mboum commented on #220
I should also add that
/Users/mbouma/anaconda2/envs/Bactopia/bin/nucmer --version

gives

-bash: /Users/mbouma/anaconda2/envs/Bactopia/bin/nucmer: /usr/local/bin/perl: bad interpreter: No such file or directory

[2021-05-26 04:32] haruosuz commented on #159
Dear @rpetit3: Is it also possible for bactopia to implement PIRATE using the exactly same options as PIRATE? (e.g. use `--pan-opt "--cd-low 98 --hsp-len 0 --flat 2"` instead of `--cd_low 98 --hsp_len 0 --mcl_inflation 2`)
[code]

Btw. This link (https://doi.org/10.1128/mSystems.00190-20) was redirected to this page (https://journals.asm.org/journal/msystems).

[2021-06-02 21:24] rpetit3 commented on #220
Hello!

Apologies for the delay in responding! I think the problem might be that nucmer is hard coded to look for Perl in `/usr/local/bin/perl`

An easy fix would be to add a symbolic link to your Perl path to `/usr/local/bin/perl`

Robert

[2021-06-02 21:32] rpetit3 commented on #219
Hi @zirbez

Sorry for the delay in response. For the assembly coverage I think the contig header has a field `cov=xxx` that has the contig coverage.

If you are looking for the estimated sequence coverage, these files (https://bactopia.github.io/output-overview/#quality-control) will have that info.

Let me know if this helps!
Robert

[2021-06-02 21:33] rpetit3 commented on #159
Hi @haruosuz

Apologies for the delay in responding, I'm going to look into this. I'll also get the link fixed, thank you for pointing it out!

Robert

[2021-06-02 21:36] rpetit3 commented on #215
Hi @mdhfz89

I'm going to close this, please feel free to reopen.

Don't hesitate to reach out with questions and feedback

Robert

[2021-06-02 21:36] #215 closed

[2021-06-02 21:39] rpetit3 commented on #218
Hi Michelle!

Do you think you could share what the FASTQ stats look like (https://bactopia.github.io/output-overview/#quality-control) should be the files that look like `${SAMPLE_NAME}(|_R1|_R2)-(original|final).json`

I'm curious what the data looks like going into the assembly step

[2021-06-03 21:15] MHargita commented on #218
Sure! I've included both _R1 and _R2

cat 172084_R1-original.json
{
    "qc_stats": {
        "total_bp": 365711128,
        "coverage": 64.8351,
        "read_total": 2421928,
        "read_min": 151,
        "read_mean": 151,
        "read_std": 0,
        "read_median": 151,
        "read_max": 151,
        "read_25th": 151,
        "read_75th": 151,
        "qual_min": 15,
        "qual_mean":

[2021-06-05 01:32] rpetit3 commented on #218
Those look really good, how about the `final` ones?

[2021-06-05 01:51] rpetit3 commented on #159
Hi @haruosuz, I've corrected the syntax to match PIRATE's (thank you for pointing that out!). It will be in the next version of Bactopia (v1.7.1)

@kusandeep - I'm going to work on adding SCOARY, thank you for suggesting it!

[2021-06-05 04:45] rpetit3 commented on #217
Hi @abhi18av

This should be fixed in v1.7.1 (https://github.com/bactopia/bactopia/releases/tag/v1.7.1)

Please feel free to reopen if not.

Thank you!
Robert

[2021-06-05 04:45] #217 closed

[2021-06-05 04:46] rpetit3 commented on #216
Hi @uloeber

v1.5.0 of GTDB should be available in the newest version of Bactopia v1.7.1 (https://github.com/bactopia/bactopia/releases/tag/v1.7.1).

Please let me know if there are any issues.

Thank you!
Robert

[2021-06-05 04:46] #216 closed

[2021-06-05 04:49] rpetit3 commented on #196
Hi @amymariecampbell

Since we haven't heard anything back from PenguinComputing, I'm going to go ahead and close this.

Please feel free to reopen and don't hesitate to reach out if there's anything you think I might be able to help out with.
Robert

[2021-06-05 04:49] #196 closed

[2021-06-05 04:58] rpetit3 opened #221 "[feature] PopPunk Bactopia tool"
**Related To**

- [ ] Bactopia
- [X] Bactopia Tools

**Is this something you would like to see added?**
I would like to see a Bactopia Tool for PopPunk (https://github.com/johnlees/PopPUNK)

[2021-06-05 16:28] abhi18av commented on #217
Thanks for the resolution @rpetit3 ! 🎉

[2021-06-07 14:35] MHargita commented on #218
cat 172084_R1-final.json
{
    "qc_stats": {
        "total_bp": 282027269,
        "coverage": 49.9992,
        "read_total": 1965915,
        "read_min": 35,
        "read_mean": 143.459,
        "read_std": 20.042,
        "read_median": 150,
        "read_max": 150,
        "read_25th": 150,
        "read_75th": 150,
        "qual_min": 15,
        "qual_mean": 39.1919,
        "qual_std": 2.0

[2021-06-08 21:27] zirbez commented on #219
No worries! I was able to pull the length from the assembly/quast report, and then divided by the reference genome length to get the coverage!

[2021-06-08 21:27] #219 closed

[2021-06-09 02:52] rpetit3 commented on #218
Well that looks great too! I'm going to hop onto ogston and see if I can figure this out

[2021-06-10 05:56] rpetit3 commented on #218
Hey Michelle!

I don't think you're going to like this, but I was able to assemble your sample. Did you run it on ogston with `-profile slurm`? I only ask because ogston has an older AMD CPU (~2009) and I've had some programs from Conda not work correctly.

Robert

[2021-06-10 09:43] mboum commented on #220
Thank you for your answer. I tried the proposed solution, but this did not resolve my problem.

With $ which perl, I found my Perl path : /Users/mbouma/anaconda2/envs/bactopia/bin/perl

So, i added a symbolic link to it in /usr/local/bin/perl

Yet, I still get the same error when running $ bactopia datasets.

Now, /Users/mbouma/anaconda2/envs/Bactopia/bin/nucmer --version

gives:
-bash: /Users/mbo

[2021-06-10 14:11] rpetit3 commented on #220
Hi!

Let's see if we can figure this out! It sounds like you did everything I would have, but can we double check?

What are the outputs of:
[code]

Also, here's a solution that worked for a previous user: https://github.com/bactopia/bactopia/issues/214#issuecomment-819566584

[2021-06-10 15:25] simone-pignotti opened #222 "[feature] Custom additional steps at the end of the main workflow"
**Related To**

- [x] Bactopia
- [ ] Bactopia Tools

**Is this related to a problem?**
Kind of: while downstream analysis of the main Bactopia pipeline is supposed to be carried out with Bactopia Tools, I am in a situation where I am using the cloud execution wrapper (see #167) to distribute the Bactopia pipeline on cloud instances, so that all the steps for a same sample are run by the same node.

[2021-06-10 15:33] mboum commented on #220
So, ls -lh /Users/mbouma/anaconda2/envs/bactopia/bin/perl

gives

-rwxrwxr-x  2 mbouma  staff   1.9M Oct 28  2020 /Users/mbouma/anaconda2/envs/bactopia/bin/perl

and

ls -lh /usr/local/bin/perl

gives

lrwxr-xr-x  1 mbouma  admin    46B Jun  3 17:16 perl -> /Users/mbouma/anaconda2/envs/bactopia/bin/perl

[2021-06-10 16:03] rpetit3 commented on #222
Hi @simone-pignotti

Great hearing from you again!  I've been thinking the same with regards to this.

I think Nextflow's DSL2 will probably take care of most of this for us by allowing the creation of modules. This would totally allow you to say "yeah use Bactopia, but also include this workflow (e.g. pirate)".

Let me look into this and I'll update soon
Robert

[2021-06-10 16:33] MHargita commented on #218
ah interesting, I've never heard of -profile slurm. Should I try and reinstall conda?

[2021-06-10 17:10] simone-pignotti commented on #222
Great to hear that! Thanks a lot :)

[2021-06-10 17:21] rpetit3 commented on #220
Thank you for doing that, I just wanted to double check.

I guess the nextstep is to install perl to `/usr/local/bin`, or find the nucmer related files and change the SHEBANG similar to https://github.com/bactopia/bactopia/issues/214#issuecomment-819566584 (not ideal, but an issue on nucmer's conda install)

[2021-06-11 04:05] rpetit3 commented on #218
@MHargita I'm going to go ahead and close this, please feel free to reopen if using SLURM doesn't fix your problem.

[2021-06-11 04:05] #218 closed

[2021-06-17 04:00] rpetit3 opened #224 "[feature] Add Bactopia to CGC and Terra"
**Related To**

- [X] Bactopia

**Is this something you would like to see added?**
I would like to see Bactopia be runnable on the [Cancer Genomics Cloud (CGC)](https://www.cancergenomicscloud.org/) and [Terra](https://terra.bio/)

**Describe the solution you'd like**
For CGC and public app will need to be created, and Terra a WDL wrapper will be needed.

Unfortunately, it might be too difficult t

[2021-06-17 04:03] rpetit3 opened #225 "[feature] Add filters to bactopia prepare"
**Related To**

- [x] Bactopia

**Is this something you would like to see added?**
Let's say I have a directory of samples (10,000+), and I only want to select a few of them. Currently with `bactopia prepare` an FOFN will be created for all samples.

Grep could be used to filter the samples you want, but that's an additional step.

**Describe the solution you'd like**
Add a `--filter` option that

[2021-06-18 14:29] rpetit3 opened #226 "[feature] Add Bactopia Tool for SeqSero2"
**Related To**

- [X] Bactopia Tools

**Is this something you would like to see added?**
I would like to see a Bactopia Tool for SeqSero2 (https://github.com/denglab/SeqSero2) added

[2021-06-18 14:32] rpetit3 opened #227 "[feature] Add Bactopia Tool for bactmap"
**Related To**

- [X] Bactopia Tools

**Is this something you would like to see added?**
I would like to see a Bactopia Tool for bactmap (https://github.com/nf-core/bactmap) added

**Describe the solution you'd like**
Use the final FASTQs from bactopia to allow skipping trimming and down sampling.

[2021-06-19 10:20] abhi18av commented on #227
We could also shrim/augment the code for fetching the samples using https://github.com/nf-core/fetchngs - what do you think?

[2021-06-21 12:33] shlomobl opened #229 "[question] gz error?"
Hi,
Is is possible that fastq files need to be gz compressed?
I am getting the following error.
Any help highly appreciated :-)

[a7/93d307] NOTE: Process `fastq_status (2)` terminated with an error exit status (139) -- Execution is retried (1)

Bactopia Execution Summary
    ---------------------------
    Command Line    : nextflow run /media/shlomo/DATADRIVE0/conda/envs/bactopia//share/bactopia

[2021-06-21 15:51] rpetit3 commented on #229
Hi @shlomobl,

The FASTQ files should be gzipped. Although if you think its worthwhile I can add support for uncompressed FASTQs.

Cheers,
Robert

[2021-06-21 15:59] shlomobl commented on #229
Hi,

Thanks for the prompt reply!

I can gzip the files then.

But it is worth mentioning in the guide that it works worth with gz only,
unless it is already there and I missed it.

The options when creating the fastqs.txt file gave me the impression that
you can use unzipped fastq.

Best,
Shlomo

On Mon, Jun 21, 2021, 18:51 Robert A. Petit III ***@***.***>
wrote:

[2021-06-21 17:12] rpetit3 commented on #229
Good call! Thank you very much for the feedback!

[2021-06-21 22:40] rpetit3 commented on #229
Going to close this one, feel free to reopen if gzipping the FASTQs doesn't solve the issue

[2021-06-21 22:40] #229 closed

[2021-06-24 14:36] haruosuz commented on #159
Dear @rpetit3:

bactopia can generate a core genome phylogeny using FastTree as well as IQ-TREE? A tree (.nwk) can be generated by FastTree from `core_alignment.fasta.gz` as well as `binary_presence_absence.fasta.gz`?

Supplying the IQ-TREE core genome phylogeny to Scoary with `--newicktree bactopia-tools/pirate/core-genome/iqtree/core-genome.treefile` printed the following Error:
[code]

[2021-06-25 05:21] rpetit3 commented on #159
I can totally add support for FastTree in the next version.

[2021-07-04 14:01] Steven-Kemp opened #232 "[bug] cannot download references "terminated with an error exit status (1)"
**Description**
When executing the pipeline with command:
bactopia --fastqs fastqs.txt --datasets datasets/ --species "Escherichia coli" --coverage 20 --outdir local_bactopia_farm --cpus 4

process seems to fail repeatedly on download references. Example error is
[cf/eeb300] NOTE: Process `download_references (F11H3CX_S51 - 1 reference(s))` terminated with an error exit status (1) -- Execution is

[2021-07-04 16:58] rpetit3 commented on #232
Hi @Steven-Kemp,

Looks like the issue (which you probably saw already) is with `rename`:
[code]

I'm wondering if your cluster is putting values at the front of the PATH (e.g. `PATH=/path/on/cluster/bin:/path/to/download_references/bin:....`), which might cause the non-Perl `rename` to be used.

Is it possible to use Singularity on your cluster and what is the queue system (SLURM, SGE, TORQUE, et

[2021-07-09 15:40] rpetit3 commented on #232
Hi @Steven-Kemp

Can you provide details on your cluster? I've been unable to replicate locally.

Cheers,
Robert

[2021-07-09 15:42] Steven-Kemp commented on #232
Hi @rpetit3

Sorry, just seen this.

Despite it being a HPC, it doesn't have a queue system in place. As so few people use it, we run it directly. I can indeed use Singularity, yes. Would you advise trying that instead?

Best wishes,
Steve

[2021-07-09 15:50] rpetit3 commented on #232
Yeah, lets give that a go, see if we can replicate it. Keep me posted!

[2021-07-09 15:54] Steven-Kemp commented on #232
Thanks - singularity gives an error:

 "pull is only supported for shub URIs"

[2021-07-09 16:52] rpetit3 commented on #232
hmmm, that's a new one for me.

Try `bactopia pull --default` to see if that helps.

[2021-07-16 12:16] Steven-Kemp commented on #232
Hi @rpetit3,

A little update - I couldn't get this to run with singularity, so I set up a local installation on my desktop - seems to be running smoothly at the moment however. It clearly didn't like my cluster environment I think.

[2021-07-16 14:03] rpetit3 commented on #232
Hi @Steven-Kemp,

Thank you for following up! Kind of glad it worked for you, but also bummed about the cluster environment.

Do you want to work together to see if we can get it working on your cluster? I would be happy to help out.

Robert

[2021-07-16 17:36] rpetit3 commented on #227
Looking into this, it might be possible to feed the [pseudocontigs](https://bactopia.github.io/output-overview/#variants) produced during a Bactopia run into `bactmap`

Reached to bactmap folks to out to get an idea.

[2021-07-16 17:55] rpetit3 commented on #225
Basically I think what I was trying to say was "replicate the `--includes` and `--excludes` parameters used in the Bactopia Tools"

[2021-07-22 13:12] haruosuz commented on #159
Dear @rpetit3:

bactopia can use pan‐ and core-genome analysis tools such as GET_HOMOLOGUES/GET_PHYLOMARKERS (https://pubmed.ncbi.nlm.nih.gov/29765358/) as well as Roary/PIRATE?

[2021-07-22 16:23] rpetit3 commented on #159
I vote yes! At the moment I'm working on https://github.com/bactopia/bactopia/tree/dsl2 which will be the basis of v2, and once that's available it'll make add these tools and suggestions much easier.

[2021-08-12 22:34] rpetit3 commented on #222
@simone-pignotti looking for some feedback if you don't mind.

I'm working on v2, since you are primarily using the cloud for analyses. Do you prefer every task to be a single program or include multiple programs in a single task?

Example:
[code]

I guess, do you notice start/stop times of jobs ever being an issue for really small tasks on the cloud? I've always been in the camp of preferring to

[2021-08-13 09:15] simone-pignotti commented on #222
Hello! I am on the same side: for the sake of performance, I'd rather pool short jobs with the "closest" long one (I do notice quite some overhead with AWS when spawning short jobs, although I can't really quantify that, sorry).
On the other hand, workflow definitions usually look clearer when each atomic task is defined separately.

Personally I love your idea of the nextflow-within-nextflow ince

[2021-08-13 20:49] rpetit3 opened #233 "Bactopia v2 Overview"
# Bactopia v2 Overview
With tremendous effort by @mxrcon and @abhi18av, the [foundation for migrating Bactopia to DSL2 has been laid out](https://github.com/bactopia/bactopia/pull/228). This transition represents the key milestone to push Bactopia to v2! (Super excited about this Davi and Abhinav!)

By switching to DSL2, the door for creating custom Bactopia workflows has been opened. For example,

[2021-08-13 20:51] rpetit3 commented on #233
This is a Work-In-Progress, and evolving. Please feel free to provide any feedback and requests.

[2021-08-13 21:54] rpetit3 commented on #222
This is very useful into Simone! I'm going to try and work some of this into v2. Thank you very much!

I really like Snakemake's job grouping. Looks like there might be a related feature request at https://github.com/nextflow-io/nextflow/issues/1822 I'm definitely going to keep my eye on it. Because like you suggest this would solve some of the issues when using the cloud.

[2021-08-14 12:22] Mxrcon commented on #233
@rpetit3 I completely agree with the design pattern that you're aiming to implement. Creating specific workflows for some genus makes complete sense and could be easily implemented with DSL2. Let me know if i can make myself useful on those tasks!

[2021-08-16 02:12] kusandeep opened #234 "Error executing process > 'update_antimicrobial_resistance (1)"
Hi @rpetit3,
I am getting Error executing process > 'update_antimicrobial_resistance (1) while trying to run my five assembly. Any idea what's happening here..

`Completed At    : 2021-08-16T14:05:11.828079+12:00
executor >  local (15)
[ff/a22531] process > gather_fastqs (CE280)               [100%] 5 of 5 ✔
[e8/6b63c2] process > fastq_status (3)                    [ 60%] 3 of 5
[4d/d8bed4] proces

[2021-08-16 02:58] kusandeep commented on #234
I don't even need to update "update_antimicrobial_resistance (1)" is there a way to skip this step..?

[2021-08-16 04:04] rpetit3 commented on #234
Hi @kusandeep,

It might be worth updating. In v1.6.2 I added the `--skip_amr` parameter. But more importantly removed the `update_antimicrobial_resistance` step and instead made it apart of `bactopia datasets`

Let me know if this helps!

[2021-08-16 04:11] kusandeep commented on #234
Thanks @rpetit3
conda update bactopia

only taking upto bactopia 1.5.5.
Is there anyway I could assign to bactopia 1.6.2  ?

[2021-08-16 04:22] rpetit3 commented on #234
Try `conda search bactopia`, just to make sure your seeing them.

If all else fails, maybe creating a new environment will do the trick.

[2021-08-16 04:23] kusandeep commented on #234
I could see a list up to 1.7.1

[2021-08-16 04:33] rpetit3 commented on #234
Hmmm, I wonder, if while in your bactopia environment you tried

[code]

side-note, I was being nosy ans saw nanopore in your path. I'm planning on adding support for nanopore reads in v2. In the meantime if you want to try Dragonflye (https://github.com/rpetit3/dragonflye), I would be interested to know how it works for you!

[2021-08-16 04:54] kusandeep commented on #234
Awesome. 1.7.1 is installed and seems like it did solve the issue (I will update this once the run is completed).
Much appreciated for the quick response and help.

Yes. Would be great If we get nanopore reads as an input. I will give it a go to Dragonfly and let you know there how that goes..

[2021-08-16 15:15] abhi18av commented on #233
Regarding the inclusion of outlined modules into nf-core, @Mxrcon  and I are happy to take this forward as discussed on slack.

I'm dividing these into two groups, for initiating a baseline draft module (we'll be collaborating extensively of course)

@abhi18av

- agrvate
- clonalframe
- ectyper
- eggnog_mapper
- fastani
- gtdb
- hicap
- ismapper

@Mxrcon

- kleborate
- mashtree
- phyloflash
- pira

[2021-08-16 16:18] rpetit3 commented on #232
Hi @Steven-Kemp,

I'm going to close this for now. If you want to work together on getting a profile created for your cluster, please feel free to reopen!

Robert

[2021-08-16 16:18] #232 closed

[2021-08-16 16:21] rpetit3 commented on #234
Hi @kusandeep! Hope everything finished well for you!

If you have any feedback or suggestions for Bactopia v2, please feel free to add them here https://github.com/bactopia/bactopia/issues/233

[2021-08-16 16:51] rpetit3 commented on #222
Another question for you.

I have this script `check-staging.py` that's included in each of the processes. It just makes sure the file has been staged on the instance. I ran into an issue with Batch, where sometimes Nextflow would start running a task before the inputs were staged. I'm wondering if I can drop these `check-staging` steps.

Have you experienced this type of behavior working with Bat

[2021-08-16 17:29] simone-pignotti commented on #222
I never did actually, at least not with nextflow versions >=20. It should be safe to drop them.

[2021-08-16 20:47] rpetit3 commented on #222
Great thanks for the info!

[2021-08-17 03:14] kusandeep commented on #234
Yes. It worked well,Thanks.

It took 35.8 CPU hours (see below) for 5 assembly, do you recon it's normal?

Completed at: 17-Aug-2021 14:21:08
Duration    : 1h 2m 41s
CPU hours   : **35.8**
Succeeded   : 110

About Bactopia v2 #233 - I am already excited to see those already listed tool in v2
Additionally, I am interested in   #157 . Also any pangenome visualisation tools would be great too #156

[2021-08-17 03:23] kusandeep commented on #233
Looking forward to Bactopia v2.
I am already excited to see those already listed tool in v2. Additionally, I am interested in   #157 ,  pangenome visualisation tools would be great too #156 and Scoary (https://github.com/AdmiralenOla/Scoary) #159

[2021-08-17 04:08] rpetit3 commented on #234
Awesome! going to go ahead and close this, as always, please feel free to reopen

[2021-08-17 04:08] #234 closed

[2021-08-20 07:26] abhi18av commented on #233
@rpetit3 , I need a bit of guidance here regarding the contributions to nf-core modules.

1. Which sub-commands exactly do we need from the tools mentioned here https://github.com/bactopia/bactopia/issues/233#issuecomment-899593455 . This is necessary to understand since the structure of modules is `TOOL/SUB_COMMAND`
2. The `nf-core/modules` generally rely on https://github.com/nf-core/test-datase

[2021-08-20 15:07] rpetit3 commented on #233
_1. Which sub-commands exactly do we need from the tools mentioned here Bactopia v2 Overview #233 (comment) . This is necessary to understand since the structure of modules is TOOL/SUB_COMMAND_

I'll get this put together, but I think most of them don't have subcommands

_2. The nf-core/modules generally rely on https://github.com/nf-core/test-datasets/ repo, which only has human and sars-cov data

[2021-08-23 05:18] kusandeep opened #235 "Rory with selected ref assemblies"
Hi @rpetit3,
Sorry, Here I am with another issue. It might just be me...

I am trying run Rory with list of assembly provided by --accession but it return with an error saying

ERROR: No downloads matched your filter. Please check your options.

I am very sure I have provided the correct assembly name. So just checking if anyone else having the same issue...?

[2021-08-23 12:48] rpetit3 commented on #235
Let's see if we can get this figured out! What's the reference accession you've tried?

[2021-08-23 20:37] kusandeep commented on #235
I have use the one below.
GCF_000341875.1
GCF_001593395.2
GCF_002968415.1
GCF_003073255.1
GCF_003285085.1
GCF_009738165.1
GCF_009789615.1
GCF_012647845.1
GCF_014495825.1
GCF_016415725.1
GCF_016834435.1

[2021-09-02 16:14] rpetit3 commented on #233
Small update. I've been doing some cleanup and  integrating more nf-core inspirations into v2. The clean up is to make things easier to maintain, and nf-core is because I think they are great practices to follow and by including them now would make a potential nf-core transition for Bactopia easier.

### `save_files` function for `publishDir`
I added a [`save_files`](https://github.com/bactopia/ba

[2021-09-02 23:50] kusandeep opened #236 "[question] Search for specific gene in all the analysed genome/isolates"
Hi @rpetit3,

I was wondering what is the efficient way to search for specific genes and extract the sequences from all analysed samples?

One way I could think of is to merge the databases from the blast folders and then and then conduct a search..? any suggestions?

Thanks,
Sandeep

[2021-09-03 15:25] rpetit3 commented on #236
Hi @kusandeep,

This is definitely something I would like to add to v2. I think for the time being, like you suggest, building a blast database will all samples would be the way to go.

Something like might work for you to build a blast database with all samples

[code]

[2021-09-03 15:58] rpetit3 commented on #235
Ah! I apologize for the slow response.

Trying using `--accessions` instead of `--accession`

[2021-09-04 01:05] kusandeep commented on #235
silly mistake. thanks for checking.

[2021-09-04 01:05] #235 closed

[2021-09-04 01:07] kusandeep commented on #236
Great thanks for the code. I will give this a go.

[2021-09-04 02:56] rpetit3 commented on #233
Small update, I took the [`lib` folder from nf-core's tools pipeline template](https://github.com/nf-core/tools/tree/master/nf_core/pipeline-template/lib), and hacked it to work for Bactopia.

In doing so, this provides:
- arg parsing and validation
- usage printing
- framework for bactopia tools
- sharable schemas between workflows

It also keeps Bactopia on track for maintaining convergent evolu

[2021-09-06 19:46] kusandeep opened #237 "gtdb check_gtdb error[question]"
Hi @rpetit3,

I am getting an error running gtdb on a group of my samples. the error from check_gtdb. see the error message below.

`Workflow` execution completed unsuccessfully!
The exit status of the task that caused the workflow execution to fail was: 1.

The full error message was:

Error executing process > 'check_gtdb'

Caused by:
  Process `check_gtdb` terminated with an error exit status (

[2021-09-06 19:58] rpetit3 commented on #237
Hi @kusandeep

Is the is fresh GTDB database download or an older one?

[2021-09-06 20:01] kusandeep commented on #237
It's old one.
downloaded on 26/11/2020

[2021-09-06 20:01] kusandeep commented on #237
Is there any way to check the integrity of the database..?

[2021-09-06 20:05] rpetit3 commented on #237
Its not you, the issue here is in v1.5.0 of GTDB they dropped backwards compatibility with previous database versions. (Release notes: https://github.com/Ecogenomics/GTDBTk/releases/tag/1.5.0)

So unfortunately, you'll have to download the latest version.

[2021-09-06 20:11] kusandeep commented on #237
Hmm, Interesting. In this case, could y please check the command below? to replace the old one with new

`bactopia tools gtdb --bactopia /bifo/itmp/SK_PMI/bactopia_out/amy/run2/ --gtdb /dataset/datacache/scratch/bactopia/gtdbtk/ --download_gtdb /dataset/datacache/scratch/bactopia/gtdbtk/ --outdir /bifo/itmp/SK_PMI/bactopia_out/amy/run2/ --cpus 16 --cleanup_workdir --force`

[2021-09-06 20:13] rpetit3 commented on #237
Looks good to me, is it giving you issues?

[2021-09-06 20:17] kusandeep commented on #237
Thanks looking good so far. will have to see when it get to the check_gtdb step (will take some time, I guess). I will close this issue if it runs normally.
Thanks again for the quick response.

[2021-09-06 22:07] kusandeep commented on #237
I am getting the same error again after running this command which seems to be working on
--download_gtdb /dataset/datacache/scratch/bactopia/gtdbtk/ step but not on check_gtdb.

Do you think instead of overwriting I should create a new folder with this new dataset?

[2021-09-07 04:53] kusandeep commented on #237
database issue solved, but I have new error no.  at pplacer step.

executor >  local (4)
[9c/b02e78] process > download_gtdb [100%] 1 of 1 ✔
[d7/5ab967] process > check_gtdb    [100%] 1 of 1 ✔
[93/b7b430] process > gtdb          [ 50%] 1 of 2, failed: 1, retries: 1
[9b/78ff08] NOTE: Process `gtdb` terminated with an error exit status (1) -- Execution is retried (1)

===============================

[2021-09-08 15:16] rpetit3 commented on #237
Going to see if I can replicate this locally

[2021-09-08 19:13] tanaes commented on #212
Can confirm I've been running into this as well.

[2021-09-08 20:07] rpetit3 commented on #212
Apologies about that, I'm hoping to get this cleared up in version 2

[2021-09-11 04:09] rpetit3 commented on #212
I think its related to this
[code]

Which might be related to how the inputs work on that process, going to reach out to NF team

[2021-09-11 05:13] rpetit3 commented on #212
Hey! Figured it out! Issue was in `gather_fastqs` (or `gather_samples` in v2) I was asking for Nextflow version which it did not like for some reason. After removing that, we can resume again.
[code]

This will be fixed in v2

[2021-09-11 05:51] rpetit3 commented on #233
V2 is getting super close!  I've linked the datasets into the DSL2 framework (also fixed an issue with the cache when using `-resume`).

[code]

I realize a lot of the code is hidden in the modules, but this is the Bactopia Workflow in its entirety. Its so much cleaner, and much easier to work with now

[code]

Next I will implementment a species-specific workflow (e.g. Staphopia). Then I think we

[2021-09-11 06:01] tanaes commented on #212
Huzzah! Thanks!

[2021-09-11 06:10] rpetit3 commented on #212
No problem! I know how frustrating this issue can be!

Hoping to get v2 out before the end of the month, so not too much longer

[2021-09-11 06:11] rpetit3 commented on #224
This will likely happen after v2 release

[2021-09-13 05:58] Shiyiru323 opened #238 "Error executing process > 'download_references"
Hi @rpetit3,
I am getting Error executing process > 'download_references (15001 - 1 reference(s))'，while trying to run my sample(named 15001) assembly. And process > 'assembly_qc (15001 - checkm)' terminated with an error exit status (1).
Any idea what's happening here..

executor > local (31)
[2b/38f93e] process > gather_fastqs (15001)                [100%] 1 of 1 ✔
[a8/3a585a] process > fastq_st

[2021-09-13 08:43] Shiyiru323 commented on #238
I have retried again, and process > 'download_references (15001 - 1 reference(s))' completed 100%. But process > 'assembly_qc (15001 - checkm)' still failed,which showed [67/996ea9] process > assembly_qc (15001 - checkm)                 [100%] 5 of 5, failed: 4, retries: 3 ✘

[2021-09-13 15:03] rpetit3 commented on #238
Hi @Shiyiru323 !

I'm sorry your having issues! Let's see if you can get this figured out.

Is there more to the error message with regards to `download_references`? Also, what system are you running Bactopia on?

For the time being you can skip the auto variant calling with `--disable_auto_variants`. This will allow you to continue, and is useful if you don't plan on using this feature.

Apologie

[2021-09-15 00:28] kusandeep opened #239 "[question]gather_fastqs"
HI @rpetit3,

I am trying to run some assemblies files but getting a funny error, see below.
the input fastaqs.txt file

![image](https://user-images.githubusercontent.com/38409245/133351136-4cb6c03d-463d-416b-b2f9-ddc3f633c264.png)

`Error executing process > 'gather_fastqs (CE046.fasta)'

Caused by:
  /dataset/SK_PMI/itmp/bactopia_out/nanopore/amy_run2/CE046.fasta/logs: Not a directory`

[2021-09-15 12:20] rpetit3 commented on #239
Was your fastqs.txt created using `bactopia prepare`?

[2021-09-15 15:00] Shiyiru323 commented on #238
Hi @rpetit3 ！
Thanks for your reply. The system I running Bactopia on is Linux.

I tried again today. The process > 'download_references (15001 - 1 reference(s))' completed 100%. But there is still a problem : process > 'assembly_qc (15001 - checkm)' still failed.

Below is the error message with regards to 'assembly_qc (15001 - checkm)'.

executor >  local (29)
[b1/973720] process > gather_fastqs

[2021-09-15 20:58] kusandeep commented on #239
Thanks, @rpetit3
I was always using .txt but I figured out that the issue was the sample name column where I had extention peasted as well.  Now everything runnuig fine now. Also could you please write me an example code to generate the fastqs.txt from the folder location below.

`kumars@invbfopp10:/dataset/SK_PMI/itmp/bactopia_out/nanopore/amy_run2/assemblies$ ls -l
total 50521
-rw-rw-r-- 1 kumar

[2021-09-15 21:22] rpetit3 commented on #239
Hey! Looks like you found a bug. The glob statement isn't working for assemblies. I'm going to rewrite it and have it fixed in the next version

It's not ideal, but this should work
[code]

Here's my example:
[code]

[2021-09-15 21:24] kusandeep commented on #239
Thanks, @rpetit3

[2021-09-15 21:25] rpetit3 commented on #239
No problem! Fixed submitted for next version: https://github.com/bactopia/bactopia/commit/ad3dcea896bf6ed1bf57de4f48367c09837bf904

[2021-09-16 04:24] #239 closed

[2021-09-16 19:42] rpetit3 commented on #238
This kind of sticks out to me, but I'm not sure the cause.

[code]

I wonder if the solution from here: https://askubuntu.com/questions/1081901/what-is-the-correct-way-to-fix-an-assertion-in-loadlocale-c  will help you

[code]

[2021-09-16 20:44] rpetit3 opened #240 "[bug] System memory incorrectly parses > 1000GB as 1Gb"
**Description**
System with 1.5TB of memory returns as only having 1GB of memory

[code]

**Steps to Reproduce**
Need a system with > 1000gb of memory!

**Expected Behavior**

The memory is parsed as `[1.5, TB]`, then 1.5 is converted to 1. The string should be in GB instead of TB.

[2021-09-16 20:57] rpetit3 commented on #240
Will be fixed in v2 https://github.com/bactopia/bactopia/commit/4a2a88947fb7daa52c830933a394b9180165490f

All memory values will be explicitly converted to gigabytes
[code]

[2021-09-17 06:08] al-kam2 opened #241 "[feature] Add Bactopia Tool for Gubbins"
**Related To**

- [ ] Bactopia
- [x] Bactopia Tools

**Is this something you would like to see added?**
I would like to see a Bactopia Tool for Gubbins (https://github.com/sanger-pathogens/gubbins) added, which does recombination analysis.

**Describe the solution you'd like**
Generation of visual representations of recombination

**Additional Information**
Unlike ClonalFrameML, recombination anal

[2021-09-17 17:31] lskatz opened #242 "[feature] cgMLST and wgMLST"
**Related To**

- [ ] Bactopia
- [x] Bactopia Tools

**Is this related to a problem?**

Now that we have core genome MLST (cgMLST) and whole genome MLST (wgMLST) methods out there,
it would be amazing to include some workflow for analyzing these large schemes.

**Is this something you would like to see added?**

I would love to see a new cgMLST tool in Bactopia that works on genome assemblies.

**

[2021-09-19 08:01] kusandeep opened #243 "ANI tool error"
Hi @rpetit3, I am getting an error running ANI. See the error below. Could you please run some samples at your end and see if everything is alright?

` bactopia tools fastani --bactopia /bifo/itmp/SK_PMI/bactopia_out/ --cpus 4 --outdir /bifo/itmp/SK_PMI/bactopia_out/ --force`

`Error executing process > 'calculate_ani'

Caused by:
  No such property: local_reference for class: ScriptEF490762C6FF12

[2021-09-20 01:02] llk578496 commented on #238
Hi @rpetit3 @Shiyiru323, I have a similar problem too. I am running for 39 samples and only the checkM process failed. Other process completed successfully.

[2021-09-20 13:40] rpetit3 commented on #243
Going to look into this today.

Are you in a rush to get this fixed? If yes, I'll get a small patch fix released instead of waiting until v2

[2021-09-20 17:45] rpetit3 commented on #243
I get this error, going to see about getting a fix put in place for you

V2, will include tests to help capture these types of "robert made a change and broke something" instances!

[2021-09-20 18:47] rpetit3 commented on #238
Hi @llk578496 !

Are you also getting this error?
[code]

[2021-09-20 20:18] kusandeep commented on #243
Thanks @rpetit3 not in a rush, but would be good to get this fix. Indeed looking forward to V2 for sure. Also would be great if you could have a look on #237

[2021-09-20 21:22] rpetit3 commented on #243
This is fixed now, https://github.com/bactopia/bactopia/commit/fa6b7220b5d337e703b960a38c184a5fa6c7b046

I'll try to get v1.7.2 pushed in the next day or so.

[2021-09-20 21:51] rpetit3 commented on #243
We can try a quick and dirty approach if you'd rather not wait

Basically we're downloading the latest workflow and replacing your current one with it
[code]

[2021-09-20 21:56] kusandeep commented on #243
work like a charm. Thanks.

[2021-09-20 21:56] #243 closed

[2021-09-20 21:57] rpetit3 commented on #243
Awesome! I'll hold off on v1.7.2 for now

working on GTDB, but as you know it takes forever to download the initial db

[2021-09-21 00:26] rpetit3 commented on #237
OK! I'm getting an error too, although its not very helpful.

[code]

[code]

I'm going to see if I can figure out what's happening

[2021-09-21 01:06] rpetit3 commented on #237
@kusandeep It looks like I ran out of memory.

[2021-09-22 01:18] llk578496 commented on #238
@rpetit3
Yes. I got the same error in the command.err and command.log files in the work directory.

[2021-09-22 03:20] kusandeep commented on #237
In my case

[2021-09-22 03:32] rpetit3 commented on #237
I get to the third step as well.

Just curious how much memory does your machine have?

[2021-09-22 04:52] kusandeep commented on #237
Our system is very resourceful but needs to check the load though. I think I should run the job in Slurm where I can specify the no of CPU and memory...
What do you recommend for 30 genome queries with  GTDB?

[2021-09-22 05:42] rpetit3 commented on #237
I'd recommend a node with atleast 64GB of memory, and whatever you can get CPU wise.

[2021-09-22 10:13] llk578496 commented on #238
@rpetit3
Yes, I got the same error previously, so I followed the solution add both `export LC_ALL=C` and `export LANG=C` to the `~/.bashrc`. The error seems disappeared! Thanks a lot!

BTW, I still got some process failed but it shows completed successfully at the end. May I ask could I ignore these "failed" process?

[d0/4dc0a4] process > fastq_status (36)

[2021-09-23 05:37] kusandeep commented on #237
And It worked . Thanks.

[2021-09-23 05:37] #237 closed

[2021-09-23 05:38] rpetit3 commented on #237
Look at that! Glad it worked for you! Cheers @kusandeep

[2021-09-23 17:05] rpetit3 commented on #233
Small update - I've incorporated nf-core/modules usage of the `meta` variable to store general info (e.g. id, single_end, etc...). I've always wanted to get away from transporting multiple `val` inputs/outputs between processes and this does that.

I updated the tests for this change, and I've also implemented this in GitHub Actions. So we can now quickly run all the tests that we're making

[2021-09-23 17:09] rpetit3 commented on #238
@llk578496 so you can feel free to ignore those failures. In most cases they probably exceeded the maximum time limit and were requeued with a longer time limit

[2021-09-23 18:19] llk578496 commented on #238
@rpetit3 oic. Thanks a lot!

[2021-09-24 06:44] linfanxiao opened #244 "fail to run bactopia due to the incompatible packages"
**Description**
Hi, developers,
I tried to run bactopia like this
[code]
**Steps to Reproduce**
Steps to reproduce the behavior:
and I got this error
[code]
I tried to build env like this
Found:
[code]
But it did not work

**Execution Environment**

- Bactopia Version: bactopia 1.7.1
- OS: Ubuntu 20.04.3 LTS
- Environment: conda

**Additional Information**
[code]
Thanks for your time !

[2021-09-27 17:12] rpetit3 commented on #244
Hi @linfanxiao,

What does your `base` environment look like? I've seen something similar before and it ended being related with the `base` env

Cheers,
Robert

[2021-09-27 18:16] rpetit3 commented on #233
`mf-core/modules` is going through some pretty exciting times at the moment related to a new change in version capturing (https://github.com/nf-core/modules/pull/665). These changes are likely to delay some submissions to `nf-core/modules`.

I'm also finding come cases where the SARS-CoV-2 test data doesn't work well with bacterial tools. To address this I've submitted a PR (https://github.com/nf-

[2021-09-29 12:01] linfanxiao commented on #244
Hi rpetit3,
I am so sorry to reply you so late, this is my base env .
[code]
I have tried many methods to solve this error , but none of them works...

[2021-09-30 03:19] rpetit3 commented on #244
@linfanxiao Ok we have a few options.

1. If you can use containers (Docker or Singularity), I would suggest to use them

2. Clean up your `base` environment

Here's what my `base` environment looks like:
[code]

I've had a user in the past that ran into unsolvable environments due to their `base` environment.

As a quick test, you create an alternate miniconda install (e.g. `~/miniconda3-test`),

[2021-09-30 14:49] embatty opened #245 "[bug] download_references fails when the reference genome has been removed"
I found an edge case where the auto variant calling chooses the nearest reference based on a minmer sketch but the
reference genome has been removed/superseded in RefSeq and the sketch hasn't been updated yet.
This was tested with datasets downloaded on 29/09/2021.
To reproduce use this accession:
[code]
This tries to download reference GCA_002257935.3, but this has been replaced with GCA_00225793

[2021-09-30 14:56] rpetit3 commented on #245
Thank you for posting this @embatty !

I thought I had this figured out with a quick check to see if the version had been updated. Going to look into why this accession fails that update.

Oh! I also wonder if this might be related to ncbi-genome-download caching. Will update soon!

Thanks again!

[2021-10-01 02:28] rpetit3 commented on #233
Small update: 11 of 18 bactopia tools have either been merged into `nf-core/modules` or have an open PR. I think that's pretty awesome! Thank you for the help @abhi18av!

I'm hoping to get a few more PRs open tomorrow.

[2021-10-02 04:00] linfanxiao commented on #244
yes ! It works well when I use Docker. So it may be the incompatible problem of my base environment. Thanks,rpetit3.

[2021-10-02 04:29] rpetit3 commented on #244
Great! Glad its working for you. Going to close this for now, please feel free to reopen!

[2021-10-02 04:29] #244 closed

[2021-10-05 15:47] gabimuir commented on #206
I seem to be having this problem now, this time requiring amrfinder software version 3.10.16

[code]

Is there a way to manually downgrade the amrfinderdb to quickly fix the problem? Or a way to bypass the amrfinder step?

[2021-10-05 16:04] rpetit3 commented on #206
You should be able to skip this step using `--skip_amr`

I'll work on improving this in v2

[2021-10-14 18:00] rpetit3 commented on #222
Hi @simone-pignotti been a while but I think I'm ready to tackle this!

I'm curious to get your thoughts on how you would like to tell bactopia to run certain additional steps.

I'm wondering if it should be automated for some species specific tools (spatyper, kleborate, extyper, etc...) based on the value of `--species`, or if the user should provide a list of additional steps they would like to

[2021-10-15 03:46] rpetit3 commented on #233
Thank you for the feedback @Mxrcon!

_You think that automated use of the bactopia tools will be a standard on the V2? This seems to be a good addition as the v2 is moving in the direction of species specific workflows._

I think yes, but we'll have to strike a balance. There are some tools (e.g. `AgrVATE`, `spaTyper`) that are super quick and computationally cheap. For these types of tools I say

[2021-10-15 06:46] safinaARK opened #246 "Incomplete results of Bactopia"
Dear Team,

I have run bactopia using the following command :
**command:** `bactopia --R1 ERR200399_1.fastq.gz --R2 ERR200399_2.fastq.gz --sample ERR200399 --datasets /home/sar/datasets/ --species "Shigella Flexneri" --coverage 100 --genome_size median --cpus 6 --outdir ./local-single-sample`

but I'm facing an issue with the final results as well not all the analysis is done: Issue faced:
Error e

[2021-10-15 13:18] rpetit3 commented on #246
Hi @safinaARK !

Let's see if we can get this figured out! I'm wondering if the count31mers was killed due to some time or memory limit.

What kind of system did you run Bactopia on?

Robert

[2021-10-18 02:05] spleonard1 opened #247 "[bug] amrfinder version in Conda environments need update to match database"
**Description**
A description of the bug you are experiencing.
Running through the bactopia tutorial on my Mac, the workflow errors out at the amrfinder step with this message:

WARN: Task runtime metrics are not reported when using macOS without a container engine
[99/e7e69d] NOTE: Process `antimicrobial_resistance (SRX4563634)` terminated with an error exit status (1) -- Execution is retried (1)

[2021-10-18 20:30] rpetit3 commented on #233
@simone-pignotti  totally agree with @abhi18av 's points

I think for the initial v2 release we might not be quite ready for direct import of bactopia modules (eg. `assemble_genome`) into your own workflows. However I have been thinking about ways to disentangling the modules and configs to make them portable similar to `nf-core/modules`.

[2021-10-18 20:42] #227 closed

[2021-10-21 03:33] llk578496 opened #248 "[bactopia-tool] Add Phylophlan3.0.2 in Bactopia Tools"
**Related To**
- [ ] Bactopia Tools

**Is this something you would like to see added?**
[Phylophlan3.0.2](https://github.com/biobakery/phylophlan) does the phylogenetic analysis on prokaryotes based on core-protein, would like to see it in the Bactopia Tools.

[2021-10-21 16:46] telatin opened #249 "[bug] path with spaces cause problems with "datasets""
**Description**
I try to avoid like plague paths with spaces, but sometimes they slip through.

**Steps to Reproduce**
Steps to reproduce the behaviour:
[code]

**Expected Behavior**
Download of the datasets

**Execution Environment**

- Bactopia Version: 1.7.1
- OS: ubuntu
- Environment: conda

**Additional Information**
Any other information you think might be helpful in squashing this bug.

[2021-10-22 07:51] telatin opened #250 "[bug] AMRfinder complains about db version?"
**Description**
A description of the bug you are experiencing.

**Steps to Reproduce**
Steps to reproduce the behavior:
[code]
Leads to:
[code]

**Expected Behavior**
No error spat from amrfinder

**Execution Environment**

- Bactopia Version: 1.7.1
- OS: ubuntu 20.04.3 LTS
- Environment: conda (fresh installation)

**Comments**
Its linked to #247 to keep the full infos of my execution if this can

[2021-11-02 12:46] haruosuz commented on #159
Dear @rpetit3:

I wonder if bactopia can modify Prokka annotations (gene and product names) and/or PIRATE annotations (in `bactopia-tools/pirate/core-genome/pirate/PIRATE.gene_families.tsv`)? For example, annotations with databases (e.g. MEGARes, VFDB, eggNOG) can be appended to (or be substituted for) the Prokka/PIRATE annotations in bactopia?

[2021-11-02 15:14] rpetit3 commented on #159
I think that's a great idea, and something we can plan for v2 (maybe not initial v2 release, but something to add)

[2021-11-02 21:52] rpetit3 commented on #233
I think we are getting super close, to being ready for v2 release.

I was able to submit a few more PRs to nf-core/modules (`ectyper`, `tbprofiler`, `clonalframeml`, `fastq-scan`, `ncbi-genome-download`).  In stead of waiting on their review, I went ahead and implemented them into Bactopia.

I've converted almost all of the v1 Bactopia Tools to DSL2. It's a very manual process at the moment, but n

[2021-11-03 07:31] abhi18av commented on #233
This is awesome - I am learning a lot from the DSl1 -> DSL2 (+ nf-core modules) in Bactopia for some other workflows I've written. Thanks for sharing the updates @rpetit3! 😊

[2021-11-08 00:54] Mxrcon commented on #248
Found an bug while trying to develop a module: https://github.com/biobakery/phylophlan/issues/73 , waiting for a possible solution to proceed with the development

[2021-11-08 18:07] rpetit3 commented on #248
Thank you for the update @Mxrcon

[2021-11-19 10:34] kimhoang098 opened #252 "[bug] unable to call variants"
Hi Robert!

**Description**
Bactopia seemed to be running until it gets to the calling variants against the reference genome (user-populated) step, where it attempts it a few times but without success.

**Steps to Reproduce**
Steps to reproduce the behavior:
Ran Bactopia with --skip_amr and --disable_auto_variants

When the error started:
executor >  local (16)
[6a/55a225] process > gather_fastqs

[2021-11-19 14:33] rpetit3 commented on #252
Hi @kimhoang098!

This looks related to https://github.com/rpetit3/vcf-annotator/issues/9

I'll be sure to fix this in v2, but for now you can try
[code]

Let me know if that works for you!

Cheers,
Robert

[2021-11-22 00:43] Shiyiru323 commented on #238
@rpetit3 I followed the solution to add both export LC_ALL=C and export LANG=C to the ~/.bashrc.

Btw, I still got some processes in assembly_qc failed but it seems completed successfully at the end. The difference was in Bactopia Execution Summary,  "Success         : false".  And llk578496's was "Success         : true".
May I ask could I ignore these "failed" process?

executor >  local (29)
[d

[2021-11-22 11:18] kimhoang098 commented on #252
Thanks, Robert! I ran it again after trying what you suggested and still got the same error. It will finish the run if there are no files in the reference-genomes and mapping-sequences directories, so it's a quick fix for now.

[2021-11-29 20:32] rpetit3 commented on #245
@embatty ! Good news, I have fixed this and it'll be in v2. The `select-references` script checked if the accession had been supressed but not if it had been updated.

It will now check if its updated and report the change.

[code]

[2021-11-29 21:39] rpetit3 commented on #233
Some of these aren't quite ready for V2, or need v2 before they can be accomplished. For now I'm going to put them here

### Implement `pytest` for testing
I'd like to create a suite of tests that are operated by `pytest` and `pytest-workflows`. The `nf-core/modules` team has a [framework](https://github.com/nf-core/modules#running-tests-manually) that can be extended to Bactopia.

- Create Tests

[2021-11-30 08:29] Najmabms opened #253 "Off line bactopia crushs"
Hi
I am using bactopia off line. I have my fastq folder ready and prepared. However, whenever I run the multiple samples FOFN command, it crushes. I am new to all this. I hope someone can help. below is the command used and the error generated. Thanks

COMMAND: bactopia --fastqs test-samples --datasets datasets/ --coverage 100 --cpus 2 --outdir local-multiple-samples

ERROR:

Traceback (most recen

[2021-11-30 23:17] sepidehalamouti opened #255 "fail due to mapping and assembly genome through mqsub"
Hello,
I'm following the tutorial here: "https://bactopia.github.io/tutorial/" on a linux cluster (CentOS 6.10).

**Here is the buildb_custom.sh used in the conda environment:**
#!/usr/bin/env bash
#SBATCH -A SNIC2018-3-18
#SBATCH -N 1
#SBATCH --ntasks 1
#SBATCH --cpus-per-task 20
#SBATCH -C MEM64|MEM128
#SBATCH -t 1-00:00:00
/data/home/salamouti/anaconda3/envs/bactopia/bin/bactopia datasets --ari

[2021-12-01 00:52] rpetit3 commented on #255
Hi @sepidehalamouti, still want help with this? Happy to help if you think I can

[2021-12-01 02:31] rpetit3 commented on #253
Hi @Najmabms

Let's see if we can get this figured out!

Do you think you can post the contents of:
[code]

I'm wondering if a program is trying to use internet for some reason (maybe analytics?)

[2021-12-01 08:23] Najmabms commented on #253
all the files (.command.err, .command.log, .command.out) are emptey.

[2021-12-01 21:24] rpetit3 commented on #253
Hmmm, are there any other files in that directory?

[2021-12-01 21:44] rpetit3 commented on #252
@kimhoang098 I'm going to close this for now, but by chance do you have a genbank  and VCF file you can share? I'd like to get this fixed on the `vcf-annotator` side of things

[2021-12-01 21:44] #252 closed

[2021-12-01 21:45] rpetit3 commented on #246
@safinaARK I'm going to close this for now, please feel free to reopen if you think I can help with anything

[2021-12-01 21:45] #246 closed

[2021-12-01 21:49] rpetit3 commented on #238
Hi @Shiyiru323

Hmmm, unfortunately I think we might not be able to ignore that. I might consider adding an option to skip that step, or maybe move `checkm` to a Bactopia Tool since it seems to be causing issues.

I'm not opposed to moving `checkm` because it could simplify a few other house keeping things.

What are your thoughts?

[2021-12-01 21:50] rpetit3 commented on #220
Hi @mboum

I'm going to close this for now, please feel to reopen if you think I can help with anything.

[2021-12-01 21:50] #220 closed

[2021-12-02 17:31] shlomobl commented on #242
Hi,

First of all thanks for putting all these tools together. I've been using many of them but having everything within a single pipeline is nice!

For pangenomes I suggest to take a look at PEPPAN (https://github.com/zheminzhou/PEPPAN).

I don't have experience with this pipeline but I'm about to use it. From what I've been reading, though, most of other pangenome pipelines target single species

[2021-12-03 11:10] kimhoang098 commented on #252
Hi Robert,

Unfortunately it didn’t get as far as creating a VCF file, and the reference genome I was using is not on GenBank yet. Thank you for looking into it though!

Kim

[2021-12-03 16:04] rpetit3 opened #256 "[bactopia-tool] PEPPAN - Phylogeny Enhanded Prediction of PAN-genome"
In order for a tool to be added to [Bactopia Tools](https://bactopia.github.io//bactopia-tools/#available-bactopia-tools), it must be available on  [Bioconda](https://bioconda.github.io/) and [nf-core/modules](https://github.com/nf-core/modules). __But!!__ Don't let that stop you from suggesting a tool! Time permitting and depending on the feasibility I can help youget a tool on Bioconda and/or nf

[2021-12-03 16:05] rpetit3 commented on #242
With Bactopia v2, I can totally do this! I've started another issue here: https://github.com/bactopia/bactopia/issues/256

Thank you very much for the suggestion

[2021-12-03 16:08] rpetit3 commented on #252
No problem! Let me know if you want me to update `vcf-annotator` to work with your reference. I think it's just using a naming format I haven't accommodated for, so it should be straight forward. For this I'll just need the reference genbank file.

[2021-12-05 23:19] rpetit3 commented on #250
Hi @telatin,

I've release v2 (https://github.com/bactopia/bactopia/releases/tag/v2.0.0) and this should now be fixed. It's likely you'll need to rebuild the dataset for it to work. Please feel free to reopen if not.

Cheers!
Robert

[2021-12-05 23:19] #250 closed

[2021-12-05 23:20] rpetit3 commented on #247
Hi @spleonard1

I've release v2 (https://github.com/bactopia/bactopia/releases/tag/v2.0.0) and this should now be fixed. It's likely you'll need to rebuild the dataset for it to work. Please feel free to reopen if not.

Cheers!
Robert

[2021-12-05 23:20] #247 closed

[2021-12-05 23:20] rpetit3 commented on #245
Hi @embatty

I've release v2 (https://github.com/bactopia/bactopia/releases/tag/v2.0.0) and this should now be fixed.  Please feel free to reopen if not.

Cheers!
Robert

[2021-12-05 23:20] #245 closed

[2021-12-05 23:21] rpetit3 commented on #226
included in  v2 (https://github.com/bactopia/bactopia/releases/tag/v2.0.0)

[2021-12-05 23:21] #226 closed

[2021-12-05 23:22] rpetit3 commented on #222
@simone-pignotti I've release v2 (https://github.com/bactopia/bactopia/releases/tag/v2.0.0) which is now completely DSL2. This should give us a path to make your suggestion a reality!

Cheers!
Robert

[2021-12-05 23:23] rpetit3 commented on #212
Hi @tanaes

I've release v2 (https://github.com/bactopia/bactopia/releases/tag/v2.0.0) and this should now be fixed.  Please let me know if it still persists for you!

Cheers!
Robert

[2021-12-05 23:23] #212 closed

[2021-12-05 23:23] rpetit3 commented on #240
This should be fixed in  v2 (https://github.com/bactopia/bactopia/releases/tag/v2.0.0)

[2021-12-05 23:23] #240 closed

[2021-12-05 23:24] tanaes commented on #212
Great, thanks! Looking forward to trying it out.

[2021-12-05 23:28] rpetit3 commented on #233
Happy to report v2 has been released https://github.com/bactopia/bactopia/releases/tag/v2.0.0

Thank you very much @Mxrcon and @abhi18av for your help, and everyone for your feedback! Super excited to see where Bactopia goes from here!

[2021-12-05 23:28] #233 closed

[2021-12-06 08:17] shlomobl opened #257 "--skipp_plsdb"
Hi,

The datasets command seem not to be recognizing the "--skip_plsdb" option.

Worth taking a look at it :-)

Thanks!

[2021-12-06 13:39] rpetit3 commented on #257
Hi @shlomobl,

Did I have this in the docs somewhere? (I need to update docs!) I removed `PLDB` from Bactopia Datasets a few versions back, so its always skipped now.

Cheers,
Robert

[2021-12-06 13:46] simone-pignotti commented on #222
Great work @rpetit3, I will try to add some custom steps as soon as I can!
I guess the only thing missing before closing this issue would be testing and adding a doc page with a simple example showing how to add a step at the end of the pipeline.
[ectyper](https://github.com/nf-core/modules/tree/master/modules/ectyper) may be a good candidate, since it's already wrapped in nf-core, what do you thi

[2021-12-06 13:53] rpetit3 commented on #222
Even better is I've already got it into Bactopia v2! https://github.com/bactopia/bactopia/tree/master/subworkflows/local/ectyper

So I think this would need to be added to the bactopia workflow

[code]

I'm planning on revamping the docs, its partially there. So hopefully next few weeks

[2021-12-06 14:09] simone-pignotti commented on #222
Wow, that's great!

[2021-12-06 15:36] avantonder opened #258 "Cannot compare java.lang.Integer with value '60' and nextflow.util.Duration with value '12h'"
**Description**
I'm trying to run bactopia on a small S. aureus test dataset (n = 11).  Following the tutorial, I ran bactopia datasets, bactopia prepare, copied the Staph specific files from github and then tried to run the pipeline using my own config file (the same one that works with nf-core pipelines).  I set -profile to singularity which downloaded the singularity images to the default locat

[2021-12-06 16:00] rpetit3 commented on #258
Hi @avantonder

Thank you very much for bringing this up. `max_time` will need to be an integer representing minutes (e.g. 720 for 12 hours).

Also, the `max_memory`, `max_cpus`, `max_time` represent max resources per-process. So you should be ok, keeping the defaults. Here's a link (needs updating) to some info on how these affect each proces https://bactopia.github.io/usage-basic/#-cpus

Let me

[2021-12-06 16:17] shlomobl commented on #257
I got an error message that it does not recognize it as a bactopia
parameter.

Also, the --update_amr parameter is giving the same error.

Both are described in the docs.

Best,
Shlomo

On Mon, Dec 6, 2021, 15:39 Robert A. Petit III ***@***.***>
wrote:

[2021-12-06 16:23] rpetit3 commented on #257
Okie doke! Thank you for this info, I'm in the process of updating the docs for v2, fill get these removed

[2021-12-06 17:54] avantonder commented on #258
Thanks @rpetit3 That seemed to do the trick. I'll edit the config file to remove the max resources next time round.

[2021-12-06 18:03] rpetit3 commented on #258
Awesome! glad it worked for you. I'll improve the docs (they are on my list to update!)

Please feel free to reopen or reach out if anything pops up.

Cheers,
Robert

[2021-12-06 18:03] #258 closed

[2021-12-06 19:16] rpetit3 commented on #257
Ok, removed this in the docs. Thank you for pointing them out. I'll slowly be working my way through.

Let me know if you have any suggestions!

Thanks agian,
Robert

[2021-12-06 19:16] #257 closed

[2021-12-06 23:44] sepidehalamouti commented on #255
Hi Robert
Sorry to miss your response. I resolved the issue with building the database. However, I'm experiencing new issues with submitting the job on our linux cluster (CentOS 6.10). I want to run the bactopia on a large number of genomes (e.g., 10,000 - can you please let me know how long that would roughly take for S. aureus) and I need some help to run the job with the sufficient number of cp

[2021-12-06 23:50] rpetit3 commented on #255
Hi @sepidehalamouti

I think for starters lets get you updated to v2.0.0 (Just released yesterday https://github.com/bactopia/bactopia/releases/tag/v2.0.0)

Then, can you tell me more about your cluster? (E.g. does it have a queue system like SLURM or SGE, also can singularity be used on your cluster?

I think from there we should be able to get going.

As far as how long to process 10k genomes, t

[2021-12-07 00:11] sepidehalamouti commented on #255
Hi Robert,
Thank you for the response. I will update to the new version now.

sge is what is running on our cluster. No singularity cannot be used, the OS will not support it.

Regarding the data, yes I would rather to work on the curated ENA samples.

**And here is some specific about the size of our cluster:**
CPU(s):                32
On-line CPU(s) list:   0-31
Thread(s) per core:    2
Socket(

[2021-12-07 00:16] rpetit3 commented on #255
If its S. aureus, think this would be useful? https://emergent.emory.edu/blog/posts/bactopia-aws-and-67000-genomes/

I processed ~70k S. aureus genomes last year about this time.

Happy to share data that I have.

[2021-12-07 00:24] sepidehalamouti commented on #255
Thank you Robert. I will read through the blog and greatly appreciate your help and data sharing. After S. aureus, I'm planning on moving to other human bacterial pathogens, some of which also have a large number of clinical genome (e.g., E. coli(